@require '_config'

html
body
  font-family $fontFamily
  height 100%
  width 100%
  padding 0
  margin 0

*
*:before
*:after
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-font-smoothing antialiased
  box-sizing border-box

a
  color $gfwBlue

button
  border none

.hidden
  display none !important

.flex
  display flex

.inline-flex
  display inline-flex

.invisible
  visibility hidden

.relative
  position relative

.pointer
  cursor pointer

.inline-block
  display inline-block

.text-center
  text-align center

.mobile-hide
  display none

.mobile-show
  display block

.custom-scroll::-webkit-scrollbar
  height 8px
  width 8px

.custom-scroll::-webkit-scrollbar-thumb
  background #888
  border-radius 0

.shadow
  box-shadow 2px 2px 2px rgba(0,0,0,0.25)

.side-shadow
  box-shadow 0px 4px 0px #fff, 0px 0px 0px #fff, 2px 2px 2px rgba(0,0,0,0.1), 2px 2px 2px rgba(0,0,0,0.15)

.gfw-link
  text-decoration underline
  color $gfwBlue

.info-icon
  background-color $gfwBlue
  display inline-block
  position absolute
  border-radius 50%
  height 14px
  width 14px
  right 10px
  top 4px

.info-icon svg
  position absolute
  margin auto
  fill white
  height 8px
  width 8px
  bottom 0
  right 0
  left 0
  top 0

.gfw-btn
  transition background 0.15s linear, opacity .15s linear
  border-radius 35px
  text-align center
  line-height 36px
  padding 0 15px
  height 36px
  opacity 1
  user-select none
  &.sml
    line-height 24px
    font-size 10px
    height 24px
  &.blue
    background $gfwBlue
    color white
    &:hover
      background darken($gfwBlue, 25%)
  &.white
    border 1px solid $gfwBlue
    background white
    color $darkGray
    &:hover
      background darken(white, 10%)
  &[disabled]
    opacity .25

@media (min-width: 850px)
  .mobile-hide
    display block
  .mobile-show
    display none
