// Define App Variables Here
$fontFamily = 'Fira Sans', Georgia, serif
$lightGrayHighlight = #EEE
$lightGrayBorder = #CCC
$lightGray = #AAA
$darkGray = #555
$disabledBackground = #999
$disabledFont = #999
// Sharing Colors
$facebookBlue = #36589F
$twitterBlue = #568DCE
$googleRed = #D9502B
// Layer Colors
$treeCoverDensity = #AAEB75
$treeCoverLoss = #FF6398
$treeCoverGain = #6C69E8
$historicLoss = #FFFF66
$activeFires = #EB5100
$waterStress = #ED9000
$watersheds = #828282
$burnScars = #CE2A1F
$majorDams = #C9B3D8
$sediment = #A69164
$wetlands = #96FAE1
$gfwBlue = #4099CE
