// Define App Variables Here
$fontFamily = 'Fira Sans', Georgia, serif
$lightGrayHighlight = #EEE
$lightGrayBorder = #CCC
$lightGray = #AAA
$darkGray = #555
$disabledBackground = #999
$disabledFont = #999
// Sharing Colors
$facebookBlue = #36589F
$twitterBlue = #568DCE
$googleRed = #D9502B
// Layer Colors
$treeCoverDensity = #AAEB75
$treeCoverLoss = #FF6398
$treeCoverGain = #6C69E8
$loggingConcessions = #FFFF66
$activeFires = #EB5100
$noaaFires = #D9502B
$rspoOilPalm = #ED9000
$woodFiber = #828282
$burnScars = #CE2A1F
$moratorium = #C9B3D8
$oilPalm = #A69164
$peatlands = #A69164
$protectedAreas = #A69164
$wetlands = #96FAE1
$primaryForests = #4099CE
$airQuality = #4099CE
$gfwBlue = #e7002f
//TODO: refactor instances of $gfwBlue with $gfwRed

//TODO: Refactor media querys
$mq-mobile = 850px
$mq-mobile-small = 550px
