// Loaded inline in html, image basepath is css/images/*.{jpg|png|svg}
.control-panel
  background #FFF
  bottom 20px
  right 40px
  width 76px

  +below($mq-mobile)
    bottom 10px
    right 1em
    width 48px
    bottom 70px
    background rgba(255, 255, 255, .5)

  & ul
    border-bottom 1px solid $lightGray
    flex-wrap wrap
    display flex
    padding 0
    margin 0
    +below($mq-mobile)
      border-left 1px solid $lightGray
  & li
    border-right 1px solid $lightGray
    border-top 1px solid $lightGray
    box-sizing border-box
    display flex
    height 38px
    width 38px
    +below($mq-mobile)
      height 48px
      width 48px
  & li:nth-child(odd)
    +above($mq-mobile)
      border-left 1px solid $lightGray
  & li:active
    background $lightGrayHighlight
    +below($mq-mobile)
      background #FFF
  & li:hover
    background $lightGrayHighlight
    +below($mq-mobile)
      background #FFF

.panel-icon
  fill $darkGray
  display block
  margin auto
  height 25px
  width 25px

  .search-map &
    height 17px
    width 17px

.basemap-switcher
  transition all 0.3s ease-in-out
  border 1px solid $lightGray
  justify-content center
  box-sizing border-box
  position absolute
  background white
  visibility hidden
  display flex
  height 100%
  width auto
  right 86px
  opacity 0
  top 0
  &.open
    visibility visible
    opacity 1

  +below($mq-mobile)
    top initial
    bottom 0px
    right 100%
    margin-right 15px
    height auto

.basemap-item
  text-align left
  cursor pointer
  padding 5px
  padding-bottom 0
  padding-top 7px
  border-top 1px solid #e5e5df
  &:hover
    background-color #EEEEEE
  &.active
    background-color #EEEEEE
  .info-icon
    top inherit
    margin-top 20px
    margin-right 20px

.basemap-label
  font-size 13px
  text-transform uppercase
  padding-left 20px
  color gray
  position absolute
  margin-top 15px

.basemap-thumbnail
  height 50px
  width 50px
  border-radius 30px
  display inline-block
  &.active
    background-color gray
  &.dark-gray-basemap
    background url('images/dark-gray-basemap.png') no-repeat center
  &.topo-basemap
    background url('images/topo-basemap.jpg') no-repeat center
  &.wri-basemap
    background url('images/wri-basemap.png') no-repeat center
  &.imagery-basemap
    background url('images/imagery-basemap.jpg') no-repeat center
