// Loaded inline in html, image basepath is css/images/*.{jpg|png|svg}
.control-panel
  background #FFF
  bottom 20px
  right 40px
  width 76px

  +below($mq-mobile)
    bottom 10px
    right 1em
    width 48px
    bottom 70px
    background rgba(255, 255, 255, .5)

  & ul
    border-bottom 1px solid $lightGray
    flex-wrap wrap
    display flex
    padding 0
    margin 0
    +below($mq-mobile)
      border-left 1px solid $lightGray
  & li
    border-right 1px solid $lightGray
    border-top 1px solid $lightGray
    box-sizing border-box
    display flex
    height 38px
    width 38px
    +below($mq-mobile)
      height 48px
      width 48px
  & li:nth-child(odd)
    +above($mq-mobile)
      border-left 1px solid $lightGray
  & li:active
    background $lightGrayHighlight
    +below($mq-mobile)
      background #FFF
  & li:hover
    background $lightGrayHighlight
    +below($mq-mobile)
      background #FFF

.analysis-warning
  color red

.panel-icon
  fill $darkGray
  display block
  margin auto
  height 25px
  width 25px

  .search-map &
    height 17px
    width 17px

.tooltipmap
  position absolute
  background #FFFEE2
  box-shadow 0 1px 3px rgba(85,85,85,0.25)
  z-index 1000
  margin 0
  visibility hidden
  opacity 0
  text-transform uppercase
  color #555555
  font-weight 400
  font-size 12px
  line-height 1.25
  bottom 100%
  // left 50%
  text-align center
  padding 6px 8px
  white-space nowrap
  pointer-events none
  -webkit-transform translate(-40%, 5px)
  -moz-transform translate(-40%, 5px)
  -ms-transform translate(-40%, 5px)
  -o-transform translate(-40%, 5px)
  transform translate(-40%, 5px)
  &:after
    content ""
    display block
    position absolute
    width 8px
    height 8px
    background #FFFEE2
    z-index 2
    bottom 0
    left 50%
    -webkit-transform translate(-50%, 50%) rotate(45deg)
    -moz-transform translate(-50%, 50%) rotate(45deg)
    -ms-transform translate(-50%, 50%) rotate(45deg)
    -o-transform translate(-50%, 50%) rotate(45deg)
    transform translate(-50%, 50%) rotate(45deg)
    border-width 0 1px 1px 0
    border-color transparent #f0f0ed #f0f0ed transparent
    border-style solid
  &.low
    bottom 33%
  &.middle
    bottom 66%
  &.top
    bottom 100%
  &.left
    left 16%
  &.right
    left 65%

.tabs div:hover .tooltipmap
  opacity 1
  visibility visible

.control-panel ul li:hover .tooltipmap
  opacity 1
  visibility visible

.basemap-switcher
  transition all 0.3s ease-in-out
  border 1px solid $lightGray
  justify-content center
  box-sizing border-box
  position absolute
  background white
  visibility hidden
  display flex
  height 100%
  width auto
  right 86px
  opacity 0
  top 0
  &.open
    visibility visible
    opacity 1

  +below($mq-mobile)
    top initial
    bottom 0px
    right 100%
    margin-right 15px
    height auto

.basemap-item
  text-align left
  cursor pointer
  padding 5px
  padding-bottom 0
  padding-top 7px
  border-top 1px solid #e5e5df
  &:hover
    background-color #EEEEEE
  &.active
    background-color #EEEEEE
  .info-icon
    top inherit
    margin-top 20px
    margin-right 20px

.basemap-label
  font-size 13px
  text-transform uppercase
  padding-left 20px
  color gray
  position absolute
  margin-top 15px

.basemap-thumbnail
  height 50px
  width 50px
  border-radius 30px
  display inline-block
  &.active
    background-color gray
  &.dark-gray-basemap
    background url('images/dark-gray-basemap.png') no-repeat center
  &.topo-basemap
    background url('images/topo-basemap.jpg') no-repeat center
  &.wri-basemap
    background url('images/wri-basemap.png') no-repeat center
  &.imagery-basemap
    background url('images/imagery-basemap.jpg') no-repeat center
  &.landsat-basemap
    background url('images/gfw-basemaps.png') no-repeat center
    background-position 0 -352px
