// Define App Variables Here
$fontFamily = 'Fira Sans', Georgia, serif
$lightGrayHighlight = #EEE
$lightGrayBorder = #CCC
$lightGray = #AAA
$darkGray = #555
$disabledBackground = #999
$disabledFont = #999
// Sharing Colors
$facebookBlue = #36589F
$twitterBlue = #568DCE
$googleRed = #D9502B
// Layer Colors
$treeCoverDensity = #0D9C0D
$treeCoverLoss = #FF6398
$treeCoverGain = #6C69E8
$loggingConcessions = #FFFF66

$oilPalmGreenpeace = #0A50A5
$woodFiberGreenpeace = #333
$loggingGreenpeace = #A6050E
$coalConcessions = #8416A6
$activeFires = #EB5100
$viirsFires = #A6050E
$noaaFires = #D9502B
$rspoOilPalm = #FFFF25
$woodFiber = #CD8388
$burnScars = #CE2A1F
$moratorium = #47D4AE
$managedForest = #FFD47E //
$fireStories = #FF7B00 //
$twitter = #55acee //
$oilPalm = #FFFF25
$peatlands = #C3EAB1
$protectedAreas = #006FFE
$wetlands = #96FAE1
$primaryForests = #00794D
// $airQuality = #4099CE
$gfwBlue = #e7002f
//TODO: refactor instances of $gfwBlue with $gfwRed

//TODO: Refactor media querys
$mq-mobile = 850px
$mq-mobile-small = 550px
