@require '../../../node_modules/jeet/stylus/jeet/index'
@require '../../../node_modules/rupture/rupture/index'
@require '../../css/_variables'

body
  overflow-y auto

.footerGfw
  display none !important

.mobile-underlay
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background-color rgba(0, 0, 0, .25)
  z-index 200

.mobile-controls
  position fixed
  bottom 0
  left 20px
  right 80px
  background-color rgba(255, 255, 255, .70)
  z-index 400
  box-shadow $box-shadow

  & button
    width 50%
    background-color transparent
    border none
    border 1px solid #aaa
    height 3em
    vertical-align middle

    &:nth-child(odd)
      border-right none
