@require '../../../node_modules/jeet/stylus/jeet/index'
@require '../../../node_modules/rupture/rupture/index'
@require '../../../node_modules/rupture/rupture/index'
@require 'intlTelInput'
@require '../../css/_variables'

body
  overflow-y auto

.footerGfw
  display none !important

.mobile-underlay
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background-color rgba(0, 0, 0, .25)
  z-index $z-modal-underlay

.mobile-controls
  position fixed
  bottom 50px
  left 0
  width 100%
  background-color rgba(255, 255, 255, 1)
  z-index $z-modal
  box-shadow $box-shadow

  & button
    width 25%
    background-color white
    border none
    border 1px solid #e5e5df
    height 3em
    vertical-align middle
    border-top none
    border-bottom none

    &:nth-child(odd)
      border-right none
    &:first-child
      border-left none
    &:last-child
      border-right none
    &:nth-child(3)
      border-left none

    & span
      display block
      font-size 9px

  & svg
    height 20px
    width 20px
    vertical-align middle
    position relative
    bottom 1px
    fill #555555

.kalendae *
  box-sizing content-box
