@require '../../../node_modules/jeet/stylus/jeet/index'
@require '../../../node_modules/rupture/rupture/index'
@require '../../css/_variables'

body
  overflow-y auto

.footerGfw
  display none !important
