//- General modal styling

.modal-container
  position absolute
  z-index 1000
  height 100%
  width 100%
  left 0
  top 0

.modal-background
  background-color rgba(0, 0, 0, 0.35)
  height 100%
  width 100%

.calendar-background
  background-color rgba(0, 0, 0, 0)
  height 100%
  width 100%

.modal-window
  transform translate(-50%, -50%)
  background-color white
  position fixed
  height auto
  left 50%
  top 50%
  width 500px
  min-height 100px
  -webkit-transform translate(-50%, -60%)
  -moz-transform translate(-50%, -60%)
  -ms-transform translate(-50%, -60%)
  -o-transform translate(-50%, -60%)
  transform translate(-50%, -60%)
  transition all 0s cubic-bezier(0.445, 0.05, 0.55, 0.95)
  background white
  border none
  box-shadow 0px 1px 2px rgba(0,0,0,0.25)

.modal-window:before, .modal-window:after
  content ""
  position absolute
  height 20px
  width calc(100% - 8px)
  left 0

.modal-window a
  word-break break-word
  word-wrap break-word
  text-decoration none

.modal-window:before
  top 0
  background-image -webkit-linear-gradient(to-top, #fff, rgba(255,255,255,0))
  background-image -moz-linear-gradient(to-top, #fff, rgba(255,255,255,0))
  background-image -o-linear-gradient(to-top, #fff, rgba(255,255,255,0))
  background-image -ms-linear-gradient(to-top, #fff, rgba(255,255,255,0))
  background-image linear-gradient(to-top, #ffffff,rgba(255,255,255,0))

.calendar-window
  transform translate(-50%, -50%)
  background-color white
  position fixed
  height auto
  right 220px
  top 318px
  width 340px
  min-height 100px
  -webkit-transform translate(-50%, -60%)
  -moz-transform translate(-50%, -60%)
  -ms-transform translate(-50%, -60%)
  -o-transform translate(-50%, -60%)
  transform translate(-50%, -60%)
  transition all 0s cubic-bezier(0.445, 0.05, 0.55, 0.95)
  background white
  border none
  box-shadow 0px 1px 2px rgba(0,0,0,0.25)

.calendar-window:before, .calendar-window:after
  content ""
  position absolute
  height 20px
  width calc(100% - 8px)
  left 0

.calendar-window a
  word-break break-word
  word-wrap break-word
  text-decoration none

.calendar-window .kalendae
  background white
  font-size 16px
  padding 0
  margin 0
  width calc(100% - 8px)

.calendar-window .kalendae .k-calendar, .calendar-window .kalendae .k-title, .calendar-window .kalendae .k-header, .calendar-window .kalendae .k-days
  width 100%
  font-family 'Fira Sans', Georgia, serif

 .calendar-window .kalendae .k-header
  margin-bottom 10px
  border-bottom 1px solid #e5e5df

.calendar-window .kalendae .k-caption
  font-size 16px

.calendar-window .kalendae .k-header span
  width 40px
  font-weight normal

.calendar-window .kalendae .k-days span
  width 34px
  border none
  text-align center
  padding 5px 3px 5px 3px

.calendar-window .kalendae .k-days span.k-selected, .calendar-window .kalendae .k-days span.k-selected.k-active
  border none
  background #eee

.calendar-window .kalendae .k-days span.k-in-month.k-active
  color #e7002f

.calendar-window .kalendae .k-days span.k-active:hover
  border none
  bacground #eee

.modal-window:before
  top 0
  background-image -webkit-linear-gradient(to-top, #fff, rgba(255,255,255,0))
  background-image -moz-linear-gradient(to-top, #fff, rgba(255,255,255,0))
  background-image -o-linear-gradient(to-top, #fff, rgba(255,255,255,0))
  background-image -ms-linear-gradient(to-top, #fff, rgba(255,255,255,0))
  background-image linear-gradient(to-top, #ffffff,rgba(255,255,255,0))

.close-icon
  position absolute
  height 40px
  width 40px
  right 0
  top 0

.modal .close-icon svg
  transform translate(-50%, -50%)
  position absolute
  height 50%
  width 50%
  left 50%
  top 50%

.modal-close
  display block
  position absolute
  top 0px
  right 0px
  width 40px
  height 40px
  z-index 20


// .modal-title
//   padding 10px 20px 0
//   font-size 21px

.modal-wrapper
  overflow-x hidden
  overflow-y auto
  height 100%
  max-height 450px
  box-sizing border-box
  left 0
  top 0
  padding 20px

.calendar-wrapper
  overflow-x hidden
  overflow-y auto
  height 100%
  max-height 350px
  box-sizing border-box
  left 0
  top 0
  padding 15px
  padding-top 30px

.modal-content
  height auto
  width 100%
  outline none
  font-size 15px
  color #555555

.has-footer
  border-bottom 66px solid transparent

.current
  background-color #e7002f !important
  color white !important

.submit-success
  color #97bd3d

.submit-warning
  color #e7002f
  display inline-block
  padding-left 5px

.subscribe-container
  text-align center
  margin-top 20px

.subscribe-submit
  color #fff
  background #97bd3d

.subscribe-submit.btn
  position relative
  display inline-block
  z-index 1
  padding 0px 12px
  font-size 14px
  text-decoration none
  height 36px
  line-height 36px
  text-align center
  font-weight 500
  white-space nowrap
  -webkit-transition background 0.15s linear
  -moz-transition background 0.15s linear
  -o-transition background 0.15s linear
  transition background 0.15s linear
  -webkit-appearance none
  border 1px solid transparent
  outline none
  box-shadow none
  cursor pointer
  font-family "Fira Sans"

.subscribe-submit.btn:hover
  background #789631

//- Layer modal specific styling
// .modal-content
//   width 100%

.modal-title
  text-transform uppercase
  line-height 16px
  font-weight 500
  font-size 16px
  display block
  margin 0
  padding 0

.modal-subtitle
  display block
  margin-top 5px
  font-size 13px
  line-height 1.2
  color #999
  font-weight inherit

.modal-table
  border-collapse collapse
  font-size 11px
  margin 20px 0
  width 100%
  border none
  border-top 1px solid #e5e5df

.source-row
  display table
  width 100%
  margin 0

.source-row:nth-child(even)
  background #F2F2F3

.source-row dt
.source-row dd
  display table-cell
  // padding 10px

.source-row dt
  text-transform uppercase
  font-weight 500
  font-size 11px
  width 120px

.source-row dd
  border-left 1px solid #ccc
  padding-left 15px
  font-size 13px

.modal-overview
  font-size 13px

.modal-overview p
  margin 10px 0

.modal-credits
  color #AAA
  font-size 12px

.modal-credits strong
  font-weight 500
  display block
  color #333

.modal-credits h3
  font-size 12px
  font-weight 500
  color #333

.modal-footer
  position absolute
  bottom 0
  left 0
  width 100%
  background white
  z-index 2
  padding 15px 0
  border-top 1px solid #e5e5df

.modal-footer:before, .modal-footer:after
  content " "
  display table
  visibility hidden
  font-size 0
  height 0

.modal-footer .btn.green
  color white
  background #97bd3d

.modal-footer .btn.green:hover
  background #789631

.modal-footer .btn
  background #e5e5df
  position relative
  display inline-block
  z-index 1
  padding 0px 12px
  border-radius 40px
  font-size 14px
  text-decoration none
  height 36px
  line-height 36px
  text-align center
  font-weight 500
  white-space nowrap
  -webkit-transition background 0.15s linear
  -moz-transition background 0.15s linear
  -o-transition background 0.15s linear
  transition background 0.15s linear
  -webkit-appearance none
  border 1px solid transparent
  outline none
  box-shadow none
  cursor pointer
  font-family "Fira Sans"

.m-btncontainer.is-center
  -webkit-box-pack center
  -moz-box-pack center
  -ms-flex-pack center
  -webkit-justify-content center
  justify-content center

.m-btncontainer
  display flex
  display -webkit-flex
  align-items center
  -webkit-align-items center
  text-transform uppercase

.read-more
  text-align center
  padding 10px 0 0
  font-size 13px
  margin 0

.read-more a
  text-decoration none
  font-style normal

.layer-colors
  list-style none
  font-size 13px
  padding 0
  margin 0

.layer-colors .circle:before
  margin 0 4px 0 -1px
  content '\25CF'
  font-size 16px

.modal-content .modal-table .source-row dd
  display table-cell
  // padding 10px 10px 10px 15px
  padding-right 10px
  border-left 1px solid #e5e5df
  border-bottom 1px solid #e5e5df
  font-size 13px

.modal-content .modal-table .source-row dt
  display table-cell
  width 120px
  border-bottom 1px solid #e5e5df
  background none
  padding 10px
  font-weight 500
  font-size 11px
  text-transform uppercase

.modal-table .source-row dd p:last-child
  margin-bottom 0

.modal-table .source-row dd p
  margin-bottom 10px

.modal-content p
  line-height 1.25

.scroll-dark
  -webkit-overflow-scrolling touch

.scroll-dark::-webkit-scrollbar
  width 8px
  height 8px

.scroll-dark::-webkit-scrollbar
  width 8px
  height 8px

.scroll-dark::-webkit-scrollbar-thumb
  border-radius 0px
  background rgba(85,85,85,0.8)

.scroll-dark::-webkit-scrollbar-track
  border-radius 0px
  background #fafafa

.custom-scroll::-webkit-scrollbar
  height 8px
  width 8px

.custom-scroll::-webkit-scrollbar-thumb
  background #888
  border-radius 0
