.Select-multi-value-wrapper
    display flex !important
    flex-direction column !important
    align-items center !important

.Select-value
    width fit-content !important

.Select.is-open
    position relative !important
    z-index 1000 !important

.Select-menu-outer
    z-index 999 !important
