.layer-transparency
  margin 0 5%
  width 90%
  padding-top 15px

  // BASE
  input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  // -- INTERNET EXPLORER/EDGE
  input[type=range]::-ms-fill-lower {
    background: $lightGray;
    border: 0.2px solid $lightGray;
    border-radius: 1px;
    box-shadow: .5px .5px .5px $darkGray, 0px 0px 1px $darkGray;
  }
  input[type=range]::-ms-fill-upper {
    background: $lightGray;
    border: 0.2px solid $lightGray;
    border-radius: 1px;
    box-shadow: .5px .5px .5px $darkGray, 0px 0px 1px $darkGray;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $lightGray;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $lightGray;
  }
  input[type=range]::-ms-tooltip {
    display: none;
  }
  // TRACK
  // -- CHROME
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: .5px .5px .5px $darkGray, 0px 0px 1px $darkGray;
    background: $lightGray;
    border-radius: 1.3px;
    border: 0.2px solid $lightGray;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $lightGray;
  }
  // -- FIREFOX
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: .5px .5px .5px $darkGray, 0px 0px 1px $darkGray;
    background: $lightGray;
    border-radius: 1.3px;
    border: 0.2px solid $lightGray;
  }
  // -- INTERNET EXPLORER/EDGE
  input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  // THUMB
  // --CHROME
  input[type=range]::-webkit-slider-thumb {
    box-shadow: .5px .5px .5px $darkGray, 0px 0px 1px $darkGray;
    border: 1px solid $darkGray;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  // -- FIREFOX
  input[type=range]::-moz-range-thumb {
    box-shadow: .5px .5px .5px $darkGray, 0px 0px 1px $darkGray;
    border: 1px solid $darkGray;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  // -- INTERNET EXPLORER/EDGE
  input[type=range]::-ms-thumb {
    box-shadow: .5px .5px .5px $darkGray, 0px 0px 1px $darkGray;
    border: 1px solid $darkGray;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  
  div
    color $lightGray
    font-size 0.75em
    text-align center
    position absolute
    width 150px
    left calc(50% - 75px)
    margin-top -12px
