.layer-transparency
  margin 0 5%
  width 90%
  padding-top 15px

  // Chrome ****
  input[type=range]{
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    //border-radius: 3px;

  input[type=range]::-webkit-slider-thumb
    -webkit-appearance: none;
    //border: 1px solid #4a4a4a;
    height: 16px;
    width: 16px;
    //border-radius: 50%;
    background: #e7002f;
    margin-top: -5px;

  input[type=range]:focus
    outline: none;

  input[type=range]:focus::-webkit-slider-runnable-track
    background: #ccc;

  // Firefox ****
  input[type=range]
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 100%;
    padding .5rem 0

  input[type=range]::-moz-range-track
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    //border-radius: 3px;

  input[type=range]::-moz-range-thumb
    border: 1px solid #4a4a4a;
    height: 16px;
    width: 16px;
    //border-radius: 50%;
    background: #e7002f;

  /*hide the outline behind the border*/
  input[type=range]:-moz-focusring
    outline: 1px solid white;
    outline-offset: -1px;

  input[type=range]:focus::-moz-range-track
    background: #ccc;

  // Internet Explorer ****
  input[type=range]::-ms-track {
    width: 90%;
    height: 5px;
    margin 0 5%

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
  }
  input[type=range]::-ms-fill-lower
    background: #777;
    //border-radius: 10px;

  input[type=range]::-ms-fill-upper
    background: #ddd;
    //border-radius: 10px;

  input[type=range]::-ms-thumb
    border: none;
    height: 16px;
    width: 16px;
    //border-radius: 50%;
    background: #e7002f;

  input[type=range]:focus::-ms-fill-lower
    background: #888;

  input[type=range]:focus::-ms-fill-upper
    background: #ccc;


  div
    color $lightGray
    font-size 0.75em
    text-align center
    width 100%
