@require 'rupture'
@require '_config'
// Important Layout Classes
body
  overflow hidden

.layout-content
  position absolute
  height auto
  width 100%
  bottom 0
  left 0
  top 0

#footerGfw
  display none

.map
  height 100%
  width 100%

.map-component
  position absolute
  z-index 5

.gfw-water-logo
  background url('images/GFW_Water_logo.png') no-repeat center
  background-size 90px
  position absolute
  height 90px
  width 90px
  z-index 5
  left 20px
  top 0
  &:after
    background url('images/beta.png')
    position absolute
    display block
    bottom -5px
    height 18px
    width 30px
    right -5px
    content ''

.aqueduct-logo
  background url('http://www.wri.org/sites/default/files/styles/large/public/logo.png') no-repeat center
  background-size auto 65px
  position absolute
  height 50px
  width 250px
  left 125px
  z-index 5
  top 20px

// Require any Map Content
@require '_modal'
@require '_alertsModal'
@require '_layerPanel'
@require '_controlPanel'
@require '_analysisPanel'
@require '_timeline'

// Media Queries for All Map Content
@media (min-width: 850px)
  .layout-content
    top 34px

//@media (max-width: 850px)
//  .layout-content
//    bottom 56px
