div(data-bind="foreach:ercData" class="ercDataBlock")
	div.ercRow
		div.ercTitleBar
			span.ercTitle(data-bind="html:name")
			span.ercCount
				span(data-bind="html:data.searchResults.length")
				span.clickable.showAllImages(data-bind="event:{click:$root.onErcShowAllClick},html:showAllText")
		div.ercThumbs(data-bind="foreach:data.searchResults,css:{showAll:showAll}")
			// ko if: $parent.maxVisible > $index() && ($parent.contentType == 'Image' || $parent.contentType == 'File')
			div.ercThumbWrapper(data-bind="attr:{title:title},event:{mouseover:$root.onErcHighlightMap,mouseout:$root.onErcClearMap,click:$root.onErcItemClick}")
				img.viewerImg(data-bind="attr:{src:ercThumbnailUrl}")
			// /ko

			// ko if: $parent.maxVisible > $index() && $parent.contentType == 'ArticleMetaData'
			div.ercArticle(data-bind="html:title,event:{mouseover:$root.onErcHighlightMap,mouseout:$root.onErcClearMap},attr:{title:title}")
			// /ko

div.ercMapBlock(data-bind="visible:ercInteractiveMaps().length>0")
	div.ercRow
		div.ercTitleBar
			span.ercTitle Interactive Maps
		ul.ercInteractiveMap(data-bind="foreach:ercInteractiveMaps")
			li.ercMapTitle(data-bind="html:title,event:{click:$root.onErcInteractiveMapClick}")