mixin navigation(pages, activePage, absolute)
  div(class=(absolute !== undefined && absolute === true ? 'navigation-container absolute' : 'navigation-container'))
    section
      div.navigation
        for page in pages
          a.navigation--link(href=page.href class=(page.name === activePage ? 'active' : '')) #{page.label}
