svg.hidden
  symbol#icon-three-line-menu(viewbox='0 0 1024 1024')
    title Three Line Menu
    path.path1(d='M73.848 128.616h876.306v175.264h-876.306v-175.264zM73.848 420.717h876.306v175.264h-876.306v-175.264zM73.848 712.819h876.306v175.264h-876.306v-175.264z')
