svg.hidden
  symbol#icon-three-line-menu(viewbox='0 0 1024 1024')
    title GFW Fires
    path.path1(d='M73.848 128.616h876.306v175.264h-876.306v-175.264zM73.848 420.717h876.306v175.264h-876.306v-175.264zM73.848 712.819h876.306v175.264h-876.306v-175.264z')
  symbol#icon-close(viewbox='0 0 1024 1024')
    title GFW Fires
    path.path1(d='M772.694 903.040l-260.694-260.694-260.694 260.694c-35.976 35.976-94.371 35.976-130.347 0s-35.976-94.371 0-130.347l260.694-260.694-260.694-260.694c-35.976-35.976-35.976-94.371 0-130.347s94.371-35.976 130.347 0l260.694 260.694 260.694-260.694c35.976-35.976 94.371-35.976 130.347 0s35.976 94.371 0 130.347l-260.694 260.694 260.694 260.694c35.976 35.976 35.976 94.371 0 130.347s-94.371 35.976-130.347 0v0z')
