www/node_modules
.DS_Store
.idea
*.sublime-workspace
*.sublime-project
www/src/proxy
*.swp
www

# Ignore build, dist, and vendor directories
!dist/en/vendors/kalendae/build

!dist/*

vendor

# Ignore these, just do it
node_modules
npm-debug.log
.DS_Store
