www/node_modules
.DS_Store
.idea
*.sublime-workspace
*.sublime-project
www/src/proxy
*.swp

# Ignore build, dist, and vendor directories
!dist/*
build
vendors
www/*

# Ignore these, just do it
node_modules
npm-debug.log
.DS_Store
/vendor/
