div#map-view(class="map-view")
	div#control-panel(class="control-panel")
	div#map-container(class="map-container")
		div#map(class="map")
			div#locator-widget-button(class="locator-widget-button")
			div#basemap-gallery-button(class="basemap-gallery-button")
			div#share-button(class="share-button")
			div#locator-linker(class="locator-linker modal-link", data-bind="visible: showLocatorWidgets()")
			div#locator-widget-container(class="locator-widget-container", data-bind="visible: showLocatorWidgets()")
				div#locator-container-header(class="locator-container-header", data-bind="text: locatorContainerHeader")
				hr(class="locator-line-splitter")
				div#location-widget(class="location-widget")
				hr(class="locator-line-splitter")
			div#basemap-linker(class="basemap-linker modal-link", data-bind="visible: showBasemapGallery()")
			div#basemap-gallery-container(class="basemap-gallery-container", data-bind="visible: showBasemapGallery()")
				div#basemap-gallery(class="basemap-gallery")