
<link rel="stylesheet" href="app/css/jquery-ui.min.css"/>
<div id="map-view" class="map-view">
  <div id="control-panel" class="control-panel">
    <div class="report-link-container"><span id="report-link" data-bind="text: getReportLink" class="report-link"></span></div>
    <div id="fires-map-accordion">
      <div id="fires-panel" class="accordion-panel">
        <div class="checkbox-container">
          <div id="fires-checkbox"></div>
          <label for="fires-checkbox" data-bind="text: firesCheckbox"></label><span data-bind="text: firesSubLabel" class="checkbox-sub-label"></span>
        </div>
        <div id="active-fires-options" data-bind="visible: showActiveFiresButtons" class="active-fires-options-container">
          <div id="firesWeek" data-bind="text: firesWeek" class="active-fires-options selected-fire-option"></div>
          <div id="fires72" data-bind="text: fires72" class="active-fires-options"></div>
          <div id="fires48" data-bind="text: fires48" class="active-fires-options"></div>
          <div id="fires24" data-bind="text: fires24" class="active-fires-options"></div>
          <div class="confidence-fires-container">
            <div id="confidence-fires-checkbox"></div>
            <label for="confidence-fires-checkbox" data-bind="text: confidenceFiresCheckbox"></label>
          </div>
        </div>
        <div class="checkbox-container">
          <div id="indonesia-fires"></div>
          <label for="indonesia-fires" data-bind="text: indonesiaFiresCheckbox"></label><span data-bind="text: indonesiaSubLabel" class="checkbox-sub-label"></span>
          <div id="report-optionsINDO" data-bind="visible: showReportOptionsINDO()" class="reportOptionsSidebar">
            <div class="confidence-archive-container">
              <div id="confidence-archive-checkbox"></div>
              <label for="confidence-archive-checkbox" data-bind="text: confidenceFiresCheckbox"></label>
            </div>
            <div data-bind="text:reportText().selectTimeLabel" class="font10"></div>
            <div class="report-options-section">
              <table class="font10">
                <tr>
                  <td data-bind="text: 'From'"></td>
                  <td>
                    <input type="text" name="user" value="4" id="indoDateFrom" data-bind="value:indoPickerFrom()"/>
                  </td>
                </tr>
                <tr>
                  <td data-bind="text: 'To'"></td>
                  <td>
                    <input type="text" name="user" value="4" id="indoDateTo" data-bind="value:indoPickerTo()"/>
                  </td>
                </tr>
              </table><span id="updateINDO" data-bind="text: getDates" class="report-link-dates"></span>
            </div>
          </div>
        </div>
        <div class="checkbox-container">
          <div id="noaa-fires-18"></div>
          <label for="noaa-fires-18" data-bind="text: noaaFiresCheckbox"></label><span data-bind="text: noaaSubLabel" class="checkbox-sub-label"></span>
          <div id="report-optionsNOAA" data-bind="visible: showReportOptionsNOAA()" class="reportOptionsSidebar">
            <div data-bind="text:reportText().selectTimeLabel" class="font10"></div>
            <div class="report-options-section">
              <table class="font10">
                <tr>
                  <td data-bind="text: 'From'"></td>
                  <td>
                    <input type="text" name="user" value="4" id="noaaDateFrom" data-bind="value:noaaPickerFrom()"/>
                  </td>
                </tr>
                <tr>
                  <td data-bind="text: 'To'"></td>
                  <td>
                    <input type="text" name="user" value="4" id="noaaDateTo" data-bind="value:noaaPickerTo()"/>
                  </td>
                </tr>
              </table><span id="updateNOAA" data-bind="text: getDates" class="report-link-dates"></span>
            </div>
          </div>
        </div>
        <div class="checkbox-container">
          <div id="burned-scars-checkbox"></div>
          <label for="burned-scars-checkbox" data-bind="text: burnedScarsCheckbox"></label>
        </div>
        <div class="checkbox-container">
          <div id="tomnod-checkbox"></div>
          <label for="tomnod-checkbox" data-bind="html: tomnodCheckbox, css: 'tomnodLink'"></label>
        </div>
      </div>
      <div id="forest-use-panel" class="accordion-panel">
        <div data-bind="text: transparencySliderLabel" class="transparency-slider-label"></div>
        <div class="slider-container">
          <div id="forest-transparency-slider"></div>
        </div>
        <div class="checkbox-container">
          <div id="oil-palm-checkbox"></div>
          <label for="oil-palm-checkbox" data-bind="text: oilPalmCheckbox"></label><span data-bind="text: forestUseCheckboxSubLabelSelect" class="checkbox-sub-label"></span>
        </div>
        <div class="checkbox-container">
          <div id="rspo-oil-palm-checkbox"></div>
          <label for="rspo-oil-palm-checkbox" data-bind="text: rspoOilPalmCheckbox"></label><span data-bind="text: rspoOilPalmCheckboxSubLabel" class="checkbox-sub-label"></span>
        </div>
        <div class="checkbox-container">
          <div id="wood-fiber-checkbox"></div>
          <label for="wood-fiber-checkbox" data-bind="text: woodFiberCheckbox"></label><span data-bind="text: forestUseCheckboxSubLabelSelect" class="checkbox-sub-label"></span>
        </div>
        <div class="checkbox-container">
          <div id="logging-checkbox"></div>
          <label for="logging-checkbox" data-bind="text: loggingCheckbox"></label><span data-bind="text: forestUseCheckboxSubLabelSelect" class="checkbox-sub-label"></span>
        </div>
      </div>
      <div id="conservation-panel" class="accordion-panel">
        <div data-bind="text: transparencySliderLabel" class="transparency-slider-label"></div>
        <div class="slider-container">
          <div id="conservation-transparency-slider"></div>
        </div>
        <div class="checkbox-container">
          <div id="protected-areas-checkbox"></div>
          <label for="protected-areas-checkbox" data-bind="text: protectedAreasCheckbox"></label><span data-bind="text: conservationCheckboxSubLabelGlobal" class="checkbox-sub-label"></span>
        </div>
      </div>
      <div id="land-cover-panel" class="accordion-panel">
        <div data-bind="text: transparencySliderLabel" class="transparency-slider-label"></div>
        <div class="slider-container">
          <div id="land-cover-transparency-slider"></div>
        </div>
        <div class="checkbox-container">
          <div id="no-land-cover-radio"></div>
          <label for="no-land-cover-radio" data-bind="text: none"></label>
        </div>
        <div class="checkbox-container">
          <div id="peat-lands-radio"></div>
          <label for="peat-lands-radio" data-bind="text: peatLandsRadio"></label><span data-bind="text: peatLandsSubLabel" class="checkbox-sub-label"></span>
        </div>
        <div class="checkbox-container">
          <div id="tree-cover-density-radio"></div>
          <label for="tree-cover-density-radio" data-bind="text: treeCoverDensityRadio"></label><span data-bind="text: treeCoverDensitySubLabel" class="checkbox-sub-label"></span>
        </div>
        <div class="checkbox-container">
          <div id="primary-forests-radio"></div>
          <label for="primary-forests-radio" data-bind="text: primaryForestsRadio"></label><span data-bind="text: primaryForestsSubLabel" class="checkbox-sub-label"></span>
        </div>
        <div id="primary-forests-options" data-bind="visible: showPrimaryForestOptions()">
          <div class="checkbox-container inline">
            <div id="pf2000-radio"></div>
            <label for="pf2000-radio" data-bind="text: pf2000Radio"></label>
          </div>
          <div class="checkbox-container inline">
            <div id="pf2005-radio"></div>
            <label for="pf2005-radio" data-bind="text: pf2005Radio"></label>
          </div>
          <div style="clear: both;"></div>
          <div class="checkbox-container inline">
            <div id="pf2010-radio"></div>
            <label for="pf2010-radio" data-bind="text: pf2010Radio"></label>
          </div>
          <div class="checkbox-container inline">
            <div id="pf2012-radio"></div>
            <label for="pf2012-radio" data-bind="text: pf2012Radio"></label>
          </div>
        </div>
      </div>
      <div id="air-quality-panel" class="accordion-panel">
        <div class="checkbox-container">
          <div id="windy-layer-checkbox"></div>
          <label for="windy-layer-checkbox" data-bind="text: windyLayerCheckbox"></label>
          <div data-bind="text: windySubLabelAdvice" class="checkbox-instructions"></div>
          <div data-bind="text: windySubLabel" class="checkbox-sub-label"></div>
          <div data-bind="visible: showWindLegend()" class="windLegendContainer">
            <div id="windLegendNode" class="windLegendNode windLayerLegendColorRamp"></div>
            <div id="windLegendLabels"><span>0 m/s</span><span class="rightWindLabel">> 40 m/s</span></div>
          </div>
          <div id="report-optionsWIND" data-bind="visible: showReportOptionsWIND()" class="reportOptionsSidebar">
            <div data-bind="text:reportText().selectTimeLabelWIND" class="font10"></div>
            <div class="report-options-section">
              <table class="font10">
                <tr>
                  <td data-bind="text: 'Date'"></td>
                  <td>
                    <input type="text" name="user" value="4" id="windDate" data-bind="value:windPicker()"/>
                  </td>
                </tr>
                <tr>
                  <td data-bind="text:'Time'"></td>
                  <td>
                    <div class="checkbox-container-wind inline">
                      <div id="wind00">
                        <input type="radio" value="00" data-bind="checked: timeOfDay"/>
                        <label data-bind="text: '00'"></label>
                      </div>
                    </div>
                    <div class="checkbox-container-wind inline">
                      <div id="wind06">
                        <input type="radio" value="06" data-bind="checked: timeOfDay, disable: wind06Disable(), enable: wind06Enable()"/>
                        <label data-bind="text: '06'"></label>
                      </div>
                    </div>
                    <div class="checkbox-container-wind inline">
                      <div id="wind12">
                        <input type="radio" value="12" data-bind="checked: timeOfDay, disable: wind12Disable(), enable: wind12Enable()"/>
                        <label data-bind="text: '12'"></label>
                      </div>
                    </div>
                    <div class="checkbox-container-wind inline">
                      <div id="wind18">
                        <input type="radio" value="18" data-bind="checked: timeOfDay, disable: wind18Disable(), enable: wind18Enable()"/>
                        <label data-bind="text: '18'"></label>
                      </div>
                    </div>
                  </td>
                </tr>
              </table><span id="updateWIND" data-bind="text: getDates" class="report-link-dates"></span>
            </div>
          </div>
        </div>
        <div class="checkbox-container">
          <div id="air-quality-checkbox"></div>
          <label for="air-quality-checkbox" data-bind="text: airQuality"></label>
        </div>
      </div>
      <div id="imagery-panel" class="accordion-panel">
        <div class="checkbox-container">
          <div id="landsat-image-checkbox"></div>
          <label for="landsat-image-checkbox" data-bind="text: landsatImageCheckbox"></label><span data-bind="text: landsatImageSubLabel" class="checkbox-sub-label"></span>
        </div>
        <div class="checkbox-container">
          <div id="digital-globe-checkbox"></div>
          <label for="digital-globe-checkbox" data-bind="text: digitalGlobeCheckbox"></label>
        </div>
        <div id="imageryWindow" data-bind="visible: showReportOptionsDigitalGlobe()" class="reportOptions">
          <div id="report-optionsDigitalGlobe" data-bind="visible: showReportOptionsDigitalGlobe()" class="reportOptionsSidebar">
            <div id="footprintsCheckBox" class="checkbox-container">
              <input id="digital-globe-footprints-checkbox" type="checkbox" checked="checked"/>
              <label for="digital-globe-footprints-checkbox1" data-bind="text: digitalGlobeFootprintsCheckbox">								</label>
            </div>
          </div>
          <table class="imageryTable font10">
            <thead>
              <tr class="imageryTopRow">
                <th data-bind="text: 'Date'"></th>
                <th data-bind="text: 'Satellite Type'"></th>
                <th data-bind="text: 'Zoom'"></th>
              </tr>
            </thead>
            <tbody data-bind="foreach: digitalGlobeInView">
              <tr data-bind="css: {imageryRowSelected:selected}, event:{mouseenter: $root.imageryMouseOver, mouseleave: $root.imageryMouseOut}" class="imageryRow">
                <td data-bind="html: feature.attributes.formattedDatePrefix1,event:{click: $root.digitalGlobeToggle}" class="font10">										</td>
                <td data-bind="html: feature.attributes.formattedDatePrefix2,event:{click: $root.digitalGlobeToggle}" class="font10">										</td>
                <td data-bind="event:{click: $root.imageryZoomTo}" class="popup-link-zoom"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="social-media-panel" class="accordion-panel">
        <div class="checkbox-container">
          <div id="twitter-conversations-checkbox"></div>
          <label for="twitter-conversations-checkbox" data-bind="text: twitterConversationsCheckbox"></label>
        </div>
        <div id="hiddenFires" class="checkbox-container">
          <div id="fire-stories-checkbox"></div>
          <label for="fire-stories-checkbox" data-bind="text: fireStoriesCheckbox"></label>
        </div>
      </div>
    </div>
  </div>
  <div id="map-container" class="map-container">
    <div id="map" class="map">
      <div id="leftPaneToggle" data-bind="click: slidePanel">-</div>
      <div id="timeSliderPanel" class="timeSliderPanel">
      </div>
      <div id="esri-geocoder-widget"></div>
      <div id="report-options" data-bind="visible: showReportOptions()" class="reportOptions">
        <div id="report-options-close" data-bind="click: closeReportOptions" class="reportOptionsHeader">x</div>
        <div data-bind="text:reportText().selectAOILabel" class="font14"></div>
        <div class="report-options-section">
          <div class="report-select-div">
            <div id="report-island-radio"></div>
            <label for="report-island-radio" data-bind="text:reportText().islandRadio" class="report-label"></label>
            <div id="report-province-radio"></div>
            <label for="report-island-radio" data-bind="text:reportText().provinceRadio" class="report-label"></label>
          </div>
          <div data-bind="text:reportText().multiSelectInfo" class="font10 selInfo"></div>
          <div class="report-select-div">
            <select multiple="true" data-bind="options:reportAOIs,selectedOptions:selectedAOIs"></select>
          </div>
        </div>
        <div data-bind="text:reportText().selectTimeLabel" class="font14"></div>
        <div class="report-options-section">
          <table class="font10">
            <tr>
              <td data-bind="text: 'From'"></td>
              <td>
                <input type="text" name="user" value="4" id="firesDateFrom" data-bind="value:firesPickerFrom()"/>
              </td>
            </tr>
            <tr>
              <td data-bind="text: 'To'"></td>
              <td>
                <input type="text" name="user" value="4" id="firesDateTo" data-bind="value:firesPickerTo()"/>
              </td>
            </tr>
          </table>
        </div>
        <div id="report-launch" class="report-link-container">
          <div class="report-link">Run Analysis</div>
        </div>
      </div>
      <div id="latLongHUD" class="latLongHUD">
        <div class="checkbox-container"><span data-bind="text: latitudeLabel"></span><span>/ </span><span data-bind="text: longitudeLabel"></span></div>
        <div class="checkbox-container"><span data-bind="text: currentLatitude"></span><span>, </span><span data-bind="text: currentLongitude"></span></div>
      </div>
      <div id="legend-widget-container" class="legend-widget-container">
        <div id="legend-widget-title" class="legend-widget-title"><span data-bind="text: legend"></span></div>
        <div id="legend-content" class="legend-content">
          <div id="legend"></div>
        </div>
      </div>
      <div id="locator-widget-button" title="Locate" class="locator-widget-button"></div>
      <div id="basemap-gallery-button" title="Basemaps/Overlays" class="basemap-gallery-button"></div>
      <div id="share-button" title="Share" class="share-button"></div>
      <div id="print-button" title="Print" class="print-button"></div>
      <div id="locator-linker" data-bind="visible: showLocatorWidgets()" class="locator-linker modal-link"></div>
      <div id="locator-widget-container" data-bind="visible: showLocatorWidgets()" class="locator-widget-container">
        <div id="locator-container-header" data-bind="text: locatorContainerHeader" class="locator-container-header"></div>
        <hr class="locator-line-splitter"/>
        <div id="location-widget" class="location-widget"></div>
        <hr class="locator-line-splitter"/>
        <div id="goto-area-search" data-bind="text: locatorSearchLabel" class="goto-area-search"></div><span id="clear-search-pins" data-bind="text: clearSearchPins, visible: showClearPinsOption()" class="clear-search-pins"></span>
        <div id="area-search-options-1" class="area-search-radio-container">
          <input id="dms-search" type="radio" name="search-option" checked="true"/>
          <label for="dms-search" data-bind="text: dmsSearch" class="search-option-label"></label>
        </div>
        <div id="area-search-options-2" class="area-search-radio-container">
          <input id="lat-long-search" type="radio" name="search-option"/>
          <label for="lat-long-search" data-bind="text: latLongSearch" class="search-option-label"></label>
        </div>
        <div id="area-search-inputs" class="area-search-inputs">
          <div id="dms-inputs" data-bind="visible: showDMSInputs()" class="dms-inputs-container">
            <table>
              <tr>
                <td></td>
                <td data-bind="text: degreesLabel"></td>
                <td data-bind="text: minutesLabel"></td>
                <td data-bind="text: secondsLabel"></td>
              </tr>
              <tr>
                <td data-bind="text: latitudeLabel"></td>
                <td>
                  <input id="degreesLatInput" type="text" class="dms-inputs"/>
                </td>
                <td>
                  <input id="minutesLatInput" type="text" class="dms-inputs"/>
                </td>
                <td>
                  <input id="secondsLatInput" type="text" class="dms-inputs"/>
                </td>
              </tr>
              <tr>
                <td data-bind="text: longitudeLabel"></td>
                <td>
                  <input id="degreesLonInput" type="text" class="dms-inputs"/>
                </td>
                <td>
                  <input id="minutesLonInput" type="text" class="dms-inputs"/>
                </td>
                <td>
                  <input id="secondsLonInput" type="text" class="dms-inputs"/>
                </td>
              </tr>
            </table>
          </div>
          <div id="lat-long-inputs" data-bind="visible: showLatLongInputs()" class="lat-long-inputs-container">
            <table>
              <tr>
                <td data-bind="text: latitudeLabel"></td>
                <td>
                  <input id="latitudeInput" type="text" class="lat-long-inputs"/>
                </td>
              </tr>
              <tr>
                <td data-bind="text: longitudeLabel"></td>
                <td>
                  <input id="longitudeInput" type="text" class="lat-long-inputs"/>
                </td>
              </tr>
            </table>
          </div>
          <div class="search-option-button-container">
            <div id="search-option-go-button" data-bind="text: searchOptionGoButton" class="search-option-go-button"></div>
          </div>
        </div>
      </div>
      <div id="basemap-linker" data-bind="visible: showBasemapGallery()" class="basemap-linker modal-link"></div>
      <div id="basemap-gallery-container" data-bind="visible: showBasemapGallery()" class="basemap-gallery-container">
        <div class="basemap-container-labels">Overlays</div>
        <div class="overlays-checkboxes">
          <div class="checkbox-container">
            <div id="provinces-checkbox"></div>
            <label for="provinces-checkbox" data-bind="text: provincesCheckbox"></label>
          </div>
          <div class="checkbox-container">
            <div id="districts-checkbox"></div>
            <label for="districts-checkbox" data-bind="text: districtsCheckbox"></label>
          </div>
          <div class="checkbox-container">
            <div id="subdistricts-checkbox"></div>
            <label for="subdistricts-checkbox" data-bind="text: subDistrictsCheckbox"></label>
          </div>
          <div class="checkbox-container">
            <div id="villages-checkbox"></div>
            <label for="villages-checkbox" data-bind="text: villagesCheckbox"></label>
          </div>
        </div>
        <div class="basemap-container-labels">Basemaps</div>
        <div id="basemap-gallery" class="basemap-gallery"></div>
      </div>
      <div id="share-linker" data-bind="visible: showShareContainer()" class="share-linker modal-link"></div>
      <div id="share-container" data-bind="visible: showShareContainer()" class="map-share-container">
        <div class="sharing_toolbox">
          <div class="addthis_sharing_toolbox"></div>
          <div id="embedShare" class="embed_code_share"></div>
        </div>
      </div>
    </div>
  </div>
</div>