div#map-view(class="map-view")
	div#control-panel(class="control-panel")
	div#map-container(class="map-container")
		div#map(class="map")
			div#locator-widget(class="locator-widget")
			div#basemap-gallery(class="basemap-gallery")
			div#share(class="share")