
<div id="map-view" class="map-view">
  <div id="control-panel" class="control-panel">
    <div id="fires-map-accordion">
      <div id="fires-panel" class="accordion-panel">
        <div>
          <input id="fires-checkbox" type="checkbox" checked="checked"/>
          <label for="fires-checkbox" data-bind="text: firesCheckbox"></label><span data-bind="text: firesSubLabel" class="checkbox-sub-label"></span>
        </div>
        <div id="active-fires-options" class="active-fires-options-container">
          <div id="firesWeek" data-bind="text: firesWeek" class="active-fires-options selected-fire-option"></div>
          <div id="fires72" data-bind="text: fires72" class="active-fires-options"></div>
          <div id="fires48" data-bind="text: fires48" class="active-fires-options"></div>
          <div id="fires24" data-bind="text: fires24" class="active-fires-options"></div>
          <div class="confidence-fires-container">
            <input id="confidence-fires-checkbox" type="checkbox" class="fires-confidence-checkbox"/>
            <label for="confidence-fires-checkbox" data-bind="text: confidenceFiresCheckbox"></label>
          </div>
        </div>
      </div>
      <div id="forest-use-panel" class="accordion-panel">
        <div>
          <input id="oil-palm-checkbox" type="checkbox" value="oilPalm" class="additional-layers-option"/>
          <label for="oil-palm-checkbox" data-bind="text: oilPalmCheckbox"></label><span data-bind="text: forestUseCheckboxSubLabelSelect" class="checkbox-sub-label"></span>
        </div>
        <div>
          <input id="wood-fiber-checkbox" type="checkbox" value="woodFiber" class="additional-layers-option"/>
          <label for="wood-fiber-checkbox" data-bind="text: woodFiberCheckbox"></label><span data-bind="text: forestUseCheckboxSubLabelSelect" class="checkbox-sub-label"></span>
        </div>
        <div>
          <input id="logging-checkbox" type="checkbox" value="logging" class="additional-layers-option"/>
          <label for="logging-checkbox" data-bind="text: loggingCheckbox"></label><span data-bind="text: forestUseCheckboxSubLabelSelect" class="checkbox-sub-label"></span>
        </div>
      </div>
      <div id="conservation-panel" class="accordion-panel">
        <div>
          <input id="protected-areas-checkbox" type="checkbox" value="protectedAreas" class="additional-layers-option"/>
          <label for="protected-areas-checkbox" data-bind="text: protectedAreasCheckbox"></label><span data-bind="text: conservationCheckboxSubLabelGlobal" class="checkbox-sub-label"></span>
        </div>
      </div>
      <div id="land-cover-panel" class="accordion-panel">
        <div>
          <input id="no-land-cover-radio" type="radio" checked="checked" name="land-cover-radios" value="none" class="additional-layers-option"/>
          <label for="no-land-cover-radio" data-bind="text: none"></label>
        </div>
        <div>
          <input id="peat-lands-radio" type="radio" name="land-cover-radios" value="peatLands" class="additional-layers-option"/>
          <label for="peat-lands-radio" data-bind="text: peatLandsRadio"></label><span data-bind="text: peatLandsSubLabel" class="checkbox-sub-label"></span>
        </div>
        <div>
          <input id="tree-cover-density-radio" type="radio" name="land-cover-radios" value="treeCoverDensity" class="additional-layers-option"/>
          <label for="tree-cover-density-radio" data-bind="text: treeCoverDensityRadio"></label><span data-bind="text: treeCoverDensitySubLabel" class="checkbox-sub-label"></span>
        </div>
        <div>
          <input id="se-land-cover-radio" type="radio" name="land-cover-radios" value="landCover" class="additional-layers-option"/>
          <label for="se-land-cover-radio" data-bind="text: southeastLandCoverRadio"></label><span data-bind="text: southeastLandCoverSubLabel" class="checkbox-sub-label"></span>
        </div>
      </div>
      <div id="air-quality-panel" class="accordion-panel">
        <div data-bind="text: airQuality" class="coming-soon-label"></div>
        <div data-bind="text: windDirection" class="coming-soon-label"></div>
      </div>
      <div id="imagery-panel" class="accordion-panel">
        <div>
          <input id="digital-globe-checkbox" type="checkbox" disabled="true"/>
          <label for="digital-globe-checkbox" data-bind="text: digitalGlobeCheckbox" class="coming-soon-label"></label>
        </div>
        <div>
          <input id="landsat-image-checkbox" type="checkbox"/>
          <label for="landsat-image-checkbox" data-bind="text: landsatImageCheckbox"></label><span data-bind="text: landsatImageSubLabel" class="checkbox-sub-label"></span>
        </div>
      </div>
      <div id="social-media-panel" class="accordion-panel">
        <div>
          <input id="twitter-conversations-checkbox" type="checkbox"/>
          <label for="twitter-conversations-checkbox" data-bind="text: twitterConversationsCheckbox"></label>
        </div>
      </div>
    </div>
  </div>
  <div id="map-container" class="map-container">
    <div id="map" class="map">
      <div id="esri-geocoder-widget"></div>
      <div id="legend-widget-container" class="legend-widget-container">
        <div id="legend-widget-title" class="legend-widget-title"><span data-bind="text: legend"></span></div>
        <div id="legend-content" class="legend-content">
          <div id="legend"></div>
        </div>
      </div>
      <div id="locator-widget-button" class="locator-widget-button"></div>
      <div id="basemap-gallery-button" class="basemap-gallery-button"></div>
      <div id="share-button" class="share-button"></div>
      <div id="locator-linker" data-bind="visible: showLocatorWidgets()" class="locator-linker modal-link"></div>
      <div id="locator-widget-container" data-bind="visible: showLocatorWidgets()" class="locator-widget-container">
        <div id="locator-container-header" data-bind="text: locatorContainerHeader" class="locator-container-header"></div>
        <hr class="locator-line-splitter"/>
        <div id="location-widget" class="location-widget"></div>
        <hr class="locator-line-splitter"/>
        <div id="goto-area-search" data-bind="text: locatorSearchLabel" class="goto-area-search"></div><span id="clear-search-pins" data-bind="text: clearSearchPins, visible: showClearPinsOption()" class="clear-search-pins"></span>
        <div id="area-search-options-1" class="area-search-radio-container">
          <input id="dms-search" type="radio" name="search-option" checked="true"/>
          <label for="dms-search" data-bind="text: dmsSearch" class="search-option-label"></label>
        </div>
        <div id="area-search-options-2" class="area-search-radio-container">
          <input id="lat-long-search" type="radio" name="search-option"/>
          <label for="lat-long-search" data-bind="text: latLongSearch" class="search-option-label"></label>
        </div>
        <div id="area-search-inputs" class="area-search-inputs">
          <div id="dms-inputs" data-bind="visible: showDMSInputs()" class="dms-inputs-container">
            <table>
              <tr>
                <td></td>
                <td data-bind="text: degreesLabel"></td>
                <td data-bind="text: minutesLabel"></td>
                <td data-bind="text: secondsLabel"></td>
              </tr>
              <tr>
                <td data-bind="text: latitudeLabel"></td>
                <td>
                  <input id="degreesLatInput" type="text" class="dms-inputs"/>
                </td>
                <td>
                  <input id="minutesLatInput" type="text" class="dms-inputs"/>
                </td>
                <td>
                  <input id="secondsLatInput" type="text" class="dms-inputs"/>
                </td>
              </tr>
              <tr>
                <td data-bind="text: longitudeLabel"></td>
                <td>
                  <input id="degreesLonInput" type="text" class="dms-inputs"/>
                </td>
                <td>
                  <input id="minutesLonInput" type="text" class="dms-inputs"/>
                </td>
                <td>
                  <input id="secondsLonInput" type="text" class="dms-inputs"/>
                </td>
              </tr>
            </table>
          </div>
          <div id="lat-long-inputs" data-bind="visible: showLatLongInputs()" class="lat-long-inputs-container">
            <table>
              <tr>
                <td data-bind="text: latitudeLabel"></td>
                <td>
                  <input id="latitudeInput" type="text" class="lat-long-inputs"/>
                </td>
              </tr>
              <tr>
                <td data-bind="text: longitudeLabel"></td>
                <td>
                  <input id="longitudeInput" type="text" class="lat-long-inputs"/>
                </td>
              </tr>
            </table>
          </div>
          <div class="search-option-button-container">
            <div id="search-option-go-button" data-bind="text: searchOptionGoButton" class="search-option-go-button"></div>
          </div>
        </div>
      </div>
      <div id="basemap-linker" data-bind="visible: showBasemapGallery()" class="basemap-linker modal-link"></div>
      <div id="basemap-gallery-container" data-bind="visible: showBasemapGallery()" class="basemap-gallery-container">
        <div id="basemap-gallery" class="basemap-gallery"></div>
      </div>
    </div>
  </div>
</div>