<h2 class="source_category_title">Air Quality</h2>

<p class="source_category_description">
</p>


<section class="ac-container">
      <!-- template container -->
       <div>
        <input id="dataSuitability-1" name="accordion-dataSuitability" type="checkbox" />
        <div class="source_header last">
          <label for="dataSuitability-1" class="source_title">
              Air Quality
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description"></em>
        </div>  
        <article class="ac-auto">
          <div class="source_body">
           <div class="source_table">
          <dl class="sources_row">
            <dt>Function</dt>
            <dd>Provides real time air quality index values for cities in the Southeast Asia, where available.</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Resolution/Scale</dt>
            <dd>Hourly readings</dd>
          </dl>
          <dl class="sources_row">
            <dt>Geographic coverage</dt>
            <dd>Global, where data are available</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Source data</dt>
            <dd>Compiled global data provided by <a target="_blank" href="http://aqicn.org/map/world/">http://aqicn.org/map/world/</a></dd>
          </dl>
          <dl class="sources_row">
            <dt>Date of content</dt>
            <dd>Hourly</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Cautions</dt>
            <dd>Quality of data depends on the original source data and may vary. Air quality data are not currently available for Indonesia.</dd>
          </dl>
        </div>

        <div class="source_summary">
          <h3 class="overview_title">Overview</h3>
           <p>
               This data layer provides hourly Air Quality Index (AQI) for many cities in Southeast Asia and around the world. Where available, AQI values indicate the risk of pollutant levels to human health. Data for all cities are expressed as AQI regardless of the nationally used standard, to enable comparison across countries and regions. For more information on AQI data, please see <a target="_blank" href="http://www.airnow.gov/index.cfm?action=aqibasics.aqi">http://www.airnow.gov/index.cfm?action=aqibasics.aqi</a>.
           </p>
            <p>
                The AQICN website, originally created to share air quality data for China, compiles publicly available real-time hourly pollutant readings for cities around the globe, in their Air Pollution in Asia: Real-time Air Quality Index Visual Map, <a href="http://aqicn.org/map/" target="_blank">http://aqicn.org/map/</a>. 
            </p>
            <p>
              Data sources:
              <ul>
                <li>
                  - Malaysia Hourly Air Quality Index (AQI) from the Malaysia Department of the Environment, <a target="_blank" href="http://apims.doe.gov.my/apims/hourly2.php">http://apims.doe.gov.my/apims/hourly2.php</a>
                </li>
                <li>
                  - Singapore Hourly Pollutant Standards Index (PSI) values provided by the Singapore National Environment Agency (NEA) and converted to Air Quality Index for standardization in readings for all reporting countries. Original data provided at <a target="_blank" href="http://app2.nea.gov.sg/anti-pollution-radiation-protection/air-pollution-control/psi/psi">http://app2.nea.gov.sg/anti-pollution-radiation-protection/air-pollution-control/psi/psi</a>
                </li>
                <li>
                  - Thailand AQI from <a href="http://www.aqmthai.com/aqi.php" target="_blank">http://www.aqmthai.com/aqi.php</a>
                </li>
              </ul>
            </p>
           <p class="credits"><strong>Credit:</strong>
            Data compiled by the website, Air Pollution in Asia, in their Real-time Air Quality Index Visual Map.
           <br>
            <a target="_blank" href="http://aqicn.org/map/">http://aqicn.org/map/</a>
           </p>
        </div>
          </div>
        </article>
      </div>
      <div>
        <input id="dataSuitability-2" name="accordion-dataSuitability" type="checkbox" />
        <div class="source_header last">
          <label for="dataSuitability-2" class="source_title">
              Wind Direction
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description"></em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
           <div class="source_table">
          <dl class="sources_row">
            <dt>Function</dt>
            <dd>Provides an animation of wind direction data collected 4 times daily.</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Resolution/Scale</dt>
            <dd>N/A</dd>
          </dl>
          <dl class="sources_row">
            <dt>Geographic coverage</dt>
            <dd>Global</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Source data</dt>
            <dd>NOAA</dd>
          </dl>
          <dl class="sources_row">
            <dt>Date of content</dt>
            <dd>4 times a day</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Cautions</dt>
            <dd><a target="_blank" href="http://www.weather.gov/disclaimer">http://www.weather.gov/disclaimer</a></dd>
          </dl>
        </div>

        <div class="source_summary">
          <h3 class="overview_title">Overview</h3>
           <p>
               This visualization of wind direction in near-real time combines the visualization of wind direction data from the
               Global Forecast System (GFS) spectral model <a href="http://nomads.ncep.noaa.gov/txt_descriptions/GFS_high_resolution_doc.shtml" target="_blank">http://nomads.ncep.noaa.gov/txt_descriptions/GFS_high_resolution_doc.shtml</a>
               as well as code developed by Cameron Beccario <a href="https://github.com/cambecc/earth" target="_blank">https://github.com/cambecc/earth</a>, to create a visualization by interpolating
               wind direction between measurements. The GFW model was originally developed by J. Sela (Sela 1982, 1988), and is continuously
               improved by the Global Climate and Weather Modeling Branch which conducts a program of research and development in support of the
               Environmental Modeling Center (EMC) (<a href="http://www.emc.ncep.noaa.gov/" target="_blank">http://www.emc.ncep.noaa.gov/</a>) of the National Centers for Environmental Prediction
               (NCEP <a href="http://www.ncep.noaa.gov/">http://www.ncep.noaa.gov/</a>). The operational forecasting mission for global prediction for medium range (3-14 days)
               and for extended range (week2 – S/I) is at <a href="http://www.emc.ncep.noaa.gov/gmb/mission.html" target="_blank">http://www.emc.ncep.noaa.gov/gmb/mission.html</a>. The operational GFS consists of
               the final Global Data Assimilation System, the GFS forecasts (GFS), and the Ensemble forecasts (ENS). The GFS is a consolidation
               of the forecasts formerly known as the Aviation (AVN) and the Medium Range Forecast (MRF).
           </p>
            <p>
                The wind direction visualization utilizes data from the NOAA National Operational Model Archive & Distribution System, which may be accessed at
                <a href="http://nomads.ncdc.noaa.gov/data.php?name=access#hires_weather_datasets">http://nomads.ncdc.noaa.gov/data.php?name=access#hires_weather_datasets</a>. Wind direction data are collected by satellite 4 times per day.
            </p>
           <p class="credits"><strong>Citation:</strong>NOAA Operational Model Archive and Distribution System<br/>
               <a href="http://nomads.ncdc.noaa.gov/data.php?name=access#hires_weather_datasets" target="_blank">
                   http://nomads.ncdc.noaa.gov/data.php?name=access#hires_weather_datasets</a><br/>
               <a href="http://nomads.ncdc.noaa.gov/">Learn more or download data</a>
           </p>

           
        </div>
          </div>
        </article>
      </div>
</section>