html,
body,
.app {
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#stackContainer {
  width: 100%;
}
.mapView #stackContainer {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
.homeView #stackContainer {
  height: 500px !important;
}
.blogView #stackContainer {
  height: 100% !important;
}
.dataView #stackContainer {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
}
.aboutView #stackContainer {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
}
#homeView,
#blogView,
#dataView,
#aboutView {
  overflow: visible;
}
.mapView #footerMovableWrapper {
  display: none;
}
#app-header {
  height: 210px;
  background: url("../images/header_tree_background.png") repeat-x scroll center top transparent;
  border-bottom: 1px solid #717d80;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  box-sizing: border-box;
}
#app-header.small {
  height: 100px;
}
#app-body {
  width: 100%;
}
#app-footer {
  height: 470px;
  width: 100%;
}
#app-footer.small {
  height: 180px;
}
#app-footer.small.nomap {
  height: 0px;
}
.errorMsg {
  position: absolute;
  top: 10px;
  border: 1px solid #000;
  background-color: #ff0;
  color: #f00;
  z-index: 1000;
  padding: 3px;
  text-align: center;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}
.blocker {
  background-color: #ff0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  right: 0;
}
