html, body, .app
    background-color #FFF
    height 100%
    width 100%
    margin 0
    font-family "Helvetica Neue",Helvetica,Arial,sans-serif

#stackContainer
  width 100%
  height 100%

#app-header
  height 210px
  background url('../images/header_tree_background.png') repeat-x scroll center top transparent
  border-bottom 1px solid #717D80
  box-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
  box-sizing border-box

#app-body
  height 100%
  width 100%

#app-footer
  height 300px
  width 100%
  background-color #222
