.inner-container
	width 960px
	margin 0px auto

.dataView
	background-color white

.content-header
	height 200px
	width	100%
	background url(../images/header_block.jpg)
	margin 50px 0 0 0

.nav
	float left
	width 313px
	margin 20px 0 0 0


ul.nav-list
	list-style none
	margin 0 
	padding 0
	width 100%

li.nav-item
	width 100%
	line-height 56px
	padding-left 45px
	border-bottom 1px solid rgb(204, 204, 204)
	border-right 1px solid rgb(204, 204, 204)
	cursor pointer
	font-size 14px
	font-weight 400
	font-family "fira_sans_otmedium"
	text-transform uppercase
	text-decoration none
	color rgb(70, 64, 82)
	background rgb(242, 242, 243)

li.selected
	background-color rgb(255,255,255)
	border-right 0px solid rgb(255,255,255)