.footerModes {
  text-align: center;
  width: 100%;
  height: 100%;
}
.footerWrapper .footerItem {
  width: 33.33%;
  float: left;
  height: 100%;
}
.footerWrapper .footerItem .desc {
  height: 35px;
}
.footerWrapper .blogPosts,
.footerWrapper .analysisAlerts,
.footerWrapper .submitStory {
  width: 100%;
  height: 100%;
}
.footerWrapper .analysisAlerts .icon {
  background-image: url("../images/home-icons.png");
  background-position: 0px -400px;
  background-repeat: no-repeat;
  height: 92px;
  margin: 20px auto;
  width: 150px;
}
.footerWrapper .submitStory .icon {
  background-image: url("../images/home-icons.png");
  background-position: 0px -540px;
  background-repeat: no-repeat;
  height: 92px;
  margin: 20px auto;
  width: 134px;
}
.footerWrapper .blogPosts .icon {
  background-image: url("../images/home-icons.png");
  background-position: 0px -740px;
  background-repeat: no-repeat;
  height: 92px;
  margin: 20px auto;
  width: 122px;
}
.footerModes .title {
  font-size: 29px;
  font-family: "Georgia", serif;
  margin: 0px 0px 20px;
}
.footerModes .desc {
  font-size: 15px;
  line-height: 1.2;
  color: #666;
  margin: 0px 0px 20px;
}
.footerModes .action {
  text-transform: uppercase;
  background: none repeat scroll 0% 0% #9bb251;
  padding: 14px 34px;
  border-radius: 2px;
  border: 1px solid #839c26;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}
.footerModesContainer {
  width: 100%;
  height: 300px;
  background-color: #222;
}
.footerShareContainer {
  width: 100%;
  height: 180px;
}
.footerWrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
  color: #fff;
  height: 100%;
}
.footerMovableWrapper {
  width: 100%;
  height: 180px;
  background-color: #464352;
  color: #fff;
  clear: both;
  bottom: 0;
}
.footerMovableModes {
  height: 180px;
  max-width: 960px;
  width: 100%;
  margin: auto;
  background-color: #464352;
}
.footerMovableModes .container-large {
  width: 365px;
  height: 100%;
  padding: 0px;
  float: left;
}
.footerMovableModes .container-large>div {
  padding: 10px;
}
.footerMovableModes .container-small {
  width: 200px;
  height: 100%;
  padding: 0px;
  float: left;
}
.footerMovableModes .container-small>div {
  padding: 10px;
}
.footerMovableModes .about-project {
  color: #b1afb6;
  font-size: 12px;
}
.footerMovableModes .about-project .title {
  font-weight: bold;
}
.footerMovableModes .wri-address {
  color: #b1afb6;
  font-size: 12px;
}
.footerMovableModes .wri-address .title {
  font-weight: bold;
}
.footerMovableModes .wri-address .wri-logo {
  font-weight: bold;
  background: url("../images/wri.png") no-repeat scroll 0% 0% transparent;
  height: 31px;
  width: 269px;
  display: block;
  margin: 10px 0px;
}
.footerMovableModes .share {
  color: #fff;
}
.footerMovableModes .share .title {
  text-align: center;
}
.footerMovableModes .share-container {
  padding: 10px 20px;
  border-radius: 160px;
  background-color: #fff;
  margin: 10px 0px;
}
.footerMovableModes .sign-up {
  margin: 10px 0px;
}
.footerMovableModes .subscribe {
  margin: 0px 5px;
}
.footerMovableModes .about-project .gfw-logo {
  background: url("../images/monochromatic_gfw.jpg") no-repeat scroll 0% 0% transparent;
  text-align: center;
  height: 71px;
  display: block;
  width: 122px;
  margin: 10px auto;
}
