.footerWrapper .blogPosts, .footerWrapper .analysisAlerts, .footerWrapper .submitStory
    top 0px
    width 33%
    display inline-block
	
.footerWrapper .blogPosts .icon
    width 134px
    background-image url('../images/home-icons.png')
    background-position 0px -540px
    backgroud-repeat norepeat
    height 92px
    margin 20px auto
    cursor pointer

.footerWrapper .analysisAlerts .icon
    width 134px
    background-image url('../images/home-icons.png')
    background-position 0px -400px
    backgroud-repeat norepeat
    height 92px
    margin 20px auto
    cursor pointer

.footerWrapper .submitStory .icon
    width 134px
    background-image url('../images/home-icons.png')
    background-position 0px -740px
    backgroud-repeat norepeat
    height 92px
    margin 20px auto
    cursor pointer

.footerContainer
	width 100%
	height 100%

.footerWrapper
	width 100%
	max-width 960px
	//background-color white
	height 100%
	margin auto
