.footerWrapper .blogPosts, .footerWrapper .analysisAlerts, .footerWrapper .submitStory
    top 0px
    width 33%
    display inline-block
	
.footerWrapper .analysisAlerts .icon    
    background-image url('../images/home-icons.png')
    background-position 0px -400px
    background-repeat norepeat
    height 92px
    margin 20px auto
    width 150px

.footerWrapper .submitStory .icon	
    background-image url('../images/home-icons.png')
    background-position 0px -540px
    background-repeat norepeat
    height 92px
    margin 20px auto
    width 134px

.footerWrapper .blogPosts .icon
    background-image url('../images/home-icons.png')
    background-position 0px -740px
    background-repeat norepeat
    height 92px
    margin 20px auto
    width 122px

.footerModes
	text-align center

.footerModes .title
	font-size 29px
	font-family "Georgia",serif
	margin 0px 0px 20px


.footerModes .desc
	font-size 15px
	line-height 1.2
	color #666
	margin 0px 0px 20px

.footerModes .action
	text-transform uppercase
	background none repeat scroll 0% 0% #9BB251
	padding 14px 34px
	border-radius 2px
	border 1px solid #839C26
	font-size 11px
	font-weight bold
	cursor pointer

.footerContainer
	width 100%
	height 100%

.footerWrapper
	width 100%
	max-width 960px
	//background-color white
	height 100%
	margin auto
	color #FFF
