.headerTitleContainer	
	height 45px
	border-bottom 1px solid #9B9B9B
	background-color #E6E6E6
	border-top 5px solid #222
	color #747474
	font-size 12px
	box-sizing border-box
	

.headerTitle
	height 45px
	max-width 960px	
	margin auto
	padding-left 15px
	line-height 45px
	vertical-align middle

.headerSeparator
	position absolute
	display inline-block
	top 106px
	left 0px
	width 100%
	border-bottom 1px solid #CFCFCF

.navContainer
	max-width 960px
	height 80px
	margin auto

.headerDescContainer
	height 80px
	width 100%
	
.headerDesc
	height 80px
	margin auto
	max-width 960px
	line-height 80px
	vertical-align middle
	font-family "Georgia",serif
	font-size 37px
	//background-color yellow

.navigationLinks
	float right
	color #000
	margin-right 10px

.navList ul
	list-style-type none

.navList li
	float left	
	color #000	
	list-style-type none
	padding-right 10px
	padding-left 10px
	padding-top 5px
	padding-bottom 5px
	cursor pointer
	border-radius 5px
	text-transform uppercase
	font-size 12px
	font-weight bold
	background-color none

.navList li.selected
	color #FFF	
	background-color #EC1D38

.logo
	background url('../images/gfwc_logo.png') no-repeat
	width 86px
	height 86px
	position absolute
	top 45px
	margin-left 10px
	box-shadow 2px 2px 2px #888888

