.headerTitle
	height 30px
	border-bottom 1px solid #9B9B9B
	background-color #E6E6E6

.navContainer
	max-width 960px
	height 80px
	margin auto
	//background-color yellow

.navigationLinks
	float right
	color #000
	margin-right 10px

.navList ul
	list-style-type none

.navList li
	float left	
	color #000	
	list-style-type none
	padding-right 10px
	padding-left 10px
	padding-top 5px
	padding-bottom 5px
	cursor pointer

.navList li.selected
	color #FFF	
	background-color #E98300

.logo
	background url('../images/gfwc_logo.png') no-repeat
	width 86px
	height 86px
	position absolute
	top 30px
	margin-left 10px
	//left 10px

