.homeBgContainer
	width 100%
	height 100%
	overflow hidden	

.homeBgContainer img
	width 100%
	height auto
//	background url('../images/home-bg.jpg') no-repeat scroll 0px 0px / 100% auto #000
.homeModeOptionsContainer
	position absolute
	width 100%
	height 100%

.homeModeOptionsViewerOuter
	width 250px
	height 250px
	z-index 100
	//overflow hidden
	overflow-x auto
	overflow-y hidden
	margin auto
	margin-top 50px

/*.homeModeOptionsViewerInner
	width 250px
	height 250px
	z-index 100
	overflow hidden*/


.homeModeOptionsViewerOuter .modeOption
	border-radius 150px
	background-color #ccc
	height 250px
	width 250px
	line-height 250px
	vertical-align middle
	text-align center
	position absolute
	//display inline-block
	margin auto
	opacity 0.5

.homeModeOptionsViewerOuter .modeOptionRing
	border-radius 150px
	background none
	height 250px
	width 250px
	line-height 250px
	vertical-align middle
	text-align center
	position absolute
	//display inline-block
	margin auto
	border 10px solid #EC1D38


	


