.homeBgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.homeBgContainer img {
  width: 100%;
  height: auto;
}
.homeModeOptionsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.homeModeOptionsViewerOuter {
  width: 250px;
  height: 250px;
  z-index: 100;
  overflow-x: auto;
  overflow-y: hidden;
  margin: auto;
  margin-top: 50px;
}
.homeModeOptionsViewerInner {
  width: 1000px;
  height: 250px;
  z-index: 100;
  overflow: hidden;
}
.homeModeOptionsViewerInner .modeOption {
  border-radius: 125px;
  background-color: #ccc;
  height: 250px;
  width: 250px;
  line-height: 250px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin: auto;
}
