
/* line 286 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/fires/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
map.styl,
.disabled {
  color: #bebebe;
}

/* line 8 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .dijitCheckBox.dijitDisabled {
  background-color: #bebebe;
}

/* line 21 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-view {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 25 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.control-panel {
  background-color: #fff;
  position: absolute;
  width: 320px;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 5;
}

/* line 34 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel {
  transition: all 1s;
}

/* line 37 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-container {
  position: absolute;
  left: 320px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 43 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map {
  height: 100%;
  width: 100%;
}

/* line 46 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.simpleGeocoder .esriGeocoder {
  border: 2px solid #aaa;
}

/* line 49 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.HomeButton .home {
  padding: 0;
  border-radius: 0;
}

/* line 53 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.locator-widget-button,
.basemap-gallery-button,
.share-button,
.print-button {
  padding: 1px;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  right: 20px;
  z-index: 50;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}

/* line 64 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriSimpleSlider {
  border: 0;
  background: rgba(255,255,255,0);
}

/* line 68 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriSimpleSliderTL {
  right: 20px;
  left: auto;
}

/* line 71 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: 0;
  padding: 1px;
  color: #f0ab00;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 2px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}

/* line 81 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriSimpleSliderVertical .esriSimpleSliderIncrementButton:hover,
.HomeButton .home:hover,
.share-button:hover,
.locator-widget-button:hover,
.basemap-gallery-button:hover,
.print-button:hover {
  background-color: #eee !important;
}

/* line 84 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.basemap-gallery-button,
.HomeButton .home,
.locator-widget-button {
  background-color: #fff;
}

/* line 87 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .HomeButton {
  margin: 0 0 4px 0;
}

/* line 90 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */

/* line 93 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriPopupWrapper .sizer:first-child .titlePane {
  height: 20px;
  background: #f7f7f7;
}

/* line 96 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriPopupWrapper .sizer:first-child .titlePane .title {
  color: #000;
}

/* line 99 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriPopupWrapper .sizer:first-child .titlePane .maximize {
  display: none;
}

/* line 101 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriPopupWrapper .sizer:first-child .titlePane .close {
  display: none;
}

/* line 103 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriPopupWrapper .sizer:first-child .titlePane .next {
  background: url("../images/arrow_go.png") no-repeat !important;
  margin-top: 3px;
}

/* line 106 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriPopupWrapper .sizer:first-child .titlePane .prev {
  background: url("../images/arrow_prev.png") no-repeat;
  margin-top: 3px;
}

/* line 110 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */

/* line 111 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriPopupWrapper .sizer h3 {
  margin-top: 0px;
  margin-bottom: 3px;
}

/* line 114 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .esriPopupWrapper .sizer .contentPane {
  padding-top: 0px;
}

/* line 117 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#map .HomeButton .home {
  padding: 1px;
  background-color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  background-image: url("../images/ico-home.png");
}

/* line 124 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.esriSimpleSliderDecrementButton {
  padding: 1px;
  color: #f0ab00;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}

/* line 133 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.modal-link {
  background-color: #fff;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 45px;
  z-index: 49;
}

/* line 141 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.locator-widget-button {
  background-image: url("../images/locate.png");
  background-repeat: no-repeat;
  background-position: 0 -34px;
  top: 130px;
}

/* line 147 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.locator-linker {
  top: 130px;
}

/* line 150 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.basemap-gallery-button {
  background-image: url("../images/basemap.png");
  background-repeat: no-repeat;
  background-position: 0 -34px;
  top: 170px;
  border-width: 0;
}

/* line 157 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.basemap-linker {
  top: 170px;
}

/* line 160 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.basemap-gallery-container,
.locator-widget-container,
.map-share-container {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  width: 300px;
  z-index: 50;
  right: 70px;
}

/* line 168 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.basemap-gallery-container,
.locator-widget-container {
  height: 300px;
  top: 20px;
}

/* line 172 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-share-container {
  height: 80px;
  width: auto;
  top: 180px;
}

/* line 177 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map .embed_code_share {
  background: url("../images/embed_icon.png") no-repeat #fff;
  display: inline-block;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

/* line 184 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.basemap-gallery-container {
  overflow-y: auto;
}

/* line 187 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.basemap-container-labels {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
}

/* line 194 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.share-linker {
  top: 210px;
}

/* line 197 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.share-button {
  background: url("../images/share-icon.png") no-repeat #fff;
  background-position: -2px -35px;
  top: 210px;
}

/* line 202 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.popup-link-zoom {
  background: url("../images/magnifyingGlass.png") no-repeat;
  background-position: 20px 2px;
  cursor: pointer;
}

/* line 207 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#leftPaneToggle {
  z-index: 30;
  position: absolute;
  left: 0px;
  top: 90px;
  background-color: #ecc53d;
  color: #fff;
  height: 30px;
  width: 30px;
  transition: all 1s;
  font-size: 28px;
  cursor: pointer;
  text-align: center;
  line-height: 25px;
}

/* line 222 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.confidence-archive-container {
  margin-left: 13px;
  padding-bottom: 10px;
}

/* line 226 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#ui-datepicker-div {
  z-index: 35 !important;
}

/* line 229 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#footprintsCheckBox > label {
  color: #808080 !important;
}

/* line 232 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-optionsDigitalGlobe {
  margin-top: -10px;
  margin-left: 20px;
}

/* line 236 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryTopRow th {
  background: #fff;
  color: #808080;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 30px;
}

/* line 243 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryTable {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 246 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryTable tr:nth-child(even) {
  background: #fff;
}

/* line 247 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryTable tr:nth-child(odd) {
  background: #f0f0f0;
}

/* line 250 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
/*.imageryTable tr
	border-left: 1px solid transparent;*/

/* line 253 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryTable td {
  text-align: center;
}

/* line 256 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryTable td a {
  color: #000;
}

/* line 259 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryTable th {
  text-align: center;
}

/* line 262 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#imageryWindow > table > thead > tr > th:nth-child(1) {
  width: 81px;
}

/* line 265 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#imageryWindow > table > tbody > tr > td:nth-child(1) {
  width: 81px;
}

/* line 268 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#imageryWindow > table > thead > tr > th:nth-child(2) {
  width: 104px;
}

/* line 271 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#imageryWindow > table > tbody > tr > td:nth-child(2) {
  width: 104px;
}

/* line 274 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#imageryWindow > table > thead > tr > th:nth-child(3) {
  width: 77px;
}

/* line 277 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#imageryWindow > table > tbody > tr > td:nth-child(3) {
  width: 60px;
}

/* line 280 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryTable tr {
  height: 25px;
}

/* line 283 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
table.imageryTable thead,
table.imageryTable tbody {
  float: left;
  width: 100%;
}

/* line 288 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#imageryWindow {
  width: auto;
  padding: 10px;
  background: #fff;
  z-index: 6;
  font-size: 12pt;
}

/* line 302 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#imageryWindow .font14 {
  font-size: 14pt;
  padding-top: 3px;
  padding-bottom: 1px;
}

/* line 306 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#imageryWindow .font10 {
  font-size: 10pt;
}

/* line 309 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options {
  width: auto;
  max-width: 300px;
  padding: 10px;
  height: auto;
  position: absolute;
  top: 20%;
  right: 50%;
  background: #fff;
  z-index: 6;
  font-size: 12pt;
  border-radius: 5px;
}

/* line 323 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options .font14 {
  font-size: 14pt;
  padding-top: 3px;
  padding-bottom: 1px;
}

/* line 327 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options .font10 {
  font-size: 10pt;
}

/* line 329 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options .selInfo {
  padding-top: 5px;
  font-style: italic;
}

/* line 333 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options .report-options-section {
  padding: 8px 15px 16px 15px;
}

/* line 335 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options .report-label {
  margin-right: 10px;
}

/* line 338 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options .report-link-container {
  position: relative;
  width: 115px;
  top: 0px;
  left: 30%;
  right: 0px;
  bottom: 10px;
}

/* line 345 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options .report-link-container > {
  margin-left: 10px;
}

/* line 348 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options select[multiple=true] {
  margin: 8px 8px 8px 0px;
  padding: 3px;
  width: 250px;
  height: 100px;
}

/* line 354 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#report-options input[type=radio] {
  margin: 3px;
}

/* line 357 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.reportOptionsSidebar {
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
}

/* line 362 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.reportOptionsHeader {
  position: relative;
  cursor: pointer;
  width: 10px;
  float: right;
  top: -5px;
}

/* line 369 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.tomnodLink a {
  text-decoration: underline;
  font-size: 11px;
  color: #808080;
  padding: 0px 0px 0px 25px;
  font-weight: 300;
}

/* line 376 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.print-button {
  background: url("../images/print-icon.png") no-repeat #fff;
  background-position: -1px -35px;
  text-align: center;
  line-height: 30px;
  top: 250px;
}

/* line 383 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.print-button.loading {
  background: url("../images/loader.gif") no-repeat center #fff;
}

/* line 386 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.locator-line-splitter {
  text-align: center;
  width: 290px;
}

/* line 390 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.locator-container-header {
  margin: 5px 0 0 5px;
  font-weight: bold;
  font-size: 18px;
}

/* line 395 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map .sharing_toolbox {
  padding: 20px 20px 0;
}

/* line 398 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.addthis_sharing_toolbox {
  display: inline-block;
}

/* line 401 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.LocateButton {
  margin: 0 5px;
}

/* line 404 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.LocateButton span {
  display: block !important;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
}

/* line 412 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.LocateButton .zoomLocateButton {
  background: #555 !important;
  height: 25px !important;
  width: 100px !important;
}

/* line 417 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.LocateButton .zoomLocateButton:hover {
  background: #e7002f !important;
}

/* line 420 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.simpleGeocoder {
  position: absolute;
  z-index: 50;
  right: 80px;
  top: 20px;
}

/* line 426 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.area-search-inputs {
  margin: 5px;
}

/* line 429 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.dms-inputs {
  height: 20px;
  width: 60px;
}

/* line 433 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.lat-long-inputs {
  height: 20px;
}

/* line 436 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.area-search-radio-container {
  margin: 2px 5px;
}

/* line 439 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.goto-area-search {
  display: inline-block;
  margin: 5px;
}

/* line 443 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.clear-search-pins {
  text-decoration: underline;
  cursor: pointer;
  float: right;
  margin: 5px;
  color: #00f;
}

/* line 450 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.search-option-button-container {
  text-align: center;
  position: absolute;
  left: 100px;
  bottom: 0;
}

/* line 456 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.search-option-go-button {
  background-color: #444;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px auto;
  cursor: pointer;
  padding: 3px 0;
  width: 100px;
  color: #fff;
}

/* line 467 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.search-option-go-button:hover {
  background-color: #e7002f;
}

/* line 470 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.fires-map-accordion {
  position: absolute !important;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 476 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .dijitAccordionContainer {
  border-width: 0px;
  margin: 0 5px;
}

/* line 480 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .fires-map-accordion .dijitAccordionTitle {
  background: #fff url("../images/ico-carat-right.png") 96% center no-repeat;
  color: #888;
  font-weight: bold;
}

/* line 485 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .fires-map-accordion .dijitAccordionTitleSelected {
  background: #fff url("../images/ico-carat-down.png") 96% center no-repeat !important;
  color: #888;
}

/* line 490 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.legend-widget-container {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px;
  height: 280px;
  width: 250px;
  z-index: 50;
  right: 20px;
  bottom: 0;
  border: 1px solid #bfbfbf;
}

/* line 504 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.legend-widget-title {
  box-sizing: border-box;
  background-image: url("../images/ico-carat-down.png") !important;
  color: #e98300;
  background-color: #ececed;
  cursor: pointer;
  font-weight: 600 !important;
  height: 30px;
  line-height: 30px;
  background-repeat: no-repeat !important;
  background-position: 90% 10px !important;
}

/* line 516 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.legend-widget-title:hover {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

/* line 520 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.legend-closed {
  background-image: url("../images/ico-carat-up.png") !important;
}

/* line 523 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.legend-widget-title span {
  display: inline-block;
  line-height: 30px;
  font-weight: bold;
  margin-left: 5px;
}

/* line 529 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.legend-content {
  height: 250px;
  width: 100%;
}

/* line 533 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#legend {
  overflow-y: auto;
  height: 100%;
  width: 230px;
  padding: 0 0 0 20px;
}

/* line 539 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#legend_msg {
  display: none !important;
}

/* line 542 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.esriLegendServiceLabel {
  display: none !important;
}

/* line 545 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.esriLegendService {
  padding-bottom: 5px !important;
}

/* line 548 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.active-fires-options-container {
  margin: 10px 0 20px;
}

/* line 551 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.active-fires-options {
  text-align: center;
  line-height: 15px;
  cursor: pointer;
  height: 15px;
  width: 185px;
  border: 2px solid #e98300;
  text-align: center;
  margin: 3px auto;
  padding: 5px;
  color: #000;
}

/* line 563 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.confidence-fires-container {
  margin: 5px 46px;
}

/* line 566 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.active-fires-options.selected-fire-option {
  background-color: #ecc53d;
  color: #fff;
  font-weight: bold;
  color: #fff;
}

/* line 572 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.checkbox-sub-label {
  margin: 2px 7px;
  font-size: 12px;
  display: block;
}

/* line 577 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.checkbox-instructions {
  padding: 0 0 0 20px;
  font-weight: bold;
  font-size: 11px;
}

/* line 582 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.latLongHUD {
  background-color: rgba(255,255,255,0.4);
  border-radius: 5px;
  position: absolute;
  font-size: 15px;
  top: 5px;
  z-index: 50;
  left: 5px;
}

/* line 591 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .dijitAccordionContainer-dijitContentPane {
  padding: 10px;
}

/* line 594 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.accordion-panel .slider-container {
  width: 250px;
  margin: 20px;
}

/* line 598 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.slider-container .dijitSlider {
  width: 100%;
}

/* line 601 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.transparency-slider-label {
  font-size: 11px;
  padding: 0px 0px 0px 20px;
  color: #000;
}

/* line 606 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.latLongHUD div {
  padding: 2px 4px;
}

/* line 609 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.report-link-container {
  border-radius: 5px;
  background-color: #e7002f;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 616 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.report-link {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  color: #fff;
}

/* line 624 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
div.report-options-section > table {
  margin-bottom: 5px;
}

/* line 627 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.report-link-dates {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  color: #fff;
  background-color: #f00;
  border-radius: 5px;
  display: table;
  margin: auto;
}

/* line 639 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.coming-soon-label {
  margin-left: 20px;
  font-size: 12px;
  color: #808080;
}

/* line 644 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.esriControlsBR {
  right: inherit !important;
  left: 5px;
}

/* line 648 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.esriScalebar {
  top: 55px !important;
}

/* line 652 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .dijitSliderRemainingBarH,
#control-panel.dijitSliderProgressBarH,
#control-panel.dijitSliderFocused .dijitSliderProgressBarH {
  background: #ecc53d;
  padding: 2px;
  border-width: 0px;
}

/* line 657 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.dijitSliderMoveable {
  outline: none;
}

/* line 660 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.checkbox-container {
  padding: 5px 20px;
}

/* line 663 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.checkbox-container-wind {
  padding: 2px 10px;
}

/* line 668 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .dijitSliderImageHandleH {
  border: 4px solid #e98300;
  height: 8px;
  width: 8px;
  margin-top: 2px;
  background: #fff url("");
  border-radius: 8px;
}

/* line 677 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel label {
  display: inline;
  color: #000;
  margin-left: 4px;
  font-size: 13px;
  font-weight: 600;
}

/* line 685 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .checkbox-sub-label {
  clear: both;
  font-size: 11px;
  padding: 0px 0px 0px 20px;
  font-weight: 100;
}

/* line 691 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .dijitSliderLeftBumper,
#control-panel .dijitSliderRightBumper,
#control-panel .dijitSliderIncrementIconH,
#control-panel .dijitSliderDecrementIconH {
  display: none;
}

/* line 694 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .dijitSliderProgressBarH {
  background: rgba(0,0,0,0);
  border-width: 0;
}

/* line 698 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .dijitCheckBox,
#basemap-gallery-container .dijitCheckBox,
#windLayerBasemapDialog .dijitCheckBox {
  appearance: none;
  background: #fff;
  width: 16px;
  height: 16px;
  border: 1px solid #898989;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  box-sizing: border-box;
  margin: 2px 2px 0px 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 717 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel .dijitCheckBoxChecked,
#basemap-gallery-container .dijitCheckBoxChecked,
#windLayerBasemapDialog .dijitCheckBoxChecked {
  background: url("../images/ico-checkmark.png") 50% 50% no-repeat #898989;
  border: 1px solid #898989;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

/* line 726 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel input[type="radio"] {
  background-image: url("../images/checkmark.png");
  background-position: -110px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 2px 2px 0 0;
  padding: 0;
}

/* line 735 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#control-panel input[type="radio"]:checked {
  background-position: -94px;
}

/* line 738 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.close-icon {
  position: absolute;
  z-index: 1;
  right: 2px;
  top: 5px;
  height: 15px;
  width: 15px;
  background: url("../images/ico-close.png") no-repeat;
  cursor: pointer;
}

/* line 748 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.infoName {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

/* line 753 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryRow:hover {
  border: 2px solid #ff0;
  box-sizing: border-box;
}

/* line 758 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.imageryRowSelected {
  border: 2px solid #0ff;
  box-sizing: border-box;
}

/* line 762 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#infoWindowTable td {
  width: 45%;
  padding: 0 5px 0 0;
}

/* line 766 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.esriPopupWrapper {
  top: -40px;
}

/* line 769 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.popup-link,
.custom-zoom-to {
  cursor: pointer;
}

/* line 772 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.popup-list {
  margin-bottom: 20px !important;
}

/* line 775 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.satelliteColumn {
  position: absolute;
  left: 110px;
}

/* line 779 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.custom-zoom-to {
  position: absolute;
  left: 10px;
  bottom: 0;
}

/* line 784 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.loadingWheelContainer {
  background-color: #ddd;
  position: absolute;
  z-index: 5000;
  opacity: 0.5;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}

/* line 795 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.loadingWheel {
  position: absolute;
  margin-left: -12px;
  margin-top: -12px;
  left: 50%;
  top: 50%;
}

/* line 802 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#primary-forests-options {
  margin: 0 20px;
}

/* line 805 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#primary-forests-options label {
  font-weight: normal;
}

/* line 808 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#primary-forests-options .inline {
  display: inline-block;
}

/* line 811 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#windLegendLabels {
  margin: 0 25px;
  font-size: 10px;
}

/* line 815 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.windLegendNode {
  margin: 10px auto;
  height: 13px;
  width: 80%;
}

/* line 820 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.rightWindLabel {
  float: right;
}

/* line 823 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.windLayerLegendColorRamp {
  background: linear-gradient(to right, rgba(0,255,255,0.5) 0%, rgba(255,30,219,0.5) 100%);
}

/* line 826 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#windLayerBasemapDialog,
#digitalGlobeInstructions,
#embedCodeShareDialog {
  font-family: "Arial MT Condensed Light";
  src: url("../fonts/ArialMTStd-LightCond.otf") format("opentype");
  color: #464052;
}

/* line 831 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#windLayerBasemapDialog .dijitDialogPaneActionBar,
#digitalGlobeInstructions .dijitDialogPaneActionBar,
#embedCodeShareDialog .dijitDialogPaneActionBar {
  margin: 10px 0 0;
  text-align: center;
}

/* line 835 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#windLayerBasemapDialog .dijitDialogPaneActionBar button,
#digitalGlobeInstructions .dijitDialogPaneActionBar button {
  border-radius: 5px;
  background: #e7002f;
  font-weight: bold;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
  border: none;
}

/* line 846 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#embedCodeShareDialog .dijitDialogPaneActionBar input[type="text"] {
  height: 20px;
  width: 90%;
}

/* line 850 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#windLayerBasemapDialog .dialogCheckbox,
#digitalGlobeInstructions .dialogCheckbox {
  margin-top: 15px;
  font-size: 12px;
  color: #777;
}

/* line 855 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#windLayerBasemapDialog .dialogCheckbox label,
#digitalGlobeInstructions .dialogCheckbox label {
  position: relative;
  left: 4px;
  top: 2px;
}

/* line 860 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-view-print .mapView #stackContainer {
  top: 0px;
}

/* line 863 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-view-print #app-header {
  display: none;
}

/* line 866 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-view-print #control-panel {
  width: 0 !important;
}

/* line 869 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-view-print #map-container {
  left: 0 !important;
  max-width: 100%;
  max-height: 100%;
}

/* line 874 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-view-print .esriControlsBR,
.map-view-print .legend-widget-container,
.map-view-print .locator-widget-button,
.map-view-print .basemap-gallery-button,
.map-view-print .share-button,
.map-view-print .print-button,
.map-view-print .simpleGeocoder,
.map-view-print .esriSimpleSlider {
  display: none !important;
}

/* line 884 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-view-print .latLongHUD,
.map-view-print .esriScalebar {
  top: 15px;
}

/* line 888 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.map-view-print .latLongHUD {
  bottom: auto;
}

/* line 894 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel {
  display: none;
}

/* line 897 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.TimeTT {
  height: 20px;
  width: 40px;
  top: -20px;
  left: -5px;
  z-index: 500000000;
  position: absolute;
  background: #222;
  display: none;
}

/* line 907 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.esriTimeSlider {
  padding-top: 10px;
}

/* line 910 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.timeSliderContainer {
  height: 95px;
  width: 272px;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
}

/* line 917 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.timeSliderPanel .dijitRuleLabel {
  float: left;
  width: 36px;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  color: #000;
  font-family: "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
/* rotate labels */
  -webkit-transform: rotate(-55deg);
  -moz-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  -o-transform: rotate(-55deg);
  transform: rotate(-55deg);
}

/* line 932 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.timeSliderContainer .dijitRuleLabelH {
  left: -55% !important;
}

/* line 935 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.timeSliderPanelLabel {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #fff;
  position: absolute;
  padding: 0 5px 5px;
  left: 30px;
  top: -20px;
}

/* line 944 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel {
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.25);
  box-shadow: 0 0 8px rgba(0,0,0,0.25);
  background: #fff;
  border-radius: 5px;
  position: absolute;
  bottom: 40px;
  height: 60px;
  right: 280px;
  left: 10px;
  z-index: 5;
}

/* line 956 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.esriTimeSlider .tsPlayButton {
  background: url("../images/ico-play.png") no-repeat center;
  border-right: 0px solid #d1d0d4;
  display: block;
  height: 60px;
  width: 0px;
}

/* line 963 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.esriTimeSlider .tsPauseButton {
  background: url("images/ico-pause.png") no-repeat center;
  border-right: 2px solid #d1d0d4;
  display: block;
  height: 60px;
  width: 24px;
}

/* line 970 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .esriTimeSlider {
  padding-top: 0;
}

/* line 973 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dijitButton {
  margin: 0;
}

/* line 976 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .esriTimeSlider td:first-child {
  width: 2%;
  text-align: left;
}

/* line 980 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .esriTimeSlider td:nth-child(3) {
  width: 2%;
  text-align: right;
}

/* line 984 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dijitButtonNode {
  border: 0px solid #c0c0c0;
  border-bottom: 0px solid #9b9b9b;
  padding: 0px;
  background: #fff url("") repeat-x bottom left;
}

/* line 991 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel table td:first-child .dijitButtonNode {
  border-radius: 5px 0px 0px 5px;
}

/* line 994 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel table td:nth-child(3) .dijitButtonNode {
  border-radius: 0px 5px 5px 0px;
}

/* line 997 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .tsPrevButton {
  border-left: 2px solid #d1d0d4;
  border-radius: 0px 5px 5px 0px;
  display: none;
  height: 60px;
  width: 24px;
}

/* line 1006 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .pauseIcon {
  background: url("images/ico-unlock.png") no-repeat center !important;
}

/* line 1009 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dijitSliderBarContainerH {
  background: url("images/timeline-bg.png") repeat-x scroll center 10px rgba(0,0,0,0);
  position: relative;
  height: 10px;
  width: 100%;
  margin: 0;
}

/* line 1017 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dijitSliderRemainingBarH {
  border-color: rgba(255,255,255,0);
  background: rgba(255,255,255,0) url("") repeat-x top left;
}

/* line 1021 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dijitSliderBumperH {
  border-width: 0;
  background-size: 340px;
  z-index: 500;
  position: relative;
  height: 0;
  width: 100%;
  margin: 0 0 4px 0;
}

/* line 1030 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dijitSliderProgressBarH {
  border: 0 solid rgba(255,255,255,0);
  background: #e98300;
  position: absolute !important;
  height: 10px;
}

/* line 1036 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dijitSliderImageHandleH,
#timeSliderPanel .dijitSliderFocused .dijitSliderImageHandleH {
  width: 10px;
  height: 10px;
  background: #fff url("") no-repeat center top;
  border: 4px solid #e98300;
  border-radius: 10px;
  margin: 3px 0 0 0px;
  z-index: 50002;
}

/* line 1045 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .esriTimeSlider .ts {
  position: relative;
  margin: 0px;
  top: -10px;
}

/* line 1053 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.tundra .dijitTooltipRight {
  padding-left: 8px false;
}

/* line 1055 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.tundra .dijitTooltipRight .dijitTooltipContainer {
  background: #222;
  border: 0px;
  color: #ccc;
}

/* line 1059 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.tundra .dijitTooltipRight .dijitTooltipConnector {
  background-image: none !important;
}

/* line 1064 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#dojox_form__RangeSliderMixin_0 {
  width: 100%;
}

/* line 1067 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.tstmp {
  vertical-align: top !important;
}

/* line 1070 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.dj_gecko #timeSliderPanel .esriTimeSlider .ts {
  position: relative;
/*5*/
}

/* line 1074 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dijitSliderRemainingBarH {
  background: #ecc53d;
  margin-bottom: 4px;
  height: 6px;
}

/* line 1079 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .tsTicks {
  height: 10px;
  z-index: 0;
  width: 99.9%; /* This prevents the ticks from sitting outside of the slider bar container */
}

/* line 1084 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
.dijitRuleMark {
  border: 1px solid #000;
  margin: -2px 0 0 0;
}

/* line 1088 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dojoxRangeSlider,
#timeSliderPanel .dojoxRangeSlider .dijitSliderProgressBarH {
  background: #e98300 !important;
  border: 0 solid #461d7c !important;
/*height: 8px;*/
}

/* line 1094 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dojoxRangeSlider .dijitSliderProgressBarH {
  position: absolute !important;
}

/* line 1098 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dojoxRangeSlider {
  background: rgba(233,131,0,0) !important;
  border: 0px solid #461d7c !important;
}

/* line 1104 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dojoxRangeSliderBarContainer .dijitSliderMoveable .dijitSliderImageHandleH {
  margin-top: 3px;
}

/* line 1109 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
#timeSliderPanel .dijitSliderImageHandleH,
.dijitContentPane {
  overflow-x: hidden;
}

/* line 1115 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
@media print {

/* line 1116 : /Users/lucascotner/Documents/Projects/fires/src/app/css/map.styl */
  html,
  body {
    -webkit-print-color-adjust: exact;
  }
}
