.map-view {
  height: 100%;
  width: 100%;
  position: relative;
}
.control-panel {
  position: absolute;
  width: 320px;
  bottom: 0;
  left: 0;
  top: 0;
}
.map-container {
  position: absolute;
  left: 320px;
  bottom: 0;
  right: 0;
  top: 0;
}
.map {
  height: 100%;
  width: 100%;
}
.HomeButton .home {
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.locator-widget-button,
.basemap-gallery-button,
.share-button {
  border: 1px solid #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  right: 20px;
  z-index: 50;
}
.modal-link {
  background-color: #fff;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 45px;
  z-index: 49;
}
.locator-widget-button {
  background: url("../images/locate.png") no-repeat center -2px #fff;
  top: 120px;
}
.locator-linker {
  top: 120px;
}
.basemap-gallery-button {
  background: url("../images/basemap.png") no-repeat center -2px #fff;
  top: 160px;
}
.basemap-linker {
  top: 160px;
}
.basemap-gallery-container,
.locator-widget-container {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 50;
  right: 70px;
  top: 20px;
}
.basemap-gallery-container {
  overflow-y: auto;
}
.share-button {
  background: url("../images/ico-share.png") no-repeat center #fff;
  top: 200px;
}
.locator-line-splitter {
  text-align: center;
  width: 290px;
}
.locator-container-header {
  margin: 5px 0 0 5px;
  font-weight: bold;
  font-size: 18px;
}
.LocateButton {
  margin: 0 5px;
}
.LocateButton span {
  display: block !important;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  color: #fff;
}
.LocateButton .zoomLocateButton {
  background: #555;
  height: 25px;
  width: 100px;
}
.LocateButton .zoomLocateButton:hover {
  background: #f00;
}
