.map-view {
  height: 100%;
  width: 100%;
  position: relative;
}
.control-panel {
  position: absolute;
  width: 320px;
  bottom: 0;
  left: 0;
  top: 0;
}
.map-container {
  position: absolute;
  left: 320px;
  bottom: 0;
  right: 0;
  top: 0;
}
.map {
  height: 100%;
  width: 100%;
}
.HomeButton .home {
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.locator-widget,
.basemap-gallery,
.share {
  border: 1px solid #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 20px;
  z-index: 50;
}
.locator-widget {
  top: 120px;
}
.basemap-gallery {
  top: 160px;
}
.share {
  top: 200px;
}
