//Temp Css

.disabled
	color rgb(190,190,190)

#control-panel .dijitCheckBox.dijitDisabled 
	background-color rgb(190, 190, 190)

// General Functions
border-radius()
	border-radius arguments

border-radius-top()
	border-radius arguments arguments 0 0 

baseRed = #e7002f

// Map Css
.map-view
	height 100%
	width 100%
	position relative
.control-panel
	background-color white
	position absolute
	width 320px
	bottom 0
	left 0
	top 0 
	z-index 5 //to show logo

.map-container
	position absolute
	left 320px
	bottom 0
	right 0
	top 0
.map 
	height 100%
	width 100%
.simpleGeocoder .esriGeocoder
	border 2px solid rgb(170, 170, 170)

.HomeButton .home
	padding 0
	border-radius(0)

.locator-widget-button, .basemap-gallery-button, .share-button, .print-button
	padding 1px
	border-radius(5px)
	position absolute
	cursor pointer
	height 30px
	width 30px
	right 20px
	z-index 50
	box-shadow 1px 1px 5px rgba(0, 0, 0, 0.25)

#map .esriSimpleSlider
	border 0
	background rgba(255,255,255,0)

#map .esriSimpleSliderTL
	right 20px
	left auto
#map .esriSimpleSliderVertical .esriSimpleSliderIncrementButton
	border-bottom 0
	padding 1px
	color rgb(240, 171, 0)
	background rgb(255, 255, 255)
	border-top-left-radius 5px
	border-top-right-radius 5px	
	margin-bottom 2px
	box-shadow 1px 1px 5px rgba(0, 0, 0, 0.25)

#map .esriSimpleSliderVertical .esriSimpleSliderIncrementButton:hover, .HomeButton .home:hover, .share-button:hover, .locator-widget-button:hover, .basemap-gallery-button:hover, .print-button:hover
	background-color #EEE !important

.basemap-gallery-button, .HomeButton .home, .locator-widget-button
	background-color #FFF

#map .HomeButton
	margin 0 0 4px 0

#map .esriPopupWrapper .sizer:first-child
	height: 1px !important

#map .HomeButton .home
	padding 1px
	background-color rgb(255, 255, 255)
	border-radius 0
	-webkit-border-radius 0
	background-image url(../images/ico-home.png)

.esriSimpleSliderDecrementButton
	padding 1px
	color rgb(240, 171, 0)
	background rgb(255, 255, 255)
	border-bottom-left-radius 5px
	border-bottom-right-radius 5px
	margin-bottom 1px
	box-shadow 1px 1px 5px rgba(0, 0, 0, 0.25)

.modal-link 
	background-color white
	position absolute
	height 30px
	width 30px
	right 45px
	z-index 49

.locator-widget-button
	background-image url('../images/locate.png')
	background-repeat no-repeat 
	background-position 0 -34px
	top 130px

.locator-linker
	top 130px

.basemap-gallery-button
	background-image url('../images/basemap.png')
	background-repeat no-repeat 
	background-position 0 -34px
	top 170px
	border-width 0

.basemap-linker
	top 170px

.basemap-gallery-container, .locator-widget-container, .map-share-container
	background-color white
	border-radius(5px)
	position absolute
	width 300px
	z-index 50
	right 70px

.basemap-gallery-container, .locator-widget-container
	height 300px
	top 20px

.map-share-container
	height 80px
	top 180px

.basemap-gallery-container
	overflow-y auto

.basemap-container-labels
	border-bottom 1px solid #000
	padding-bottom 10px
	font-weight bold
	font-size 18px
	margin 10px

.share-linker
	top 210px

.share-button
	background url('../images/ico-share.png') no-repeat center white
	top 210px

.print-button
	background white
	text-align center
	line-height 30px
	top 250px

.print-button.loading
	background url('../images/loader.gif') no-repeat center white

.locator-line-splitter
	text-align center
	width 290px

.locator-container-header
	margin 5px 0 0 5px
	font-weight bold
	font-size 18px

.addthis_sharing_toolbox
	padding 20px 0 0 20px

.LocateButton
	margin 0 5px

.LocateButton span
	display block !important
	text-align center
	font-weight bold
	line-height 25px
	font-size 14px
	color white

.LocateButton .zoomLocateButton
	background #555 !important
	height 25px !important
	width 100px !important

.LocateButton .zoomLocateButton:hover
	background baseRed !important

.simpleGeocoder
	position absolute
	z-index 50
	right 80px
	top 20px

.area-search-inputs
	margin 5px

.dms-inputs
	height 20px
	width 60px

.lat-long-inputs
	height 20px

.area-search-radio-container
	margin 2px 5px

.goto-area-search
	display inline-block
	margin 5px

.clear-search-pins
	text-decoration underline
	cursor pointer
	float right
	margin 5px
	color blue

.search-option-button-container
	text-align center
	position absolute
	left 100px
	bottom 0

.search-option-go-button
	background-color #444
	display inline-block
	border-radius(5px)
	font-weight bold
	margin 10px auto
	cursor pointer
	padding 3px 0
	width 100px
	color white

.search-option-go-button:hover
	background-color baseRed
	
.fires-map-accordion
	position absolute !important
	top 50px
	bottom 0
	right 0
	left 0
#control-panel .dijitAccordionContainer
	border-width 0px
	margin 0 5px

#control-panel .fires-map-accordion .dijitAccordionTitle
	background rgb(255, 255, 255) url(../images/ico-carat-right.png) 96% center no-repeat
	color rgb(136, 136, 136)
	font-weight bold

#control-panel .fires-map-accordion .dijitAccordionTitleSelected
	background rgb(255, 255, 255) url(../images/ico-carat-down.png) 96% center no-repeat !important
	color rgb(136, 136, 136)


.legend-widget-container 
	background-color white
	border-radius-top(5px)
	position absolute
	overflow hidden
	cursor pointer
	height 200px
	width 250px
	z-index 50
	right 20px
	bottom 0
	border 1px solid rgb(191, 191, 191)

.legend-widget-title
	box-sizing border-box
	background-image url(../images/ico-carat-down.png) !important
	color rgb(233, 131, 0)
	background-color rgb(236, 236, 237)
	cursor pointer
	font-weight 600 !important
	height 30px
	line-height 30px
	background-repeat no-repeat !important
	background-position 90% 10px !important

.legend-widget-title:hover
	background-color rgb(255, 255, 255)
	border-bottom 1px solid rgb(0,0,0)

.legend-closed
	background-image url(../images/ico-carat-up.png) !important
	
.legend-widget-title span
	display inline-block
	line-height 30px
	font-weight bold
	margin-left 5px	

.legend-content
	height 170px
	width 100%

#legend
	overflow-y auto
	height 100%
	width 230px
	padding 0 0 0 20px

#legend_msg
	display none !important

.esriLegendServiceLabel
	display none !important

.esriLegendService
	padding-bottom 5px !important

.active-fires-options-container
	margin-top 10px
	
.active-fires-options
	text-align center
	line-height 30px
	cursor pointer
	height 30px
	width 250px
	border 2px solid rgb(233, 131, 0)
	text-align center
	margin 3px 0
	padding 5px
	color rgb(0, 0, 0)

.confidence-fires-container
	margin 5px 25px

.active-fires-options.selected-fire-option
	background-color rgb(236, 197, 61)
	color rgb(255, 255, 255)
	font-weight bold
	color white

.checkbox-sub-label
	margin 2px 7px
	font-size 12px
	display block

.checkbox-instructions
	padding 0 0 0 20px
	font-weight bold
	font-size 11px

.latLongHUD
	background-color rgba(255,255,255,.4)
	border-radius(5px)
	position absolute
	font-size 15px
	bottom 25px
	z-index 50
	left 5px

#control-panel .dijitAccordionContainer-dijitContentPane
	padding: 10px;

.accordion-panel .slider-container
	margin 20px

.transparency-slider-label
	font-size 11px
	padding 0px 0px 0px 20px
	color rgb(0, 0, 0)

.latLongHUD div
	padding 2px 4px

.report-link-container
	border-radius(5px)
	background-color baseRed
	position absolute
	right 10px
	top 10px

.report-link
	display inline-block
	font-weight bold
	cursor pointer
	font-size 16px
	padding 5px
	color white

.coming-soon-label
	margin-left 20px
	font-size 12px
	color gray

.esriControlsBR
	right inherit !important// Override Esri right: 5px setting
	left 5px

.esriScalebar
	left 150px !important

#control-panel .dijitSliderRemainingBarH, #control-panel.dijitSliderProgressBarH, #control-panel.dijitSliderFocused .dijitSliderProgressBarH
	background rgb(236, 197, 61)
	padding 2px
	border-width 0px

.dijitSliderMoveable
	outline none

.checkbox-container
	padding: 5px 20px

#control-panel .dijitSliderImageHandleH, #control-panel .dijitSliderImageHandleH
	border 4px solid rgb(233, 131, 0)
	height 8px
	width 8px
	margin-top 2px
	background rgb(255, 255, 255) url('')
	border-radius 8px


#control-panel label
	display inline
	color rgb(0, 0, 0)
	margin-left 4px
	font-size 13px
	font-weight 600

#control-panel .checkbox-sub-label
	clear both
	font-size 11px
	padding 0px 0px 0px 20px
	font-weight 100

#control-panel .dijitSliderLeftBumper, #control-panel .dijitSliderRightBumper, #control-panel .dijitSliderIncrementIconH, #control-panel .dijitSliderDecrementIconH
	display none

#control-panel .dijitSliderProgressBarH
	background rgba(0,0,0,0)
	border-width 0

#control-panel .dijitCheckBox, #basemap-gallery-container .dijitCheckBox
	appearance none
	background rgb(255, 255, 255)
	width 16px
	height 16px
	border 1px solid rgb(137, 137, 137)
	border-image-source initial
	border-image-slice initial
	border-image-width initial
	border-image-outset initial
	border-image-repeat initial
	box-sizing border-box
	margin 2px 2px 0px 0px
	border-top-left-radius 3px
	border-top-right-radius 3px
	border-bottom-right-radius 3px
	border-bottom-left-radius 3px


#control-panel .dijitCheckBoxChecked, #basemap-gallery-container .dijitCheckBoxChecked
	background url(../images/ico-checkmark.png) 50% 50% no-repeat rgb(137, 137, 137)
	border 1px solid rgb(137, 137, 137)
	border-image-source initial
	border-image-slice initial
	border-image-width initial
	border-image-outset initial
	border-image-repeat initial

#control-panel input[type="radio"]
	background-image url(../images/checkmark.png)
	background-position -110px
	background-repeat no-repeat
	width 16px
	height 16px
	margin 2px 2px 0 0
	padding 0

#control-panel input[type="radio"]:checked
	background-position -94px

.close-icon
	position absolute
	right 10px
	top 10px
	height 15px
	width 15px
	background url(../images/ico-close.png) no-repeat
	cursor pointer

.infoName
	margin 0 0 10px 0
	border-bottom 1px solid rgb(255, 255, 255)
	font-weight bold

#infoWindowTable td
	width 45%
	padding 0 5px 0 0

.esriPopupWrapper
	top -40px

.loadingWheelContainer
	background-color #DDD
	position absolute
	z-index 5000
	opacity .50
	height 100%
	width 100%
	left 0
	top 0

.loadingWheel
	position absolute
	margin-left -12px
	margin-top -12px
	left 50%
	top 50%

#primary-forests-options
	margin 0 20px

#primary-forests-options label
	font-weight normal

#primary-forests-options .inline
	display inline-block

#windLegendLabels
	margin 0 25px
	font-size 10px

.windLegendNode
	margin 10px auto
	height 13px
	width 80%

.rightWindLabel
	float right

.windLayerLegendColorRamp 
	background linear-gradient(to right, rgba(0,255,255,.5) 0%,rgba(255,30,219,.5) 100%)