map.styl 

//Temp Css

.disabled
	color rgb(190,190,190)

#control-panel .dijitCheckBox.dijitDisabled 
	background-color rgb(190, 190, 190)

// General Functions
border-radius()
	border-radius arguments

border-radius-top()
	border-radius arguments arguments 0 0 

baseRed = #e7002f

// Map Css
.map-view
	height 100%
	width 100%
	position relative
.control-panel
	background-color white
	position absolute
	width 320px
	bottom 0
	left 0
	top 0 
	z-index 5 //to show logo
	
#control-panel
	transition all 1s

.map-container
	position absolute
	left 320px
	bottom 0
	right 0
	top 0
.map 
	height 100%
	width 100%
.simpleGeocoder .esriGeocoder
	border 2px solid rgb(170, 170, 170)

.HomeButton .home
	padding 0
	border-radius(0)

.locator-widget-button, .basemap-gallery-button, .share-button, .print-button
	padding 1px
	border-radius(5px)
	position absolute
	cursor pointer
	height 30px
	width 30px
	right 20px
	z-index 50
	box-shadow 1px 1px 5px rgba(0, 0, 0, 0.25)

#map .esriSimpleSlider
	border 0
	background rgba(255,255,255,0)
	
/*
#map_WV01
	z-index 1
	 pointer-events none
#map_QB01
	z-index 1
	pointer-events none
#map_WV02
	z-index 1
	pointer-events none
#map_GEO1
	z-index 1
	pointer-events none */

#map .esriSimpleSliderTL
	right 20px
	left auto
#map .esriSimpleSliderVertical .esriSimpleSliderIncrementButton
	border-bottom 0
	padding 1px
	color rgb(240, 171, 0)
	background rgb(255, 255, 255)
	border-top-left-radius 5px
	border-top-right-radius 5px	
	margin-bottom 2px
	box-shadow 1px 1px 5px rgba(0, 0, 0, 0.25)

#map .esriSimpleSliderVertical .esriSimpleSliderIncrementButton:hover, .HomeButton .home:hover, .share-button:hover, .locator-widget-button:hover, .basemap-gallery-button:hover, .print-button:hover
	background-color #EEE !important

.basemap-gallery-button, .HomeButton .home, .locator-widget-button
	background-color #FFF

#map .HomeButton
	margin 0 0 4px 0

#map .esriPopupWrapper .sizer:first-child
	// height: 1px !important
	
	.titlePane
		height 20px
		background #F7F7F7
		.title
			display none
		.maximize
			display none
		.close
			display none
		.next
			background url(../images/arrow_go.png) no-repeat !important
			margin-top 3px
		.prev	
			background url(../images/arrow_prev.png) no-repeat 
			margin-top 3px

#map .esriPopupWrapper .sizer
	h3
		margin-top 0px
		margin-bottom 3px
	.contentPane
		padding-top 0px

#map .HomeButton .home
	padding 1px
	background-color rgb(255, 255, 255)
	border-radius 0
	-webkit-border-radius 0
	background-image url(../images/ico-home.png)

.esriSimpleSliderDecrementButton
	padding 1px
	color rgb(240, 171, 0)
	background rgb(255, 255, 255)
	border-bottom-left-radius 5px
	border-bottom-right-radius 5px
	margin-bottom 1px
	box-shadow 1px 1px 5px rgba(0, 0, 0, 0.25)

.modal-link 
	background-color white
	position absolute
	height 30px
	width 30px
	right 45px
	z-index 49

.locator-widget-button
	background-image url('../images/locate.png')
	background-repeat no-repeat 
	background-position 0 -34px
	top 130px

.locator-linker
	top 130px

.basemap-gallery-button
	background-image url('../images/basemap.png')
	background-repeat no-repeat 
	background-position 0 -34px
	top 170px
	border-width 0

.basemap-linker
	top 170px

.basemap-gallery-container, .locator-widget-container, .map-share-container
	background-color white
	border-radius(5px)
	position absolute
	width 300px
	z-index 50
	right 70px

.basemap-gallery-container, .locator-widget-container
	height 300px
	top 20px

.map-share-container
	height 80px
	width auto
	top 180px

.map .embed_code_share
	background url('../images/embed_icon.png') no-repeat white
	display inline-block
	cursor pointer
	height 32px
	width 32px

.basemap-gallery-container
	overflow-y auto

.basemap-container-labels
	border-bottom 1px solid #000
	padding-bottom 10px
	font-weight bold
	font-size 18px
	margin 10px

.share-linker
	top 210px

.share-button
	background url('../images/share-icon.png') no-repeat white
	background-position -2px -35px
	top 210px
	
.popup-link-zoom
	background url('../images/magnifyingGlass.png') no-repeat
	background-position 20px 2px
	cursor pointer
	
#leftPaneToggle
	z-index 30
	position absolute
	left 2px
	top 80px
	background-color white
	color red
	height 40px
	width 43px
	transition all 1s
	font-size 28px
	border-radius 8px
	cursor pointer
	text-align center
	vertical-align center
	
.confidence-archive-container
	margin-left 14px

#ui-datepicker-div
	z-index 35 !important

#footprintsCheckBox > label
	color gray !important

#report-optionsDigitalGlobe
	margin-top -10px
	margin-left 20px
	
.imageryTopRow th
	background white
	color gray
	border-top 1px solid #000
	border-bottom 1px solid #000
	height 30px

.imageryTable 
	border-collapse collapse
	border-spacing 0
	tr:nth-child(even) {background: #FFF}
	tr:nth-child(odd) {background: #F0F0F0 }
	

.imageryTable tr
	border-left: 1px solid transparent;
	
.imageryTable td
	text-align center

.imageryTable td a
	color black

.imageryTable th
	text-align center

#imageryWindow > table > thead > tr > th:nth-child(1)
	width 81px
	
#imageryWindow > table > tbody > tr > td:nth-child(1)
	width 81px
	
#imageryWindow > table > thead > tr > th:nth-child(2)
	width 104px

#imageryWindow > table > tbody > tr > td:nth-child(2)
	width 104px
	
#imageryWindow > table > thead > tr > th:nth-child(3)
	width 77px
	
#imageryWindow > table > tbody > tr > td:nth-child(3)
	width 60px
	
.imageryTable tr
	height 25px
	
table.imageryTable thead, table.imageryTable tbody
	float left
	width 100%
	
#imageryWindow
	width auto
	//max-width 300px
	//min-height 50px
	padding 10px
	//position absolute
	//top 80px
	//left 25px
	//width 250px
	background white
	z-index 6
	font-size 12pt
	//border 2px solid black
	
	.font14
		font-size 14pt
		padding-top 3px
		padding-bottom 1px
	.font10
		font-size 10pt

#report-options
	width auto
	max-width 300px
	padding 10px
	height auto
	position absolute
	top 20%
	right 50%
	background white
	z-index 6
	font-size 12pt
	border-radius 5px


	.font14
		font-size 14pt
		padding-top 3px
		padding-bottom 1px
	.font10
		font-size 10pt
	.selInfo
		padding-top 5px
		font-style italic

	.report-options-section
		padding 8px 15px 16px 15px
	.report-label
			margin-right 10px

	.report-link-container
		position relative
		width: 115px;
		top 0px
		left 30%
		right 0px
		bottom 10px
		>
			margin-left 10px

	select[multiple=true]
		margin 8px 8px 8px 0px
		padding 3px
		width 250px
		height 100px

	input[type=radio]
		margin 3px

.reportOptionsSidebar
	margin-top 5px
	padding 5px
	font-size 14px

.reportOptionsHeader
	position relative
	cursor pointer
	width 10px
	float right
	top -5px

.tomnodLink a
	text-decoration underline
	font-size 11px
	color gray
	padding 0px 0px 0px 25px
	font-weight 300

.print-button
	background url('../images/print-icon.png') no-repeat white
	background-position -1px -35px
	text-align center
	line-height 30px
	top 250px

.print-button.loading
	background url('../images/loader.gif') no-repeat center white

.locator-line-splitter
	text-align center
	width 290px

.locator-container-header
	margin 5px 0 0 5px
	font-weight bold
	font-size 18px

.map .sharing_toolbox
	padding 20px 20px 0

.addthis_sharing_toolbox
	display inline-block

.LocateButton
	margin 0 5px

.LocateButton span
	display block !important
	text-align center
	font-weight bold
	line-height 25px
	font-size 14px
	color white

.LocateButton .zoomLocateButton
	background #555 !important
	height 25px !important
	width 100px !important

.LocateButton .zoomLocateButton:hover
	background baseRed !important

.simpleGeocoder
	position absolute
	z-index 50
	right 80px
	top 20px

.area-search-inputs
	margin 5px

.dms-inputs
	height 20px
	width 60px

.lat-long-inputs
	height 20px

.area-search-radio-container
	margin 2px 5px

.goto-area-search
	display inline-block
	margin 5px

.clear-search-pins
	text-decoration underline
	cursor pointer
	float right
	margin 5px
	color blue

.search-option-button-container
	text-align center
	position absolute
	left 100px
	bottom 0

.search-option-go-button
	background-color #444
	display inline-block
	border-radius(5px)
	font-weight bold
	margin 10px auto
	cursor pointer
	padding 3px 0
	width 100px
	color white

.search-option-go-button:hover
	background-color baseRed
	
.fires-map-accordion
	position absolute !important
	top 50px
	bottom 0
	right 0
	left 0
#control-panel .dijitAccordionContainer
	border-width 0px
	margin 0 5px

#control-panel .fires-map-accordion .dijitAccordionTitle
	background rgb(255, 255, 255) url(../images/ico-carat-right.png) 96% center no-repeat
	color rgb(136, 136, 136)
	font-weight bold

#control-panel .fires-map-accordion .dijitAccordionTitleSelected
	background rgb(255, 255, 255) url(../images/ico-carat-down.png) 96% center no-repeat !important
	color rgb(136, 136, 136)


.legend-widget-container 
	background-color white
	border-radius-top(5px)
	position absolute
	overflow hidden
	cursor pointer
	font-size 12px
	height 280px
	width 250px
	z-index 50
	right 20px
	bottom 0
	border 1px solid rgb(191, 191, 191)

.legend-widget-title
	box-sizing border-box
	background-image url(../images/ico-carat-down.png) !important
	color rgb(233, 131, 0)
	background-color rgb(236, 236, 237)
	cursor pointer
	font-weight 600 !important
	height 30px
	line-height 30px
	background-repeat no-repeat !important
	background-position 90% 10px !important

.legend-widget-title:hover
	background-color rgb(255, 255, 255)
	border-bottom 1px solid rgb(0,0,0)

.legend-closed
	background-image url(../images/ico-carat-up.png) !important
	
.legend-widget-title span
	display inline-block
	line-height 30px
	font-weight bold
	margin-left 5px	

.legend-content
	height 250px
	width 100%

#legend
	overflow-y auto
	height 100%
	width 230px
	padding 0 0 0 20px

#legend_msg
	display none !important

.esriLegendServiceLabel
	display none !important

.esriLegendService
	padding-bottom 5px !important

.active-fires-options-container
	margin 10px 0 20px
	
.active-fires-options
	text-align center
	line-height 15px
	cursor pointer
	height 15px
	width 185px
	border 2px solid rgb(233, 131, 0)
	text-align center
	margin 3px auto
	padding 5px
	color rgb(0, 0, 0)

.confidence-fires-container
	margin 5px 46px

.active-fires-options.selected-fire-option
	background-color rgb(236, 197, 61)
	color rgb(255, 255, 255)
	font-weight bold
	color white

.checkbox-sub-label
	margin 2px 7px
	font-size 12px
	display block

.checkbox-instructions
	padding 0 0 0 20px
	font-weight bold
	font-size 11px

.latLongHUD
	background-color rgba(255,255,255,.4)
	border-radius(5px)
	position absolute
	font-size 15px
	top 5px
	z-index 50
	left 5px

#control-panel .dijitAccordionContainer-dijitContentPane
	padding: 10px;

.accordion-panel .slider-container
	width 250px
	margin 20px

.slider-container .dijitSlider
	width 100%

.transparency-slider-label
	font-size 11px
	padding 0px 0px 0px 20px
	color rgb(0, 0, 0)

.latLongHUD div
	padding 2px 4px

.report-link-container
	border-radius(5px)
	background-color baseRed
	position absolute
	right 10px
	top 10px

.report-link
	display inline-block
	font-weight bold
	cursor pointer
	font-size 16px
	padding 5px
	color white

div.report-options-section > table
	margin-bottom 5px

.report-link-dates
	display inline-block
	font-weight bold
	cursor pointer
	font-size 14px
	padding 5px
	color white
	background-color red
	border-radius 5px
	display table
	margin auto

.coming-soon-label
	margin-left 20px
	font-size 12px
	color gray

.esriControlsBR
	right inherit !important// Override Esri right: 5px setting
	left 5px

.esriScalebar
	// left 150px !important
	top 55px !important

#control-panel .dijitSliderRemainingBarH, #control-panel.dijitSliderProgressBarH, #control-panel.dijitSliderFocused .dijitSliderProgressBarH
	background rgb(236, 197, 61)
	padding 2px
	border-width 0px

.dijitSliderMoveable
	outline none

.checkbox-container
	padding: 5px 20px

.checkbox-container-wind
	padding: 2px 10px



#control-panel .dijitSliderImageHandleH, #control-panel .dijitSliderImageHandleH
	border 4px solid rgb(233, 131, 0)
	height 8px
	width 8px
	margin-top 2px
	background rgb(255, 255, 255) url('')
	border-radius 8px


#control-panel label
	display inline
	color rgb(0, 0, 0)
	margin-left 4px
	font-size 13px
	font-weight 600


#control-panel .checkbox-sub-label
	clear both
	font-size 11px
	padding 0px 0px 0px 20px
	font-weight 100

#control-panel .dijitSliderLeftBumper, #control-panel .dijitSliderRightBumper, #control-panel .dijitSliderIncrementIconH, #control-panel .dijitSliderDecrementIconH
	display none

#control-panel .dijitSliderProgressBarH
	background rgba(0,0,0,0)
	border-width 0

#control-panel .dijitCheckBox, #basemap-gallery-container .dijitCheckBox, #windLayerBasemapDialog .dijitCheckBox
	appearance none
	background rgb(255, 255, 255)
	width 16px
	height 16px
	border 1px solid rgb(137, 137, 137)
	border-image-source initial
	border-image-slice initial
	border-image-width initial
	border-image-outset initial
	border-image-repeat initial
	box-sizing border-box
	margin 2px 2px 0px 0px
	border-top-left-radius 3px
	border-top-right-radius 3px
	border-bottom-right-radius 3px
	border-bottom-left-radius 3px


#control-panel .dijitCheckBoxChecked, #basemap-gallery-container .dijitCheckBoxChecked, #windLayerBasemapDialog .dijitCheckBoxChecked
	background url(../images/ico-checkmark.png) 50% 50% no-repeat rgb(137, 137, 137)
	border 1px solid rgb(137, 137, 137)
	border-image-source initial
	border-image-slice initial
	border-image-width initial
	border-image-outset initial
	border-image-repeat initial

#control-panel input[type="radio"]
	background-image url(../images/checkmark.png)
	background-position -110px
	background-repeat no-repeat
	width 16px
	height 16px
	margin 2px 2px 0 0
	padding 0

#control-panel input[type="radio"]:checked
	background-position -94px

.close-icon
	position absolute
	z-index 1
	right 2px
	top 5px
	height 15px
	width 15px
	background url(../images/ico-close.png) no-repeat
	cursor pointer

.infoName
	margin 0 0 10px 0
	border-bottom 1px solid rgb(255, 255, 255)
	font-weight bold
	
.imageryRowHover
	border 2px solid yellow
	
.imageryRowSelected
	border 2px solid #00FFFF

#infoWindowTable td
	width 45%
	padding 0 5px 0 0

.esriPopupWrapper
	top -40px

.popup-link, .custom-zoom-to
	cursor pointer

.popup-list
	margin-bottom 20px !important

.satelliteColumn
	position absolute
	left 110px

.custom-zoom-to
	position absolute
	left 10px
	bottom 0

.loadingWheelContainer
	background-color #DDD
	position absolute
	z-index 5000
	opacity .50
	height 100%
	width 100%
	left 0
	top 0

.loadingWheel
	position absolute
	margin-left -12px
	margin-top -12px
	left 50%
	top 50%

#primary-forests-options
	margin 0 20px

#primary-forests-options label
	font-weight normal

#primary-forests-options .inline
	display inline-block

#windLegendLabels
	margin 0 25px
	font-size 10px

.windLegendNode
	margin 10px auto
	height 13px
	width 80%

.rightWindLabel
	float right

.windLayerLegendColorRamp 
	background linear-gradient(to right, rgba(0,255,255,.5) 0%,rgba(255,30,219,.5) 100%)

#windLayerBasemapDialog, #digitalGlobeInstructions, #embedCodeShareDialog
	font-family "Arial MT Condensed Light"
	src url("../fonts/ArialMTStd-LightCond.otf") format("opentype")
	color #464052

#windLayerBasemapDialog .dijitDialogPaneActionBar, #digitalGlobeInstructions .dijitDialogPaneActionBar, #embedCodeShareDialog .dijitDialogPaneActionBar
	margin 10px 0 0
	text-align center

#windLayerBasemapDialog .dijitDialogPaneActionBar button, #digitalGlobeInstructions .dijitDialogPaneActionBar button
	border-radius(5px)
	background baseRed
	font-weight bold
	padding 5px 15px
	font-size 12px
	cursor pointer
	margin 0 10px
	color white
	border none

#embedCodeShareDialog .dijitDialogPaneActionBar input[type="text"]
	height 20px
	width 90%

#windLayerBasemapDialog .dialogCheckbox, #digitalGlobeInstructions .dialogCheckbox
	margin-top 15px
	font-size 12px
	color #777

#windLayerBasemapDialog .dialogCheckbox label, #digitalGlobeInstructions .dialogCheckbox label
	position relative
	left 4px
	top 2px

.map-view-print .mapView #stackContainer
	top 0px
	
.map-view-print #app-header
	display none

.map-view-print #control-panel
	width 0 !important

.map-view-print #map-container
	left 0 !important
	max-width 100%
	max-height 100%

.map-view-print .esriControlsBR, 
.map-view-print .legend-widget-container,
.map-view-print .locator-widget-button,
.map-view-print .basemap-gallery-button,
.map-view-print .share-button,
.map-view-print .print-button,
.map-view-print .simpleGeocoder,
.map-view-print .esriSimpleSlider
	display none !important

.map-view-print .latLongHUD,
.map-view-print .esriScalebar
	top 15px

.map-view-print .latLongHUD
	bottom auto
	

// Time slider 

#timeSliderPanel
	display:none;

.TimeTT
	height 20px
	width 40px
	top -20px
	left -5px
	z-index 500000000
	position absolute
	background #222
	display: none

.esriTimeSlider
	padding-top 10px
	
.timeSliderContainer 
	height 95px
	width 272px
	overflow hidden
	position relative
	margin-left 5px

.timeSliderPanel .dijitRuleLabel 
	 float left
	 width 36px
	 font-size 11px
	 line-height 20px
	 text-align center
	 color rgb(0, 0, 0)
	 font-family "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
	 /* rotate labels */
	 -webkit-transform rotate(-55deg)
	 -moz-transform rotate(-55deg)
	 -ms-transform rotate(-55deg)
	 -o-transform rotate(-55deg)
	 transform rotate(-55deg)

.timeSliderContainer .dijitRuleLabelH 
	 left -55% !important

.timeSliderPanelLabel 
	 border-top-right-radius 5px
	 border-top-left-radius 5px
	 background-color #FFF
	 position absolute
	 padding 0 5px 5px
	 left 30px
	 top -20px

#timeSliderPanel
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
	background: rgb(255, 255, 255);
	border-radius: 5px;
	position: absolute;
	bottom: 40px;
	height: 60px;
	right: 280px;
	left: 10px;
	z-index 5

.esriTimeSlider .tsPlayButton
	background: url(../images/ico-play.png) no-repeat center;
	border-right: 0px solid rgb(209, 208, 212);
	display: block;
	height: 60px;
	width: 0px;

.esriTimeSlider .tsPauseButton 
	background: url(images/ico-pause.png) no-repeat center;
	border-right: 2px solid rgb(209, 208, 212);
	display: block;
	height: 60px;
	width: 24px;

#timeSliderPanel .esriTimeSlider
	padding-top:0;

#timeSliderPanel .dijitButton
	margin:0;

#timeSliderPanel .esriTimeSlider td:first-child
	width 2%
	text-align: left;

#timeSliderPanel .esriTimeSlider td:nth-child(3)
	width 2%
	text-align: right;

#timeSliderPanel .dijitButtonNode
	 border: 0px solid rgb(192, 192, 192);
	 border-bottom: 0px solid rgb(155, 155, 155);

	 padding: 0px; 
	 background: rgb(255, 255, 255) url("") repeat-x bottom left; 

#timeSliderPanel table td:first-child .dijitButtonNode
		 border-radius: 5px 0px 0px 5px;

#timeSliderPanel table td:nth-child(3) .dijitButtonNode
		 border-radius: 0px 5px 5px 0px;

#timeSliderPanel .tsPrevButton
	// background: url(images/ico-lock.png) no-repeat center !important;
	border-left: 2px solid rgb(209, 208, 212);
	border-radius: 0px 5px 5px 0px;
	// /*display: block;*/
	display: none;
	height: 60px;
	width: 24px;

#timeSliderPanel .pauseIcon 
	background: url(images/ico-unlock.png) no-repeat center !important;

#timeSliderPanel .dijitSliderBarContainerH
	background: url("images/timeline-bg.png") repeat-x scroll center 10px rgba(0, 0, 0, 0);
	position: relative;
	height: 10px;
	width: 100%;
	margin: 0;


#timeSliderPanel .dijitSliderRemainingBarH 
	border-color: rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0) url("") repeat-x top left;

#timeSliderPanel .dijitSliderBumperH 
	border-width: 0;
	background-size: 340px;
	z-index: 500;
	position: relative;
	height: 0;
	width: 100%;
	margin: 0 0 4px 0;

#timeSliderPanel .dijitSliderProgressBarH 
	border: 0 solid rgba(255, 255, 255, 0);
	background: rgb(233, 131, 0);
	position: absolute !important;
	height:10px;

#timeSliderPanel .dijitSliderImageHandleH, #timeSliderPanel .dijitSliderFocused .dijitSliderImageHandleH
	width: 10px;
	height: 10px;
	background: rgb(255, 255, 255) url("") no-repeat center top;
	border: 4px solid rgb(233, 131, 0);
	border-radius: 10px;
	margin: 3px 0 0 0px;
	z-index: 50002;

#timeSliderPanel .esriTimeSlider .ts 
	position: relative;
	margin: 0px;
	top: -10px;
	// top: -15px;
	// margin: 0 0 15px 0;

// ToolTip
.tundra .dijitTooltipRight 
	padding-left 8px !imprtant
	.dijitTooltipContainer
		background #222
		border 0px 
		color #CCC
	.dijitTooltipConnector
		background-image none !important
		
	
	
#dojox_form__RangeSliderMixin_0
	width: 100%;
	
.tstmp
	vertical-align: top !important;

.dj_gecko #timeSliderPanel .esriTimeSlider .ts 
	position: relative;
	/*5*/

#timeSliderPanel .dijitSliderRemainingBarH 
	background: #ecc53d;
	margin-bottom: 4px;
	height: 6px;

#timeSliderPanel .tsTicks 
	height: 10px;
	z-index: 0;
	width: 99.9%; /* This prevents the ticks from sitting outside of the slider bar container */

.dijitRuleMark 
	border: 1px solid rgb(0,0,0);
	margin: -2px 0 0 0;

#timeSliderPanel .dojoxRangeSlider, #timeSliderPanel .dojoxRangeSlider .dijitSliderProgressBarH 
	background: rgb(233, 131, 0) !important;
	border: 0 solid rgb(70, 29, 124) !important;
	/*height: 8px;*/


#timeSliderPanel .dojoxRangeSlider .dijitSliderProgressBarH 
	position: absolute !important;


#timeSliderPanel .dojoxRangeSlider
	background: rgba(233, 131, 0, 0) !important;
	border: 0px solid rgb(70, 29, 124) !important;
	// /*height:4px;*/


#timeSliderPanel .dojoxRangeSliderBarContainer .dijitSliderMoveable .dijitSliderImageHandleH
	margin-top:3px;



#timeSliderPanel .dijitSliderImageHandleH 
.dijitContentPane
	overflow-x: hidden;



@media print
	html, body
		-webkit-print-color-adjust exact
