@font-face {
  font-family: "Arial MT Condensed Bold";
  src: url("../fonts/ArialMTStd-BoldCond.otf") format("opentype");
}
@font-face {
  font-family: "Arial MT Condensed Light";
  src: url("../fonts/ArialMTStd-LightCond.otf") format("opentype");
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.report-page {
  font-family: Arial, Georgia, "Helvetica Neue", Helvetica, sans-serif;
}
.report-title {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  margin: 30px 0 50px;
}
.report-title,
.section-title {
  text-align: center;
  font-size: 28px;
}
.section-title,
.sub-title,
.noFiresTable {
  font-family: "Arial MT Condensed Light", Arial, Georgia, sans-serif;
  font-size: 22px;
  margin: 10px 0;
}
.sub-title {
  text-align: center;
  font-size: 18px;
}
.map-container {
  border: 2px solid #000;
  margin: 0 auto;
  height: 500px;
  width: 650px;
}
.map-container.small {
  position: relative;
  height: 400px;
}
.map {
  height: 100%;
  width: 100%;
}
.legend-container {
  position: absolute;
  z-index: 50;
  bottom: 5px;
  left: 5px;
}
.legend-swatch {
  border: 1px solid #000;
  height: 16px;
  width: 16px;
}
.legend-label {
  padding-left: 10px;
}
.legend-title {
  max-width: 160px;
}
.chart-container {
  margin: 0 auto;
  height: 380px;
  width: 450px;
}
.chart {
  height: 380px;
  width: 450px;
}
.chart text {
  font-size: 20px !important;
  font-weight: normal !important;
}
.fire-line-chart {
  margin: 0 auto;
  height: 500px;
  width: 650px;
}
.fires-table {
  font-family: "Arial MT Condensed Light", Arial, Georgia, sans-serif;
  border-collapse: collapse;
  text-align: center;
  margin: 20px auto;
}
.fires-table th {
  border-bottom: 2px solid #888;
  max-width: 230px;
  min-width: 150px;
  padding: 10px;
  color: #fff;
}
.fires-table th:first-child {
  background-color: #0d6b3e;
}
.fires-table th:nth-child(2) {
  background-color: #82b53c;
}
.fires-table th:last-child {
  background-color: #e89927;
}
.fires-table td {
  border-bottom: 2px solid #888;
  max-width: 230px;
  padding: 5px;
  color: #000;
}
.fires-table tr > td:first-child,
.fires-table tr > td:nth-child(2) {
  background-color: #cddfb1;
}
.fires-table tr > td:last-child {
  background-color: #f8c8a9;
}
.noFiresTable {
  text-align: center;
  font-size: 16px;
}
@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
  .no-break {
    page-break-inside: avoid !important;
  }
  html,
  body {
    -webkit-print-color-adjust: exact;
  }
}
