@require 'jeet'
@require 'rupture'
@require '../../css/_variables'
@require '_action-menu'
@require '_slider'

// #alerts-modal
//   position absolute
//   height 100%
//   width 100%

#alerts-modal
  .modal-window
    max-width 375px

    +below($mq-mobile)
      max-width initial
      width calc(100% - 2em)

// @media (min-width: 550px)
//   .layout-content
//     top 34px


  // .modal-background
  //   background-color transparent
