<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>

<serverUrl url="http://landsat.arcgis.com/arcgis/rest/services/Landsat8_PanSharpened/ImageServer"
              matchAll="true"
          username="WRI_LANDSAT_USERNAME"
          password="WRI_LANDSAT_PASSWORD"
          />

  <serverUrl url="http://gis-potico.wri.org/arcgis/rest/services/Fires/fire_stories/FeatureServer/0"
          matchAll="true"
          username="GIS_POTICO_USERNAME"
          password="GIS_POTICO_PASSWORD"
          />

   <serverUrl url="http://gis-potico.wri.org/arcgis/rest/services/Fires/fire_stories/MapServer"
          matchAll="true"
          username="GIS_POTICO_USERNAME"
          password="GIS_POTICO_PASSWORD"
          />

    <serverUrl url="http://gis-potico.wri.org/arcgis/rest/services/Fires/FIRMS_ASEAN/MapServer/10"
          matchAll="true"
          username="GIS_POTICO_USERNAME"
          password="GIS_POTICO_PASSWORD"
          />

    <serverUrl url="http://gis-potico.wri.org/arcgis/rest/services/Fires"
          matchAll="true"
          username="GIS_POTICO_USERNAME"
          password="GIS_POTICO_PASSWORD"
          />

  <serverUrl url="http://gis-gfw.wri.org"
          matchAll="true"
          username="GFW_SECURED_USER"
          password="GFW_SECURED_PASS"
          />

    <serverUrl url="http://gis-gfw.wri.org/arcgis/rest/services/protected_services/MapServer"
          matchAll="true"
          username="GFW_SECURED_USER"
          password="GFW_SECURED_PASS"
          />

    <serverUrl url="http://gis-gfw.wri.org/arcgis/rest/services/cached/wdpa_protected_areas/MapServer"
          matchAll="true"
          username="GFW_SECURED_USER"
          password="GFW_SECURED_PASS"
          />

    <serverUrl url="https://gfw-fires.wri.org/subscribe_by_polygon "
            matchAll="true"
            />

    <serverUrl url="http://api.globalforestwatch.org/metadata/"
          matchAll="true"
          />

    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
