<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
      <serverUrls>
            <serverUrl  url="https://landsat.arcgis.com/arcgis/rest/services/Landsat8_PanSharpened/ImageServer"
                        matchAll="true"
                        username="WRI_LANDSAT_USERNAME"
                        password="WRI_LANDSAT_PASSWORD"/>

            <serverUrl  url="https://gis-gfw.wri.org/arcgis/rest/services/Fires/fire_stories/FeatureServer"
                        matchAll="true"
                        username="GFW_STORY_EDITOR"
                        password="GFW_STORY_PASS"/>

            <serverUrl  url="https://gis-gfw.wri.org/arcgis/rest/services/Fires/fire_stories/MapServer"
                        matchAll="true"
                        username="GFW_STORY_EDITOR"
                        password="GFW_STORY_PASS"/>

            <serverUrl  url="https://gis-gfw.wri.org/arcgis/rest/services/protected_services/MapServer"
                        matchAll="true"
                        username="GFW_BR_USERNAME"
                        password="GFW_BR_PASSWORD"/>

            <serverUrl  url="https://gis-gfw.wri.org/arcgis/rest/services/protected_services/MapServer"
                        matchAll="true"
                        username="GFW_BR_USERNAME"
                        password="GFW_BR_PASSWORD"/>

            <serverUrl  url="https://gis-gfw.wri.org/arcgis/rest/services/cached/wdpa_protected_areas/MapServer"
                        matchAll="true"
                        username="GFW_BR_USERNAME"
                        password="GFW_BR_PASSWORD"/>

            <serverUrl  url="https://tiles.planet.com/basemaps/v1"
                        matchAll="true"
                        api_key="PLANET_API_KEY"/>

            <serverUrl  url="http://api.bit.ly/v3/shorten"
                        hostRedirect="http://api.bit.ly/v3/shorten?api_key=d4d25171b85b4f7f8fde459575cba233"
                        matchAll="true"/>
    </serverUrls>
</ProxyConfig>
<!--  clientId="Id" & clientSecret="Secret"-->
<!-- See https://github.com/Esri/resource-proxy for more information -->
