<h2 class="source_category_title">Air Quality</h2>

<p class="source_category_description">
	
</p>


<section class="ac-container">
      <!-- template container -->
       <div>
        <input id="dataSuitability-1" name="accordion-dataSuitability" type="checkbox" />
        <div class="source_header last">
          <label for="dataSuitability-1" class="source_title">
              Wind Direction
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description"></em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
           <div class="source_table">
          <dl class="sources_row">
            <dt>Function</dt>
            <dd>Identifies degraded land best suited for palm oil production.</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Resolution/Scale</dt>
            <dd>N/A</dd>
          </dl>
          <dl class="sources_row">
            <dt>Geographic coverage</dt>
            <dd>Global</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Source data</dt>
            <dd>NOAA</dd>
          </dl>
          <dl class="sources_row">
            <dt>Date of content</dt>
            <dd>4 times a day</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Cautions</dt>
            <dd>http://www.weather.gov/disclaimer</dd>
          </dl>
        </div>

        <div class="source_summary">
          <h3 class="overview_title">Overview</h3>
           <p>
               This visualization of wind direction in near-real time combines the visualization of wind direction data from the
               Global Forecast System (GFS) spectral model <a href="http://nomads.ncep.noaa.gov/txt_descriptions/GFS_high_resolution_doc.shtml" target="_blank">http://nomads.ncep.noaa.gov/txt_descriptions/GFS_high_resolution_doc.shtml</a>
               as well as code developed by Cameron Beccario <a href="https://github.com/cambecc/earth" target="_blank">https://github.com/cambecc/earth</a>, to create a visualization by interpolating
               wind direction between measurements. The GFW model was originally developed by J. Sela (Sela 1982, 1988), and is continuously
               improved by the Global Climate and Weather Modeling Branch which conducts a program of research and development in support of the
               Environmental Modeling Center (EMC) (<a href="http://www.emc.ncep.noaa.gov/" target="_blank">http://www.emc.ncep.noaa.gov/</a>) of the National Centers for Environmental Prediction
               (NCEP <a href="http://www.ncep.noaa.gov/">http://www.ncep.noaa.gov/</a>). The operational forecasting mission for global prediction for medium range (3-14 days)
               and for extended range (week2 – S/I) is at <a href="http://www.emc.ncep.noaa.gov/gmb/mission.html" target="_blank">http://www.emc.ncep.noaa.gov/gmb/mission.html</a>. The operational GFS consists of
               the final Global Data Assimilation System, the GFS forecasts (GFS), and the Ensemble forecasts (ENS). The GFS is a consolidation
               of the forecasts formerly known as the Aviation (AVN) and the Medium Range Forecast (MRF).
           </p>
            <p>
                The wind direction visualization utilizes data from the NOAA National Operational Model Archive & Distribution System, which may be accessed at
                <a href="http://nomads.ncdc.noaa.gov/data.php?name=access#hires_weather_datasets">http://nomads.ncdc.noaa.gov/data.php?name=access#hires_weather_datasets</a>. Wind direction data are collected by satellite 4 times per day.
            </p>
           <p class="credits"><strong>Citation:</strong>NOAA Operational Model Archive and Distribution System<br/>
               <a href="http://nomads.ncdc.noaa.gov/data.php?name=access#hires_weather_datasets" target="_blank">
                   http://nomads.ncdc.noaa.gov/data.php?name=access#hires_weather_datasets</a><br/>
               <a href="http://nomads.ncdc.noaa.gov/">Learn more or download data</a>
           </p>

           
        </div>
          </div>
        </article>
      </div>

</section>