<h2 class="source_category_title">Contextual Map</h2>

<p class="source_category_description">
	enter description
</p>


<section class="ac-container">
      <!-- template container -->
       <div>
        <input id="dataTemplate-templateCount" name="accordion-dataForestChange" type="checkbox" />
        <div class="source_header">
          <label for="dataTemplate-templateCount" class="source_title">
            Type here
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description">(type here)</em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
           Paste here
          </div>
        </article>
      </div>

</section>