<h2 class="source_category_title">Fires</h2>
<p class="source_category_description">
Forest change data measure tree cover loss, tree cover gain, or forest disturbance.
</p>

<section class="ac-container">


      <!-- NASA active fires-->
      <div>
        <input id="dataForestChange-5" name="accordion-dataForestChange" type="checkbox" />
        <div class="source_header last">
          <label for="dataForestChange-5" class="source_title">
            NASA active fires
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description">(daily, 1km, global)</em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
           
           <div class='source_body'>
        <div class='source_download'>
          <a href='https://earthdata.nasa.gov/data/near-real-time-data/firms' target='_blank' title='Download at project website'>Download at project website<i class='arrow_down'></i></a>
        </div>

        <div class='source_table'>
          <dl class='sources_row'>
            <dt>Function</dt>
            <dd>Displays fire alert data for the past 7 days</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Resolution/scale</dt>
            <dd>1 × 1 kilometer</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Geographic coverage</dt>
            <dd>Global</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Source data</dt>
            <dd><a href='http://modis.gsfc.nasa.gov/about/' target='_blank'>MODIS</a></dd>
          </dl>
          <dl class='sources_row'>
            <dt>Frequency of updates</dt>
            <dd>Daily</dd>
          </dl>
          <dl class='sources_row even'>
            <dt>Date of content</dt>
            <dd>Past 7 days</dd>
          </dl>
          <dl class='sources_row'>
            <dt>Cautions</dt>
            <dd>
              <p>Not all fires are detected. There are several reasons why MODIS may not have detected a certain fire. The fire may have started and ended between satellite overpasses. The fire may have been too small or too cool to be detected in the (approximately) 1 km<sup>2</sup> pixel. Cloud cover, heavy smoke, or tree canopy may completely obscure a fire.</p>
              <p>It is not recommended to use active fire locations to estimate burned area due to spatial and temporal sampling issues.</p>
              <p>When zoomed out, this data layer displays some degree of inaccuracy because the data points must be collapsed to be visible on a larger scale. Zoom in for greater detail.</p>
            </dd>
          </dl>
        </div>

        <div class='source_summary'>
          <h3 class='overview_title'>Overview</h3>

          <p>The Fire Information for Resource Management System (FIRMS) delivers global MODIS-derived hotspots and fire locations. The active fire locations represent the center of a 1-kilometer pixel that is flagged by the MOD14/MYD14 Fire and Thermal Anomalies Algorithm as containing one or more fires within the pixel.</p>

          <p>The near real-time active fire locations are processed by the <a href='https://earthdata.nasa.gov/data/near-real-time-data' target='_blank'>NASA Land and Atmosphere Near Real-Time Capability for EOS (LANCE)</a> using the standard MODIS Fire and Thermal Anomalies product (MOD14/MYD14). Data older than the past 7 days can be obtained from the <a href='https://earthdata.nasa.gov/data/near-real-time-data/firms/active-fire-data#tab-content-6' target='_blank'>Archive Download Tool</a>. The tool provides near real-time data and, as it becomes available and is replaced with the standard NASA (MCD14ML) fire product.</p>

          <p>More information on active fire data is available from the <a href='https://earthdata.nasa.gov/data/near-real-time-data/firms' target='_blank'>NASA FIRMS website</a>.</p>

          <p class="credits"><strong>Citation:</strong>NASA FIRMS. “NASA Fire Information for Resource Management System (FIRMS).” Accessed on [date]. <a href="earthdata.nasa.gov/data/near-real-time-data/firms" target="_blank">earthdata.nasa.gov/data/near-real-time-data/firms</a>.</p>

          <p class='credits'><strong>Suggested citation for data as displayed on GFW:</strong> “NASA Active Fires.” NASA FIRMS. Accessed through Global Forest Watch on [date]. <a href='http://www.globalforestwatch.org' target='_blank'>www.globalforestwatch.org</a>.</p>

          <p class='read_more hidden'><em>Learn more or download data at the <a href='https://earthdata.nasa.gov/data/near-real-time-data/firms' target='_blank'>NASA FIRMS website</a></em></p>
        </div>
      </div>      
        
          </div>
        </article>
      </div>


        
</section>


