<h2 class="source_category_title">Suitability</h2>

<p class="source_category_description">
	
</p>


<section class="ac-container">
      <!-- template container -->
       <div>
        <input id="dataSuitability-1" name="accordion-dataSuitability" type="checkbox" />
        <div class="source_header last">
          <label for="dataSuitability-1" class="source_title">
            Suitability Mapper
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description"></em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
           <div class="source_table">
          <dl class="sources_row">
            <dt>Function</dt>
            <dd>Identifies degraded land best suited for palm oil production.</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Resolution/Scale</dt>
            <dd>Varies depending on suitability criteria.</dd>
          </dl>
          <dl class="sources_row">
            <dt>Geographic coverage</dt>
            <dd>Southeast Asia</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Source data</dt>
            <dd>See more information <a href="http://data.wri.org/POTICO/English_how_to_identify_degraded_land_for_sustainable_palm_oil_in_indonesia.pdf" target="_blank">here</a></dd>
          </dl>
          <dl class="sources_row">
            <dt>Frequency of updates</dt>
            <dd>None</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Date of content</dt>
            <dd>Varies depending on suitability criteria</dd>
          </dl>
          <dl class="sources_row">
            <dt>Cautions</dt>
            <dd>
              <p>Protected area designations, such as “National Park,” can be applied differently in different countries. Therefore, the associated IUCN category and its description of protection may also vary by country.</p>
              <p>Protected areas with no boundary data are displayed as brown dotted boxes, which represent the reported protected area size. The box is centered around a single point location and the borders do not indicate the real boundary of the protected area.</p>
            </dd>
          </dl>
        </div>

        <div class="source_summary">
          <h3 class="overview_title">Overview</h3>
          <p>Palm oil production in Indonesia has the potential to generate local benefits if oil palm cultivation expansion follows sustainable planning and management practices, including respect for local interests and rights. Potential benefits include increased incomes, profits, and government revenues, reduced poverty, and improved natural resource management. Whether this potential is achieved will depend on how new areas for oil palm cultivation are identified.</p>

          <p>The suitability mapper method was designed in accordance with established standards for sustainable palm oil production, such as those of the roundtable on Sustainable Palm Oil (RSPO). The method incorporates relevant Indonesian laws and policies and is consistent with proposed national REDD+ strategies to support palm oil production on low carbon degraded land. The method consists of a desktop analysis using readily available data and rapid field assessments. It is based on a set of indicators related to selected environmental, economic, social, and legal considerations.</p>

          <p>This method can be used by companies as a first step in a site selection process for certified sustainable plantation and can inform government officials and nongovernmental organizations (NGOs) in assessing land use policy options to support the expansion of sustainable palm oil production on degraded land. However, since it is designed primarily to rapidly identify the highest priority areas for further investigation, it should not be used to predetermine where oil palm cultivation expansion should occur.</p>
          <p>This method is a first step in the site selection process, and can reduce the costs of implementing the additional due diligence activities required to confirm the suitability of a potential site for oil palm cultivation. In addition to identifying lands with the suitability mapper, other activities are necessary to ensure this due diligence, such as community mapping to document community claims and rights, conducting high conservation value (HCV) and social impact assessments, implementing a comprehensive free prior and informed consent (FPIC) process, and fulfilling legal requirements.</p>


          <p>Download the full methodology document <strong><a href="http://data.wri.org/POTICO/English_how_to_identify_degraded_land_for_sustainable_palm_oil_in_indonesia.pdf" target="_blank">here</a></strong></p>

          

           <p class="credits"><strong>Citation:</strong> The suitability mapper is a first step in the site selection process. Other activities are necessary to ensure due diligence, such as community mapping to document claims and rights, conducting high conservation value (HCV) and social impact assessments, implementing a comprehensive free prior and informed consent (FPIC) process, and fulfilling legal requirements.</p>

           
        </div>
          </div>
        </article>
      </div>

</section>