<h2 class="source_category_title">Conservation</h2>

<p class="source_category_description">
    Conservation data measure information that is important for preservation and enhancement of protected areas and natural resources such as biodiversity.
</p>


<section class="ac-container">
      <!-- template container -->
       <div>
        <input id="dataConservation-1" name="accordion-dataConservation" type="checkbox" />
        <div class="source_header">
          <label for="dataConservation-1" class="source_title">
            Protected Areas
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description"></em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
        <div class="source_download">
          <a href="http://www.protectedplanet.net" target="_blank" title="Download and project website">Download and project website<i class="arrow_down"></i></a>
        </div>

        <div class="source_table">
          <dl class="sources_row">
            <dt>Function</dt>
            <dd>Displays areas that are legally protected according to various designations (e.g., national parks, state reserves, and wildlife reserves) and managed to achieve conservation objectives</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Geographic coverage</dt>
            <dd>Global</dd>
          </dl>
          <dl class="sources_row">
            <dt>Source data</dt>
            <dd>The World Database on Protected Areas, which compiles protected area data from governments, NGOs, and international secretariats</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Frequency of updates</dt>
            <dd>Monthly</dd>
          </dl>
          <dl class="sources_row">
            <dt>Date of content</dt>
            <dd>Varies by protected area</dd>
          </dl>
          <dl class="sources_row even">
            <dt>Cautions</dt>
            <dd>
              <p>Protected area designations, such as “National Park,” can be applied differently in different countries. Therefore, the associated IUCN category and its description of protection may also vary by country.</p>
              <p>Protected areas with no boundary data are displayed as brown dotted boxes, which represent the reported protected area size. The box is centered around a single point location and the borders do not indicate the real boundary of the protected area.</p>
            </dd>
          </dl>
        </div>

        <div class="source_summary">
          <h3 class="overview_title">Overview</h3>
          <p>The World Database on Protected Areas (WDPA) is the most comprehensive global spatial data set on marine and terrestrial protected areas available. Protected area data are provided via <a href="http://www.protectedplanet.net/" target="_blank">protectedplanet.net</a>, the online interface for the <a href="http://www.wdpa.org/" target="_blank">World Database on Protected Areas</a> (WDPA). The WDPA is a joint initiative of the IUCN and UNEP-WCMC to compile spatially referenced information about protected areas.</p>

          <p><strong><a href="http://www.iucn.org/about/work/programmes/gpap_home/gpap_quality/gpap_pacategories/" target="_blank">IUCN Management Categories</a></strong></p>

          <p>Not all protected areas receive the same degree of protection. While some have strict guidelines designed to preserve intact ecosystems, others allow for sustainable land use, often including limited resource extraction. In addition, not all countries use the same terminology when designating a protected area. Accordingly, the  <a href="http://www.iucn.org/" target="_blank">International Union for Conservation of Nature</a> defined universal management categories that stipulate the level of protection for most protected areas.</p>

          <p>As you click through protected areas in this layer, note the “legal designation” and the explanations below to better understand the degree to which an area is protected.</p>

          <ul class="bullets">
            <li><strong>Ia. Strict Nature Reserves.</strong> Protected areas designed to preserve biodiversity and all geological features. Limited human use (e.g., scientific study, education) is allowed and carefully monitored. Strict Nature Reserves are often used to understand the impact of indirect human disturbance (e.g., burning fossil fuels) because of the area’s high level of preservation. <em>Other common designations:</em> Biological Reserve, Botanical Reserve</li>
            <li><strong>Ib. Wilderness Areas.</strong> Protected areas managed to preserve ecosystem processes with limited human use. Wilderness Areas cannot contain modern infrastructure (e.g., a visitor’s center), but they allow for local indigenous groups to maintain subsistence lifestyles. These areas are often established to restore disturbed environments. <em>Other common designations:</em> Wilderness Reserve, Wildlife Area</li>
            <li><strong>II. National Parks.</strong> Protected areas designed to preserve large-scale ecosystems and support human visitation. With conservation as a priority, these areas allow infrastructure and contribute to the local economy by providing opportunities for environmental educational and recreation. <em>Other common designations:</em> State Park, Class A Park, Park Reserve, Provincial Park</li>
            <li><strong>III. National Monuments or Features.</strong> Areas established to protect a specific natural feature (e.g., cave, grove) or human-made monument with significant historical, spiritual, or environmental importance and the immediate surroundings. Accordingly, Natural Monuments or Features are typically smaller in area and have high human impact resulting from visitor traffic. <em>Other common designations:</em> Natural Features Reserve, Nature Monument, Botanical Garden</li>
            <li><strong>IV. Habitat and Species Management Areas.</strong> Areas designed to conserve specific wildlife populations and/or habitats. Habitat and Species Management Areas often exist within a larger ecosystem or protected area and are carefully managed (e.g., through hunting abatement or habitat restoration) to conserve a target species or habitat. <em>Other common designations:</em> National Wildlife Refuge, State Wildlife Management Area, Faunal Reserve, Zakaznik (Russia), Provincial Reserve, Wildlife Sanctuary</li>
            <li><strong>V. Protected Landscapes and Seascapes.</strong> Protected areas with ecological, biological, or cultural importance that have been shaped by human use of the landscape. Protected landscapes and seascapes typically cover entire bodies of land or ocean and allow for a number of for-profit activities (e.g., ecotourism) in accordance with the region’s management plan. <em>Other common designations:</em> National Forest, State Natural Area, Environmental Protection Area, Protected Area, Quasi National Park (Japan), Nature Reserve, State Natural Area</li>
            <li><strong>VI. Protected Areas with Sustainable Use of Natural Resources.</strong> Areas designed to manage natural resources and uphold the livelihoods of surrounding communities. These regions have a low level of human occupation, small-scale developments (i.e., not industrial), and part of the landscape in its natural condition. <em>Other common designations:</em> Wildlife Reserve, Biosphere Reserve, Forest Reserve, Protective Zone, National Forest, Natural and National Reserves, Reserve, Multiple Use Reserve, Municipal Reserve</li>
          </ul>

          <h3 class="overview_title">Other Important Designations</h3>
          <ul class="bullets">
            <li><a href="http://www.unesco.org/new/en/natural-sciences/environment/ecological-sciences/biosphere-reserves/" target="_blank">UNESCO-MAP Biosphere Reserves</a>: areas under UNESCO’s Man and the Biosphere Programme designated to “promote sustainable development based on local community efforts and sound science.”</li>
            <li><a href="http://whc.unesco.org/" target="_blank">World Heritage Sites</a>: areas considered to have “outstanding universal value” and meet at least one of ten criteria, as described <a href="http://whc.unesco.org/en/criteria/" target="_blank">here</a>.</li>
            <li><a href="http://ramsar.org/cda/en/ramsar-home/main/ramsar/1_4000_0__" target="_blank">Ramsar Sites—Wetlands of International Importance</a>: wetlands that hold significant value designated under the Ramsar Convention on Wetlands.</li>
          </ul>

           <p class="credits"><strong>Citation:</strong> UNEP-WCMC, UNEP, and IUCN. “World Database on Protected Areas.” Accessed on [date]. <a href="http://www.protectedplanet.net/" target="_blank">www.protectedplanet.net</a>.</p>

           <p class="read_more hidden"><em><a href="http://www.protectedplanet.net/" target="_blank">Learn more or download data at www.protectedplanet.net</a></em></p>
        </div>
      </div>
        </article>
      </div>
</section>