<h2 class="source_category_title">Data Policy</h2>

<p class="source_category_description">
	enter description
</p>


<section class="ac-container">
      <!-- template container -->
       <div>
            <input id="dataPolicy-1" name="accordion-dataPolicy" type="checkbox" />
            <div class="source_header">
              <label for="dataPolicy-1" class="source_title">
                  Digital Globe – First Look Imagery
              </label>
              <i class="expand_arrow"></i>
              <em class="source_description"></em>
            </div>
            <article class="ac-auto">
                <div class="source_body">
                    <div class="source_table">
                        <dl class="sources_row">
                            <dt>Function</dt>
                            <dd>Identifies the direction and speed of wind globally and updated 4 times a day</dd>
                        </dl>
                        <dl class="sources_row even">
                            <dt>Resolution/scale</dt>
                            <dd>N/A</dd>
                        </dl>
                        <dl class="sources_row">
                            <dt>Geographic Coverage</dt>
                            <dd>Global</dd>
                        </dl>
                        <dl class="sources_row even">
                            <dt>Source data</dt>
                            <dd>NOAA</dd>
                        </dl>
                        <dl class="sources_row">
                            <dt>Date of content</dt>
                            <dd>Every 6 hours</dd>
                        </dl>
                        <dl class="sources_row even">
                            <dt>Cautions</dt>
                            <dd></dd>
                        </dl>
                    </div>
                    <div class="source_summary">
                       <p>
                           <a href="http://nomads.ncdc.noaa.gov/data.php?name=access#hires_weather_datasets">Learn more or download data </a>
                       </p>
                    </div>
                </div>
            </article>
      </div>

       <!-- template container -->
       <div>
        <input id="dataPolicy-2" name="accordion-dataPolicy" type="checkbox" />
        <div class="source_header">
          <label for="dataPolicy-2" class="source_title">
            Landsat 8 Pan-sharpened
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description"></em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
        <div class="source_summary">
            <p>Landsat 8 (formerly called the Landsat Data Continuity Mission, or LDCM) is NASA’s eighth satellite in the Landsat series and continues the Landsat program’s critical role in monitoring, understanding and managing the resources needed for human sustainment such as food, water and forests. As our population surpasses seven billion people, the impact of human society on the planet will increase, and Landsat monitors those impacts as well as environmental changes.</p>

            <p>With the longest unbroken data stream of Earth’s surface as seen from space, NASA’s Earth-observing Landsat fleet has provided the world with unprecedented information on land cover changes and their residual effects since 1972. The knowledge gained from 40 years of continuous data contributes to research on climate, carbon cycle, ecosystems, water cycle, biogeochemistry and changes to Earth’s surface, as well as our understanding of visible human effects on land surfaces. Building off that research, the Landsat imaging data set has, over time, led to the improvement of human and biodiversity health, energy and water management, urban planning, disaster recovery and agriculture monitoring, all resulting in incalculable benefits to the United States and world economy.</p>

            <p>Landsat 8 joined the Landsat 7 satellite in orbit and produces stunning pictures of Earth’s surface along with a wealth of scientific data. Landsat 8 measures Earth’s surfaces in the visible, near-infrared, short wave infrared and thermal infrared, with a moderate-resolution of 15 to 100 meters, depending on spectral frequency.
            <br/>
            Landsat 8 is a collaboration between NASA and the U.S. Geological Survey (USGS).</p>

            <p>The Pan-sharepened imagery is a service provided through Esri’s ArcGIS Online subscription.
            <a href="http://www.nasa.gov/mission_pages/landsat/main/index.html">http://www.nasa.gov/mission_pages/landsat/main/index.html</a></p>



        </div>
      </div>
        </article>
      </div>


</section>