<h2 class="source_category_title">Data Policy</h2>

<p class="source_category_description">
	enter description
</p>


<section class="ac-container">
      <!-- template container -->
       <div>
        <input id="dataPolicy-1" name="accordion-dataPolicy" type="checkbox" />
        <div class="source_header">
          <label for="dataPolicy-1" class="source_title">
            Data Standards
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description"></em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
        <div class="source_summary">
          <p>Global Forest Watch is committed to providing the highest-quality data on the world’s forests that is currently available. All of the data provided on GFW have been assessed with respect to several indicators of quality, including timeliness, accuracy, completeness, geographic coverage, innovation, and objectivity.</p>

          <p>In some cases, the best available data still have known shortcomings with respect to one or more of these indicators. In those cases, we provide a “caution” explaining known issues or inaccuracies.</p>

          <p>Global Forest Watch has an open data policy and commits to make our data, and that of our partners, open, discoverable, downloadable, and usable. We believe that open data enables the innovation, information sharing, analysis, and transparency required to support policies that better manage and sustain the world’s forests.</p>
        </div>
      </div>
        </article>
      </div>

       <!-- template container -->
       <div>
        <input id="dataPolicy-2" name="accordion-dataPolicy" type="checkbox" />
        <div class="source_header">
          <label for="dataPolicy-2" class="source_title">
            Open Data Policy
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description"></em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
        <div class="source_summary">
          <p>Global Forest Watch has an open data policy, intended to provide information free of constraints and restrictions on use. All of the data we produce is shared using <a href="http://opendefinition.org/licenses/" target="_blank">licensing which conforms to open data standards</a> and made available for download whenever possible.</p>

          <p>For data sets not produced by GFW, we provide links to download data from the original source when they are available.</p>
        </div>
      </div>
        </article>
      </div>

      <!-- template container -->
       <div>
        <input id="dataPolicy-3" name="accordion-dataPolicy" type="checkbox" />
        <div class="source_header last">
          <label for="dataPolicy-3" class="source_title">
            Data Sharing
          </label>
          <i class="expand_arrow"></i>
          <em class="source_description"></em>
        </div>  
        <article class="ac-auto">
        <div class="source_body">
        <div class="source_summary">
          <h3 class="overview_title">Terms of use</h3>
          <ul class="bullets">
            <li>For data sets produced by GFW, you are free to use, distribute, copy, modify, and display the data for commercial and noncommercial purposes.</li>
            <li>You are free to use maps, graphics, charts, and other representations of data on the GFW website, with <a href="http://opensource.org/licenses/MIT" target="_blank">The MIT License (MIT)</a>.</li>
            <li>Licensing is determined for each individual data set—please refer to the licensing text for detailed information.</li>
            <li>You must attribute the data as indicated in the metadata or licensing for each individual data set.</li>
            <li>You must not imply that Global Forest Watch endorses your use of the data, or use the Global Forest Watch logo in conjunction with such use.</li>
            <li>Through accessing the GFW site you have acknowledged and agreed to our <a href="/terms" target="_blank">Terms of Service</a>.</li>
            <li>The GFW site includes data sets produced by many organizations, some of which may have more restrictive data licensing. Please refer to the licensing of the original data source for more information.</li>
          </ul>

          <h3 class="overview_title">Permissions &amp; licensing</h3>
          <p>Except as noted below, all material on this site carries <a href="http://opensource.org/licenses/MIT" target="_blank">The MIT License (MIT)</a>, which permits unrestricted reuse of GFW content when proper attribution is provided. This means you are free to copy, display, and distribute GFW’s work, or include our content in derivative works, under the following conditions:</p>

          <ul class="bullets">
            <li><strong>Attribution.</strong> You must clearly attribute the work and provide a link back to the work on www.globalforestwatch.org. Doing so ensures that people access the latest available information, in the event that the publication is revised or more research is published. Click <a href="http://opensource.org/licenses/MIT" target="_blank">here</a> for the full legal code of The MIT License (MIT). Some content on this site may carry additional copyright restrictions. GFW has made every effort to clearly label such content.</li>

            <li><strong>Photographs.</strong> Most of the photographs featured on this site have either been licensed under nontransferable terms, or have been acquired from photo-sharing sites such as Flickr that have their own policies for public use. Unless indicated otherwise, The MIT License (MIT) described above does not apply to photographs and images used on this site.</li>

            <li><strong>Charts, Graphs, &amp; Maps.</strong> Charts, graphs, and maps produced by GFW may be used according to The MIT License (MIT). Where graphs employ data from third parties, we may not be able to grant permissions to the original data used in these charts, although such permissions may be granted by the owners of the data. In these cases, please contact the third-party organizations directly to ask about permissions. If you have any questions about citing or reusing GFW content, please visit the <a href="/howto/data">How to page</a> or <a href="mailto:gfw@wri.org">contact us</a>.</li>
          </ul>
        </div>
      </div>
        </article>
      </div>

</section>