doctype html
html(lang="en")
	head
		script(src='PrintLoader.js')
		meta(name="author", content="")
		meta(name="keywords", content="GFW, Fires, Global, Forest, Watch")
		meta(name="description", content="")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	body
		div#report(class='report-page')
			div(class='report-title') GFW-FIRES ANALYSES OVER THE LAST 7 DAYS
			div#section-one
				div(class='section-title') Figure 1: DISTRIBUTION OF FIRE ALERTS, SOUTHEAST ASIA
				div(class='map-container')
					div#simple-fires-map(class='map')
			div#section-two(class='page-break')
				div(class='section-title') Figure 2a: DISTRICTS WITH THE GREATEST NUMBER OF FIRE ALERTS
				div(class='map-container small')
					div#district-fires-map(class='map')
						div#legend-container(class='legend-container')
							div(class='legend-title') Fire Alerts by Districts in the Last 7 days
							div#legend
				div(class='section-title') Figure 2b: DISTRICTS WITH THE GREATEST NUMBER OF FIRE ALERTS
				div#district-fires-table
			div#section-three(class='page-break')
				div(class='section-title') Figure 3: FIRE ALERT COUNT FOR SUMATRA, INDONESIA, AND PENINSULAR MALAYSIA
				div#fire-alert-count-sumatra
					div#fire-line-chart(class='fire-line-chart')
			div#section-four(class='page-break')
				div(class='section-title') Figure 4: COMPANY CONCESSIONS WITH FIRE ALERTS FOR SUMATRA, INDONESIA
				div(class='no-break')
					div(class='sub-title') PULPWOOD CONCESSIONS WITH THE HIGHEST SHARE OF FIRE ALERTS
					div#pulpwood-fires-table
				div(class='no-break')
					div(class='sub-title') PALM OIL CONCESSIONS WITH THE HIGHEST SHARE OF FIRE ALERTS
					div#palmoil-fires-table
				div(class='no-break')
					div(class='sub-title') LOGGING CONCESSIONS WITH THE HIGHEST SHARE OF FIRE ALERTS
					div#logging-fires-table
			div#section-five(class='page-break')
				div(class='section-title') Figure 5: FIRE ALERTS BY LAND USE AREA FOR SUMATRA, INDONESIA
					div#land-use-fires-chart-container(class='chart-container')
						div#land-use-fires-chart(class='chart small-legend-text')
				div(class='section-title') Figure 6: FIRE ALERTS IN PROTECTED AREAS FOR SUMATRA, INDONESIA 
					div#protected-areas-fires-chart-container(class='chart-container')
						div#protected-areas-fires-chart(class='chart small-legend-text')
				div(class='section-title') Figure 7: PORTION OF FIRES OCCURRING ON PEATLAND FOR SUMATRA, INDONESIA AND PENINSULAR MALAYSIA
					div#peat-fires-chart-container(class='chart-container')
						div#peat-fires-chart(class='chart')