@require '../../../node_modules/jeet/stylus/jeet/_jeet'
@require '../../../node_modules/rupture/rupture/index'
@require '../../css/_variables'

nav
  border-bottom 1px solid darken($concrete, 5%)

#success-modal
  .modal
    max-width 375px

    +below($mq-mobile)
      max-width initial
      width calc(100% - 2em)

h1
  +below($mq-mobile-small)
    margin 0.67em 1.55em
    line-height 1.5em

.header-container
  border-bottom 1px solid darken($concrete, 5%)

.story-form
  column(2/3, gutter: $gutter)
  padding 1em
  padding-right: 1.25em
  margin-right 2% !important
  border-right 1px solid darken($concrete, 5%)
  box-sizing border-box

  +below($mq-mobile)
    border-right none

  +below($mq-mobile-small)
    padding 1em 0

.story-details
  column(1/3, gutter: $gutter)
  padding-top 1em
  box-sizing border-box

  +below($mq-mobile)
    padding 1em 1.25em 1em 1em

  h5
    font-weight 500
    font-size 0.9em
    border-bottom 1px solid darken($concrete, 5%)
    padding 0.6em 0 0.6em
    margin 0

  p
    font-size 0.85em
    color $smoke
    margin-top 0.8em
    line-height 1.5em

  ul
    list-style-type disc
    margin-left 20px

  li
    color $smoke
    font-size .85em
    line-height 1.5em

.story-form
.story-details
  +below($mq-mobile)
    stack()

.form-section
  max-width 960px

.story-form
  font-size 0.9em

.field
  &, &-required
    margin-bottom 1.2em

  &-required
    color $red-alert

    input[type="text"]
    input[type="email"]
      border 1px solid $red-alert

.submit-button
  color $white
  background $gfw-red
  border-radius 25px
  padding 0px 30px
  height 36px
  line-height 36px
  border none
  font-size 1em
  font-weight 500
  transition background 0.15s linear

  &:hover
    background darken($gfw-red, 15%)

input
textarea
  min-width: 100%;
  border 1px solid #ccc
  border-radius 3px
  margin 0
  font-size 14px
  padding 0.4em 0.6em
  box-sizing border-box

textarea
  height 12em

.required
.optional
  float right

.description
  margin 0
  color $dark-gray
  font-size 0.9em

.map
  height 300px
  display block
  background $map-background

  .dijitTitlePane
    background $white
    padding 1px 0
    border 1px solid darken($concrete, 5%)
    box-shadow 1px 1px 5px rgba(0,0,0,.25)

  .dijitTitlePaneTitle
    padding 0 6px

  .dijitTitlePaneTitleOpen
    display flex
    padding-bottom 1px
    margin-bottom 3px
    border-bottom 1px solid darken($concrete, 5%)

    &:before
      content "▲"

  .dijitTitlePaneTitleClosed
    &:before
      content "▼"

  .dijitTitlePaneTitleOpen
  .dijitTitlePaneTitleClosed
    &:before
      font-size 10px
      color $gfw-red
      top 6px
      position absolute
      cursor pointer

  .esriSimpleSlider
    top 10px
    left 10px
    border-radius 0
    border none
    box-shadow 1px 1px 5px rgba(0,0,0,0.25)
    border 1px solid darken($concrete, 5%)

  .esriSimpleSlider .esriSimpleSliderIncrementButton
    border-bottom 1px solid darken($concrete, 5%)

  .esriSimpleSlider .esriSimpleSliderIncrementButton
  .esriSimpleSlider .esriSimpleSliderDecrementButton
    width 24px
    height 24px
    font-size 18px
    color $gfw-red
    line-height: 22px;

  .dijitArrowNodeInner
    display none

  .dijitTitlePaneTextNode
    margin-left 15px

  .esriBasemapGalleryLabelContainer
    font-size 0.8em
    line-height 1.3em

.story-form
  .map-container
    position relative

    .arcgisSearch
      display block
      position absolute
      z-index 1
      top 10px
      left 46px
      box-shadow 1px 1px 5px rgba(0,0,0,0.25)

    .searchInput
      padding 2px 24px 2px 6px
      width: 150px;

    .searchInput
    .searchBtn
      border-radius 0
      z-index 2
      position relative
      border 1px solid darken($concrete, 5%)

    .searchIcon
      color $gfw-red
      font-size 14px

    .arcgisSearch .searchClear
    .arcgisSearch .searchClose
    .arcgisSearch .searchSpinner
      height 22px

    .arcgisSearch .searchClose
      line-height 22px
      width 22px

    .arcgisSearch .searchBtn
      padding 2px 6px

    .basemap-container
      position absolute
      right 10px
      top 10px
      z-Index 2

      +below($mq-mobile-small)
        display none
