div.footerModesContainer(data-bind="visible: (appState().v=='home')")
    div.footerWrapper
        div.footerModes(data-bind="foreach:footerModeOptions")
            div.footerItem
                div(data-bind="attr:{class:css}")
                    div.icon
                    div.title(data-bind="html:title")
                    div.desc(data-bind="html:desc")
                    div(data-bind="if: url")
                        a.action(data-bind="html:action,attr: {href: url, target: target}")
                    div(data-bind="ifnot: url")
                        a.action(data-bind="html:action,click:$root.footerSelect")

div.footerShareContainer#footerShareContainer(data-bind="visible: (appState().v != 'map')")
