
/* line 286 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 2 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.dataView {
  background-color: #fff;
}

/* line 5 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.content-header {
  height: 200px;
  width: 100%;
  background: url("../images/header_block.jpg");
  margin: 40px 0 40px 0;
}

/* line 11 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.content-header h1 {
  font-weight: normal;
  position: relative;
  color: #fff;
  left: 30px;
  top: 30px;
}

/* line 18 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.content-header h4 {
  font-weight: normal;
  position: relative;
  margin: 0 30px;
  color: #ccc;
  top: 20px;
}

/* line 26 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/* CSS Document */

/* line 27 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/* header view */

/* line 29 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentHeaderBottomView {
  height: 212px !important;
}

/* line 33 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPageHeaderView {
  box-shadow: none !important;
  border-bottom: 0px solid #fff !important;
}

/* line 39 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/* header view end */

/* line 42 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/*Accordion Stuff*/

/* line 44 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .ac-container {
  margin: 0 auto;
  width: 600px;
}

/* line 49 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container label {
  padding: 0px;
  position: relative;
  z-index: 20;
  display: block;
  height: 60px;
  cursor: pointer;
  color: #777;
  line-height: 33px;
  font-size: 19px;
  color: #464052;
  cursor: pointer;
  margin-bottom: 0px;
}

/* line 63 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container label:hover {
  color: #98bd17;
}

/* line 67 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container input:checked + .source_header label {
  color: #98bd17;
}

/* line 71 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container .expand_arrow {
  margin-top: -60px;
}

/* line 75 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container .source_description {
  margin-top: -60px;
  margin-right: 50px;
}

/* line 80 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container .source_summary,
.source_summary,
.source_body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 85 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_header label {
  font: bold 12px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* line 91 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */

/* line 95 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
}

/* line 102 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
/*background: transparent url(../images/arrow_down.png) no-repeat center center;	*/
}

/* line 113 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container input:checked + .source_header .expand_arrow {
  background-position: 0px -76px;
}

/* line 117 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */

/* line 120 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container input {
  display: none;
}

/* line 123 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container article {
  background: rgba(255,255,255,0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
}

/* line 133 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */

/* line 136 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.ac-container input:checked ~ article.ac-auto {
  height: auto;
}

/* line 142 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage #accordion {
  margin: 0 auto;
  width: 600px;
}

/* line 147 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage ul {
  margin: 0;
  padding: 0;
}

/* line 152 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage ul li {
  list-style: none;
  margin-bottom: 0px;
/*background-color:#34495e;*/
}

/* line 158 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage ul li h2 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
/*font-family:Arial, Helvetica, sans-serif;*/
  color: #ecf0f1;
  border-bottom: 1px #efefef solid;
}

/* line 167 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage ul li a {
  text-decoration: none;
}

/* line 171 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage ul li .content {
  height: 0;
  overflow: hidden;
}

/* line 176 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage ul li .content:target {
  height: auto;
  border-bottom: 1px #efefef solid;
}

/* line 182 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/*.contentPage ul li .content p {
	padding:10px;
	color:#ecf0f1;
	}		*/

/* line 187 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/*Accordion Stuff End*/

/* line 190 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/* from calums css */

/* line 193 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage {
  zoom: 1;
}

/* line 197 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.dataContentSize,
.aboutContentSize,
.methodsContentSize,
.storyContentSize,
.contentPage {
  height: 100%;
/*min-height: 1500px;
	height: auto !important;*/
}

/* line 204 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.content-container {
  margin: 0px 0px 40px 0px;
}

/* line 208 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .content-inner-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 214 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .header-container {
  margin: 60px 0 40px;
  height: auto;
  font-weight: 400;
  background: url("images/header_block-8287b2677353772b13b9e784b627e9ae.jpg");
}

/* line 220 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .header-block-title h1,
.contentPage .header-block-desc p {
  color: #fff;
}

/* line 224 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .header-block-title h1 {
  padding: 40px 50px 0 50px;
  font-family: 'fira_sans_otlight';
  font-size: 47px;
  line-height: 47px;
  font-weight: 600;
}

/* line 233 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .header-block-desc p {
  padding: 0px 50px 40px 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255,255,255,0.7);
}

/* line 242 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage #headerBlockFooter {
  border-top: 1px solid rgba(255,255,255,0.15);
  height: 98px;
  list-style: none;
  position: relative;
  bottom: 0px;
}

/* line 250 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage #headerBlockFooter li {
  float: left;
  height: 100%;
  width: 33%;
  border-left: 1px solid rgba(255,255,255,0.15);
}

/* line 257 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage #headerBlockFooter li a {
  display: block;
  width: 212px;
  border: 3px solid rgba(255,255,255,0.25);
  margin: 28px auto;
  padding-left: 20px;
  font-size: 14px;
  line-height: 38px;
  font-family: 'fira_sans_otmedium';
  color: rgba(255,255,255,0.65);
  text-transform: uppercase;
  text-decoration: none;
  -o-border-radius: 22px;
  border-radius: 22px;
  font-weight: 400;
}

/* line 274 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage #headerBlockFooter li a:hover {
  color: #fff;
  border: 3px solid rgba(255,255,255,0.5);
  cursor: pointer;
}

/* line 280 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage #headerBlockFooter li a i {
  float: right;
  display: block;
  height: 38px;
  width: 38px;
  background: url("../images/static-icons.png") no-repeat;
  background-position: 0 -174px;
}

/* line 289 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .navigation_left {
  float: left;
  width: 313px;
}

/* line 294 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .navigation_left ul {
  list-style: none;
  margin: 0 0;
}

/* line 299 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .navigation_left a {
  display: block;
  line-height: 56px;
  padding-left: 45px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-family: "fira_sans_otmedium";
  text-transform: uppercase;
  text-decoration: none;
  color: #464052;
  background: #f2f2f3;
}

/* line 314 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .navigation_left li {
  margin-bottom: 0px;
}

/* line 318 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .navigation_left a:hover {
  background: #e5e5e7;
}

/* line 322 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .navigation_left a.selected {
  background: #fff;
  position: relative;
  width: 269px;
  color: #999;
}

/* line 329 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .item-title {
  border-bottom: 1px solid #ccc;
  line-height: 55px;
  padding-left: 45px;
  background: #f2f2f3;
}

/* line 336 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .item-title i {
  display: inline-block;
  height: 10px;
  width: 8px;
  background: url("../images/static-icons.png") no-repeat;
  background-position: 0 -222px;
}

/* line 344 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage .content_right {
  float: left;
  width: 600px;
  border-left: 1px solid #ccc;
  padding: 10px 20px 10px 20px;
  min-height: 648px;
  background: #fff;
}

/* line 354 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/* from calums css end */

/* line 357 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/* From GFW - for Templates */

/* line 358 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_category_title {
  margin-bottom: 10px;
  font-size: 37px;
  font-family: "fira_sans_otregular";
  color: #464052;
}

/* line 364 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_category_description {
  font: 13px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
}

/* line 369 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_header strong {
  font: bold 12px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* line 374 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_header {
  border-top: 1px solid #ccc;
  color: #464052;
  cursor: pointer;
}

/* line 379 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_header em {
  float: right;
  color: #999;
  font: italic 13px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 384 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.static-icons-sprite,
.header_block__footer a i,
.header_block__footer a i.play,
.caret_down,
.source-item.expanded .expand_arrow,
.expand_arrow,
.dropdown_arrow,
.arrow_down,
.scroll-icon {
  background: url("../images/static-icons.png") no-repeat scroll 0% 0% transparent;
}

/* line 388 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.arrow_down {
  display: inline-block;
  height: 10px;
  width: 8px;
  margin-left: 15px;
  background-position: 0px -212px;
}

/* line 396 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.expand_arrow,
.dropdown_arrow {
  display: block;
  float: right;
  height: 60px;
  width: 34px;
  margin-left: 15px;
  background-position: 0px -16px;
}

/* line 407 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */

/* line 411 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.single-source-item,
.source_body,
.source_coverage {
  font-size: 15px;
  line-height: 1.4;
  color: #666;
}

/* line 417 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_download,
.source_coverage_download {
  text-align: right;
  background: none repeat scroll 0% 0% #f0f5dc;
  border-top: 1px solid #ccc;
}

/* line 423 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_download a,
.source_coverage_download a {
  display: inline-block;
  margin: 20px;
  padding: 0px 15px;
  font: 14px/30px "fira_sans_otmedium";
  text-decoration: none;
  color: #fff !important;
  background: none repeat scroll 0% 0% #a5b81a;
  border-radius: 16px;
}

/* line 434 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_table {
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
}

/* line 438 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.sources_row {
  display: table;
  width: 100%;
  margin: 0px;
}

/* line 443 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.sources_row.even {
  background: none repeat scroll 0% 0% #f2f2f3;
}

/* line 446 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.sources_row dt {
  display: table-cell;
  width: 120px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

/* line 456 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.sources_row dd {
  display: table-cell;
  padding: 10px 10px 10px 15px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
}

/* line 464 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_dropdown {
  background: #eee;
  margin-bottom: 30px;
}

/* line 469 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_dropdown_header .overview_title {
  margin: 0;
  padding: 0 10px;
  line-height: 60px;
}

/* line 475 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_dropdown_body.active,
.source_dropdown_body.sinlge_active,
.source_dropdown_menu.active {
  display: block;
}

/* line 479 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_dropdown_body {
  padding: 0 10px 10px;
}

/* line 483 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_dropdown_menu,
.source_dropdown_body {
  display: none;
}

/* line 487 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_dropdown_menu ul {
  margin-left: 10px;
  padding-bottom: 10px;
}

/* line 492 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.overview_title,
.source_coverage_title {
  margin: 30px 0px 10px;
  font: 21px/1.1 "fira_sans_otmedium";
  color: #463f52;
}

/* line 498 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_header.last {
  border-bottom: 1px solid #ccc;
}

/* line 502 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source-item.expanded .source_header {
  color: #98bd17;
}

/* line 506 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source-item:hover .source_header,
.source-item.selected .source_header {
  color: #98bd17;
}

/* line 510 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.sans-serif,
html,
.btn,
.sources_row dt,
.sources_row dd,
.source_window .content,
.source_window .source_description,
.source_window .source_title,
.source_window .source_category_title,
.source_window .source_coverage_title,
.footer-address {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 514 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_body .hidden,
.source_coverage .hidden {
  display: none;
}

/* line 518 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_body .read_more,
.source_coverage .read_more {
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
}

/* line 524 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.single-source-item p,
.source_body p,
.source_coverage p {
  margin-bottom: 10px;
}

/* line 528 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.single-source-item p.credits,
.source_body p.credits,
.source_coverage p.credits {
  margin-bottom: 10px;
  font-size: 12px;
  color: #aaa;
}

/* line 534 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.single-source-item p.credits strong,
.source_body p.credits strong,
.source_coverage p.credits strong {
  display: block;
  font-weight: bold;
  color: #aaa;
}

/* line 540 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.single-source-item p.credits a,
.source_body p.credits a,
.source_coverage p.credits a {
  color: #aaa !important;
  text-decoration: underline;
}

/* line 545 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_body .bullets li,
.source_coverage .bullets li {
  margin: 0px 0px 10px 20px;
  padding: 0px 0px 0px 20px;
/*background: url('../images/bullet.png') no-repeat scroll 0px 8px transparent;*/
  text-align: center;
}

/* line 552 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.source_coverage_download .source_coverage_title {
  float: left;
}

/* line 556 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.contentPage a {
  text-decoration: none;
  color: #a1ba42;
}

/* line 560 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logoContainer {
/*border: 1px solid #000;*/
  overflow: hidden;
/*height: 300px;*/
  width: 100%;
}

/* line 566 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.aboutLogo {
  float: left;
  height: 100px;
  margin: 10px;
}

/* line 572 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.aboutLogo img {
  height: 100%;
  width: auto;
}

/* line 577 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo_list {
  margin: 30px auto 0;
  padding: 0;
  text-align: center;
}

/* line 583 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo_list li {
  display: inline-block;
  margin: 0 36px 38px 0;
  width: 110px;
  padding: 0;
}

/* line 590 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo_list li a,
.logo_list li span {
  display: inline-block;
  width: 110px;
  height: 80px;
}

/* line 596 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.center {
  text-align: center;
}

/* line 600 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.emailWRI {
  border: 1px solid #97bd3d;
  margin: 10px 0 0;
  color: #555 !important;
  background: #fff;
  border-color: #97bd3d;
  text-transform: uppercase;
  padding: 0px 35px;
  background: #e5e5df;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0px 12px;
  border-radius: 40px;
  font-size: 14px;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
  background-color: #fff;
  width: 100px;
}

/* line 628 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.emailWRI:hover {
  background: #f2f2f2;
}

/* line 632 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list {
  display: flex;
  flex-flow: row wrap;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  margin: 30px auto 0;
  text-align: center;
  list-style: none;
  padding: 0;
}

/* line 644 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list li {
  display: inline-block;
  margin: 25px 0 0;
  height: 60px;
  width: 200px;
  padding: 0;
}

/* line 652 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a {
  display: block;
  margin: 0 auto;
  width: 88px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 664 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/** CSS Copied From GFW **/

/* line 665 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/*
	NOTE: TODO:
	
	Anytime GFW updates their logos, we have to copy theirs since we dont have access to source images 
	only their sprite sheets.  Their css uses logo-ul which works on their site but on ours collides with
	their footer breaking everything.  A way around it is to change logo-ul to logo-list in here and in the
	html that you will copy.  This is the least painful process we have at the moment.
	
	Also, they use logo-list in their css as well but do the targeting on logo-ul, if they start doing there
	targeting on logo-list we will need a new class name for our logo list
*/

/* line 676 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logos-sprite,
.logo-list a.wri,
.logo-list a.wri:hover,
.logo-list a.google,
.logo-list a.google:hover,
.logo-list a.esri,
.logo-list a.esri:hover,
.logo-list a.universitymaryland,
.logo-list a.universitymaryland:hover,
.logo-list a.unep,
.logo-list a.unep:hover,
.logo-list a.imazon,
.logo-list a.imazon:hover,
.logo-list a.cfgd,
.logo-list a.cfgd:hover,
.logo-list a.osfac,
.logo-list a.osfac:hover,
.logo-list a.gfwca,
.logo-list a.gfwca:hover,
.logo-list a.scanex,
.logo-list a.scanex:hover,
.logo-list a.twrus,
.logo-list a.twrus:hover,
.logo-list a.norwegian,
.logo-list a.norwegian:hover,
.logo-list a.usaid,
.logo-list a.usaid:hover,
.logo-list a.gef,
.logo-list a.gef:hover,
.logo-list a.ukaid,
.logo-list a.ukaid:hover,
.logo-list a.tilia,
.logo-list a.tilia:hover,
.logo-list a.goodall,
.logo-list a.goodall:hover,
.logo-list a.cartodb,
.logo-list a.cartodb:hover,
.logo-list a.vizzuality,
.logo-list a.vizzuality:hover,
.logo-list a.blueraster,
.logo-list a.blueraster:hover,
.logo-list a.sida,
.logo-list a.sida:hover,
.logo-list a.danida,
.logo-list a.danida:hover,
.logo-list a.cgiar,
.logo-list a.cgiar:hover,
.logo-list a.dutchforeign,
.logo-list a.dutchforeign:hover,
.logo-list a.moore,
.logo-list a.moore:hover,
.logo-list a.bnpb,
.logo-list a.bnpb:hover,
.logo-list a.redd,
.logo-list a.redd:hover,
.logo-list a.digitalglobe,
.logo-list a.digitalglobe:hover,
.logo-list a.ciat,
.logo-list a.ciat:hover,
.logo-list a.ejn,
.logo-list a.ejn:hover,
.logo-list a.ioi,
.logo-list a.ioi:hover,
.logo-list a.osinfor,
.logo-list a.osinfor:hover,
.logo-list a.resolve,
.logo-list a.resolve:hover,
.logo-list a.rfuk,
.logo-list a.rfuk:hover,
.logo-list a.rm,
.logo-list a.rm:hover,
.logo-list a.unilever,
.logo-list a.unilever:hover,
.logo-list a.zsl,
.logo-list a.zsl:hover,
.logo-list a.clua,
.logo-list a.clua:hover,
.logo-list a.mongabay,
.logo-list a.mongabay:hover,
.logo-list a.muyissi,
.logo-list a.muyissi:hover,
.logo-list a.rspo,
.logo-list a.rspo:hover,
.logo-list a.unepwcmc,
.logo-list a.unepwcmc:hover,
.logo-list a.whrc,
.logo-list a.whrc:hover,
.logo-list a.ewmi,
.logo-list a.ewmi:hover,
.logo-list a.opendevcam,
.logo-list a.opendevcam:hover,
.logo-list a.inab,
.logo-list a.inab:hover,
.logo-list a.orbital,
.logo-list a.orbital:hover,
.logo-list a.bei,
.logo-list a.bei:hover,
.logo-list a.cambridge,
.logo-list a.cambridge:hover,
.logo-list a.afc,
.logo-list a.afc:hover,
.logo-list a.airbus,
.logo-list a.airbus:hover,
.logo-list a.ministiere,
.logo-list a.ministiere:hover,
.logo-list a.zeroextinction,
.logo-list a.zeroextinction:hover,
.logo-list a.bobolink,
.logo-list a.vizzuality-big,
.logo-list a.vizzuality-big:hover {
/** This needs to point to the new gfwSpriteSheet.png **/
  background: url("../images/gfwSpriteSheet.png") no-repeat;
}

/* line 790 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.wri {
  height: 32px;
  width: 95px;
  background-position: 0 -5066px;
}

/* line 795 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.wri:hover {
  background-position: 0 -2300px;
}

/* line 796 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.google {
  height: 29px;
  width: 85px;
  background-position: 0 -5779px;
}

/* line 801 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.google:hover {
  background-position: 0 -1251px;
}

/* line 802 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.esri {
  height: 33px;
  width: 87px;
  background-position: 0 -5033px;
}

/* line 807 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.esri:hover {
  background-position: 0 -2267px;
}

/* line 808 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.universitymaryland {
  height: 51px;
  width: 56px;
  background-position: 0 -4573px;
}

/* line 813 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.universitymaryland:hover {
  background-position: 0 -1400px;
}

/* line 814 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.unep {
  height: 57px;
  width: 49px;
  background-position: 0 -4277px;
}

/* line 819 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.unep:hover {
  background-position: 0 -1740px;
}

/* line 820 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.imazon {
  height: 24px;
  width: 79px;
  background-position: 0 -6005px;
}

/* line 825 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.imazon:hover {
  background-position: 0 -3545px;
}

/* line 826 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.cfgd {
  height: 40px;
  width: 84px;
  background-position: 0 -4349px;
}

/* line 831 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.cfgd:hover {
  background-position: 0 -1797px;
}

/* line 832 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.osfac {
  height: 56px;
  width: 44px;
  background-position: 0 -4835px;
}

/* line 837 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.osfac:hover {
  background-position: 0 -1837px;
}

/* line 838 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.gfwca {
  height: 44px;
  width: 42px;
  background-position: 0 -5564px;
}

/* line 843 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.gfwca:hover {
  background-position: 0 -3899px;
}

/* line 844 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.scanex {
  height: 20px;
  width: 110px;
  background-position: 0 -5648px;
}

/* line 849 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.scanex:hover {
  background-position: 0 -3268px;
}

/* line 850 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.twrus {
  height: 28px;
  width: 110px;
  background-position: 0 -5314px;
}

/* line 855 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.twrus:hover {
  background-position: 0 -3103px;
}

/* line 856 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.norwegian {
  height: 46px;
  width: 110px;
  background-position: 0 -4676px;
}

/* line 861 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.norwegian:hover {
  background-position: 0 -4231px;
}

/* line 862 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.usaid {
  height: 64px;
  width: 80px;
  background-position: 0 -3768px;
}

/* line 867 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.usaid:hover {
  background-position: 0 -1067px;
}

/* line 868 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.gef {
  height: 59px;
  width: 51px;
  background-position: 0 -4891px;
}

/* line 873 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.gef:hover {
  background-position: 0 -2076px;
}

/* line 874 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ukaid {
  height: 47px;
  width: 43px;
  background-position: 0 -5708px;
}

/* line 879 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ukaid:hover {
  background-position: 0 -4184px;
}

/* line 880 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.tilia {
  height: 25px;
  width: 67px;
  background-position: 0 -6251px;
}

/* line 885 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.tilia:hover {
  background-position: 0 -6226px;
}

/* line 886 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.goodall {
  height: 26px;
  width: 110px;
  background-position: 0 -6128px;
}

/* line 891 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.goodall:hover {
  background-position: 0 -5098px;
}

/* line 892 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.cartodb {
  height: 39px;
  width: 110px;
  background-position: 0 -4950px;
}

/* line 897 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.cartodb:hover {
  background-position: 0 -2560px;
}

/* line 898 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.vizzuality {
  height: 58px;
  width: 109px;
  background-position: 0 -3710px;
}

/* line 903 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.vizzuality:hover {
  background-position: 0 -1009px;
}

/* line 904 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.blueraster {
  height: 48px;
  width: 110px;
  background-position: 0 -4487px;
}

/* line 909 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.blueraster:hover {
  background-position: 0 -2885px;
}

/* line 910 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.sida {
  height: 55px;
  width: 110px;
  background-position: 0 -3410px;
}

/* line 915 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.sida:hover {
  background-position: 0 -2425px;
}

/* line 916 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.danida {
  height: 15px;
  width: 82px;
  background-position: 0 -5990px;
}

/* line 921 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.danida:hover {
  background-position: 0 -4334px;
}

/* line 922 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.cgiar {
  height: 43px;
  width: 124px;
  background-position: 0 -3502px;
}

/* line 927 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.cgiar:hover {
  background-position: 0 -1151px;
}

/* line 928 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.dutchforeign {
  height: 80px;
  width: 106px;
  background-position: 0 -5836px;
}

/* line 933 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.dutchforeign:hover {
  background-position: 0 -5234px;
}

/* line 934 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.moore {
  height: 37px;
  width: 96px;
  background-position: 0 -3862px;
}

/* line 939 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.moore:hover {
  background-position: 0 -1893px;
}

/* line 940 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.bnpb {
  height: 64px;
  width: 50px;
  background-position: 0 -5916px;
}

/* line 945 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.bnpb:hover {
  background-position: 0 -5170px;
}

/* line 946 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.redd {
  height: 62px;
  width: 95px;
  background-position: 0 -6164px;
}

/* line 951 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.redd:hover {
  background-position: 0 -5342px;
}

/* line 952 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.digitalglobe {
  height: 38px;
  width: 120px;
  background-position: 0 -4535px;
}

/* line 957 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.digitalglobe:hover {
  background-position: 0 -3639px;
}

/* line 958 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ciat {
  height: 57px;
  width: 120px;
  background-position: 0 -3131px;
}

/* line 963 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ciat:hover {
  background-position: 0 -1194px;
}

/* line 964 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ejn {
  height: 64px;
  width: 80px;
  background-position: 0 -4120px;
}

/* line 969 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ejn:hover {
  background-position: 0 -3039px;
}

/* line 970 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ioi {
  height: 10px;
  width: 110px;
  background-position: 0 -6154px;
}

/* line 975 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ioi:hover {
  background-position: 0 -5980px;
}

/* line 976 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.osinfor {
  height: 80px;
  width: 86px;
  background-position: 0 -3188px;
}

/* line 981 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.osinfor:hover {
  background-position: 0 -1531px;
}

/* line 982 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.resolve {
  height: 28px;
  width: 110px;
  background-position: 0 -5808px;
}

/* line 987 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.resolve:hover {
  background-position: 0 -4389px;
}

/* line 988 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.rfuk {
  height: 37px;
  width: 110px;
  background-position: 0 -3943px;
}

/* line 993 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.rfuk:hover {
  background-position: 0 -3465px;
}

/* line 994 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.rm {
  height: 66px;
  width: 110px;
  background-position: 0 -2010px;
}

/* line 999 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.rm:hover {
  background-position: 0 -1611px;
}

/* line 1000 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.unilever {
  height: 80px;
  width: 88px;
  background-position: 0 -2480px;
}

/* line 1005 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.unilever:hover {
  background-position: 0 -1930px;
}

/* line 1006 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.zsl {
  height: 73px;
  width: 110px;
  background-position: 0 -2812px;
}

/* line 1011 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.zsl:hover {
  background-position: 0 -2739px;
}

/* line 1012 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.clua {
  height: 26px;
  width: 110px;
  background-position: 0 -5144px;
}

/* line 1017 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.clua:hover {
  background-position: 0 -2399px;
}

/* line 1018 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.mongabay {
  height: 40px;
  width: 110px;
  background-position: 0 -5404px;
}

/* line 1023 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.mongabay:hover {
  background-position: 0 -5668px;
}

/* line 1024 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.muyissi {
  height: 80px;
  width: 80px;
  background-position: 0 -1451px;
}

/* line 1029 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.muyissi:hover {
  background-position: 0 -368px;
}

/* line 1030 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.rspo {
  height: 33px;
  width: 110px;
  background-position: 0 -4802px;
}

/* line 1035 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.rspo:hover {
  background-position: 0 -3677px;
}

/* line 1036 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.unepwcmc {
  height: 60px;
  width: 110px;
  background-position: 0 -2599px;
}

/* line 1041 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.unepwcmc:hover {
  background-position: 0 -515px;
}

/* line 1042 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.whrc {
  height: 80px;
  width: 87px;
  background-position: 0 -2659px;
}

/* line 1047 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.whrc:hover {
  background-position: 0 -627px;
}

/* line 1048 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ewmi {
  height: 40px;
  width: 126px;
  background-position: 0 -5608px;
}

/* line 1053 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ewmi:hover {
  background-position: 0 -5524px;
}

/* line 1054 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.opendevcam {
  height: 70px;
  width: 70px;
  background-position: 0 -4417px;
}

/* line 1059 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.opendevcam:hover {
  background-position: 0 -4050px;
}

/* line 1060 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.inab {
  height: 80px;
  width: 106px;
  background-position: 0 -2135px;
}

/* line 1065 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.inab:hover {
  background-position: 0 -231px;
}

/* line 1066 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.orbital {
  height: 70px;
  width: 101px;
  background-position: 0 -3569px;
}

/* line 1071 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.orbital:hover {
  background-position: 0 -2933px;
}

/* line 1072 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.bei {
  height: 63px;
  width: 130px;
  background-position: 0 -1677px;
}

/* line 1077 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.bei:hover {
  background-position: 0 -1280px;
}

/* line 1078 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.cambridge {
  height: 52px;
  width: 130px;
  background-position: 0 -2215px;
}

/* line 1083 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.cambridge:hover {
  background-position: 0 -575px;
}

/* line 1084 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.afc {
  height: 69px;
  width: 80px;
  background-position: 0 -3341px;
}

/* line 1089 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.afc:hover {
  background-position: 0 -836px;
}

/* line 1090 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.airbus {
  height: 30px;
  width: 130px;
  background-position: 0 -3832px;
}

/* line 1095 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.airbus:hover {
  background-position: 0 -806px;
}

/* line 1096 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ministiere {
  height: 67px;
  width: 70px;
  background-position: 0 -2332px;
}

/* line 1101 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.ministiere:hover {
  background-position: 0 -448px;
}

/* line 1102 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.zeroextinction {
  height: 20px;
  width: 120px;
  background-position: 0 -5124px;
}

/* line 1107 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.zeroextinction:hover {
  background-position: 0 -1131px;
}

/* line 1108 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.bobolink {
  height: 53px;
  width: 105px;
  background-position: 0 -3288px;
}

/* line 1113 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.vizzuality-big {
  height: 58px;
  width: 109px;
  background-position: 0 -3710px;
}

/* line 1118 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.logo-list a.vizzuality-big:hover {
  background-position: 0 -1009px;
}

/* line 1119 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
/** CSS Copied From GFW **/

/* line 1121 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/contentPages.styl */
.coming-soon {
  padding: 20px;
}
