
.dataView {
  background-color: #fff;
}
.content-header {
  height: 200px;
  width: 100%;
  background: url("../images/header_block.jpg");
  margin: 40px 0 40px 0;
}
.content-header h1 {
	font-weight: normal;
	position: relative;
	color: white;
	left: 30px;
	top: 30px;
}
.content-header h4 {
	font-weight: normal;
	position: relative;
	margin: 0 30px;
	color: #CCC;
	top: 20px;
}

/* CSS Document */
/* header view */

.contentHeaderBottomView{
	height: 212px !important;
}

.contentPageHeaderView{
	box-shadow: none !important;
	border-bottom: 0px solid rgb(255,255,255) !important;
}


/* header view end */


/*Accordion Stuff*/

.contentPage .ac-container {
	margin:0 auto;
	width:600px;
}

.ac-container label{	
	padding: 0px;
	position: relative;
	z-index: 20;
	display: block;
	height: 60px;
	cursor: pointer;
	color: #777;	
	line-height: 33px;
	font-size: 19px;			
    color: #464052;
    cursor: pointer;	
	margin-bottom: 0px;
}
.ac-container label:hover{	
	color: #98BD17;
}

.ac-container input:checked + .source_header label{	
	color: #98BD17;
}

.ac-container .expand_arrow {
	margin-top:-60px;
}

.ac-container .source_description {
	margin-top:-60px;
	margin-right: 50px;
}

.ac-container .source_summary, .source_summary, .source_body {	
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.source_header label {
    font: bold 12px/60px "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}


.ac-container label:hover{
	/*background: #fff;*/
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{		
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	/*background: transparent url(../images/arrow_down.png) no-repeat center center;	*/
}

.ac-container input:checked + .source_header .expand_arrow{	
	background-position: 0px -76px;
}

.ac-container input:checked + label:hover:after{
	/*background-image: url(../images/arrow_up.png);*/
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
}


.ac-container input:checked ~ article{

}
.ac-container input:checked ~ article.ac-auto{
	height: auto;
}



.contentPage #accordion {
	margin:0 auto;	
	width:600px;
}

.contentPage ul {
	margin:0;
	padding:0;
	}

.contentPage ul li {
	list-style:none;	
	margin-bottom: 0px;
	/*background-color:#34495e;*/
	}
	
.contentPage ul li h2 {
	margin:0;
	padding:10px;
	font-size:18px;
	/*font-family:Arial, Helvetica, sans-serif;*/
	color:#ecf0f1;
	border-bottom:1px #efefef solid;
	}	
	
li.dg-image-item.selected {
    border: solid 1px #0ff;
    max-width: 190px;
}

li.dg-image-item:hover {
    border: solid 1px yellow;
    max-width: 190px;
}


.contentPage ul li a {
	text-decoration:none;
	color: #97bd3d;
	}	
	
.contentPage ul li .content {
    height: 0;
	overflow:hidden;
	}	
	
.contentPage ul li .content:target {
    height:auto;
	border-bottom:1px #efefef solid;
	}
	
.source_description_data
	text-transform initial
	margin-right 50px
  
.metadataTitleData
  // display block
	
	
/*.contentPage ul li .content p {
	padding:10px;
	color:#ecf0f1;
	}		*/		

	/*Accordion Stuff End*/


/* from calums css */


.contentPage {
	zoom:1;
}

.dataContentSize, .aboutContentSize, .methodsContentSize, .storyContentSize
.contentPage{
	height: 100%;
	/*min-height: 1500px;
	height: auto !important;*/
}

.content-container{
	margin: 0px 0px 40px 0px;
}

.contentPage .content-inner-container{
	width:960px;
	margin: 0 auto;
	padding: 0 10px;
}

.contentPage .header-container{
	margin: 60px 0 40px;
	height: auto;
	font-weight: 400;
	background: url(images/header_block-8287b2677353772b13b9e784b627e9ae.jpg);
}
.contentPage .header-block-title h1, .contentPage .header-block-desc p{
	color: rgb(255,255,255);
}

.contentPage .header-block-title h1{
	padding: 40px 50px 0 50px;
	font-family: 'fira_sans_otlight';
	font-size: 47px;
	line-height: 47px;
	font-weight: 600;

}

.contentPage .header-block-desc p{
	padding: 0px 50px 40px 50px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-weight: 400;
	color:rgba(255, 255, 255, 0.7);
}

.contentPage #headerBlockFooter {
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	height: 98px;
	list-style: none;
	position: relative;
	bottom:0px;
}

.contentPage #headerBlockFooter li{
	float:left;
	height:100%;
	width:33%;
	border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.contentPage #headerBlockFooter li a{
	display: block;
	width: 212px;
	border: 3px solid rgba(255, 255, 255, 0.25);
	margin: 28px auto;
	padding-left: 20px;
	font-size: 14px;
	line-height: 38px;
	font-family: 'fira_sans_otmedium';
	color: rgba(255, 255, 255, 0.65);
	text-transform: uppercase;
	text-decoration: none;
	-o-border-radius: 22px;
	border-radius: 22px;
	font-weight: 400;
}

.contentPage #headerBlockFooter li a:hover{
	color:rgb(255,255,255, 1);
	border: 3px solid rgba(255, 255, 255, .5);
	cursor:pointer;
}

.contentPage #headerBlockFooter li a i{
	float: right;
	display: block;
	height: 38px;
	width: 38px;
	background: url('../images/static-icons.png') no-repeat;
	background-position: 0 -174px;
}

.contentPage .navigation_left {
	float: left;
	width: 313px;
}

.contentPage .navigation_left ul{
	list-style: none;
	margin:0 0;
}

.contentPage .navigation_left a {
	display: block;
	line-height: 56px;
	padding-left: 45px;
	border-bottom: 1px solid rgb(204, 204, 204);
	cursor:pointer;
	font-size: 14px;
	font-weight: 400;
	font-family: "fira_sans_otmedium";
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(70, 64, 82);
	background: rgb(242, 242, 243);
}

.contentPage .navigation_left li{ 
	margin-bottom: 0px; 
}

.contentPage .navigation_left a:hover{
	background:#e5e5e7
}

.contentPage .navigation_left a.selected{
	background:#fff;
	position: relative;
	width: 269px;
	color: rgb(153, 153, 153);
}

.contentPage .item-title {
	border-bottom: 1px solid rgb(204, 204, 204);
	line-height: 55px;
	padding-left: 45px;
	background: rgb(242, 242, 243);
}

.contentPage .item-title i{
	display: inline-block;
	height: 10px;
	width: 8px;
	background: url('../images/static-icons.png') no-repeat;
	background-position: 0 -222px;
}

.contentPage .content_right {
	float: left;
	width: 600px;
	border-left: 1px solid rgb(204, 204, 204);
	padding: 10px 20px 10px 20px;
	min-height: 648px;
	background: rgb(255, 255, 255);
}


/* from calums css end */


	/* From GFW - for Templates */
.source_category_title {
    margin-bottom: 10px;
    font-size: 37px;
    font-family: "fira_sans_otregular";
    color: #464052;
}
.source_category_description {
    font: 13px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999;
}

.source_header strong {
    font: bold 12px/60px "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.source_header {
    border-top: 1px solid #CCC;
    color: #464052;
    cursor: pointer;
}
.source_header em {
    float: right;
    color: #999;
    font: italic 13px/60px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.static-icons-sprite, .header_block__footer a i, .header_block__footer a i.play, .caret_down, .source-item.expanded .expand_arrow, .expand_arrow, .dropdown_arrow, .arrow_down, .scroll-icon {    
    background: url('../images/static-icons.png')  no-repeat scroll 0% 0% transparent;
}

.arrow_down {
    display: inline-block;
    height: 10px;
    width: 8px;
    margin-left: 15px;
    background-position: 0px -212px;
}

.expand_arrow, .dropdown_arrow {
    display: block;
    float: right;
    height: 60px;
    width: 34px;
    margin-left: 15px;
    background-position: 0px -16px;
}



.source_body, .source_coverage_header, .source_coverage {
    /*display: none;*/
}

.single-source-item, .source_body, .source_coverage {
    font-size: 15px;
    line-height: 1.4;
    color: #666;
}

.source_download, .source_coverage_download {
    text-align: right;
    background: none repeat scroll 0% 0% #F0F5DC;
    border-top: 1px solid #CCC;
}

.source_download a, .source_coverage_download a {
    display: inline-block;
    margin: 20px;
    padding: 0px 15px;
    font: 14px/30px "fira_sans_otmedium";
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #A5B81A;
    border-radius: 16px;
}

.source_table {
    border-top: 1px solid #CCC;
    margin-bottom: 30px;
}
.sources_row {
    display: table;
    width: 100%;
    margin:0px;
}
.sources_row.even {
    background: none repeat scroll 0% 0% #F2F2F3;
}
.sources_row dt {
    display: table-cell;
    width: 120px;
    padding: 10px;
    border-bottom: 1px solid #CCC;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}

.sources_row dd {
    display: table-cell;
    padding: 10px 10px 10px 15px;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-size: 13px;
}

.source_dropdown {
	background: #EEE;
	margin-bottom: 30px;
}

.source_dropdown_header .overview_title {
	margin: 0;
	padding: 0 10px;
	line-height: 60px;
}

.source_dropdown_body.active, .source_dropdown_body.sinlge_active, .source_dropdown_menu.active {
	display: block;
}

.source_dropdown_body {
	padding: 0 10px 10px;
}

.source_dropdown_menu, .source_dropdown_body {
	display: none;
}

.source_dropdown_menu ul {
	margin-left: 10px;
	padding-bottom: 10px;
}

.overview_title, .source_coverage_title {
    margin: 30px 0px 10px;
    font: 21px/1.1 "fira_sans_otmedium";
    color: #463F52;
}

.source_header.last{
	border-bottom: 1px solid #ccc;
}

.source-item.expanded .source_header {
    color: #98BD17;
}

.source-item:hover .source_header, .source-item.selected .source_header {
    color: #98BD17;
}

.sans-serif, html, .btn, .sources_row dt, .sources_row dd, .source_window .content, .source_window .source_description, .source_window .source_title, .source_window .source_category_title, .source_window .source_coverage_title, .footer-address {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.source_body .hidden, .source_coverage .hidden {
    display: none;
}

.source_body .read_more, .source_coverage .read_more {
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
}

.single-source-item p, .source_body p, .source_coverage p {
    margin-bottom: 10px;
}

.single-source-item p.credits, .source_body p.credits, .source_coverage p.credits {
    margin-bottom: 10px;
    font-size: 12px;
    color: #AAA;
}

.single-source-item p.credits strong, .source_body p.credits strong, .source_coverage p.credits strong {
    display: block;
    font-weight: bold;
    color: #AAA;
}

.single-source-item p.credits a, .source_body p.credits a, .source_coverage p.credits a {
    color: #AAA !important;
    text-decoration: underline;
}

.source_body .bullets li, .source_coverage .bullets li {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    /*background: url('../images/bullet.png') no-repeat scroll 0px 8px transparent;*/
    text-align: center;
}

.source_coverage_download .source_coverage_title {
    float: left;
}

.contentPage a{
	text-decoration: none;
	// color: #A1BA42;
	color: black;
}
.logoContainer{
	/*border: 1px solid #000;*/
	overflow: hidden;
	/*height: 300px;*/
	width: 100%;
}
.aboutLogo{
	float:left;
	height:100px;

	margin: 10px;
}
.aboutLogo img{
	height:100%;
	width:auto;
}

.logo_list {
	margin: 30px auto 0;
	padding: 0;
	text-align: center;
}

.logo_list li {
	display: inline-block;
	margin: 0 36px 38px 0;
	width: 110px;
	padding: 0;
}

.logo_list li a, .logo_list li span{
display: inline-block;
width: 110px;
height: 80px;
}

.center {
	text-align: center;
}

#endPartners {
	margin-top: 50px;
}

#storyBasemaps
	max-width 150px
	// width 200px
		
#basemapGallery
	width 150px

.esriSimpleSlider
	border none !important

.tundra .dijitTitlePaneTitle
	padding 8px !important
	padding-top 9px !important
	background white !important
	border none !important

.esriSimpleSliderTL
	top 10px !important
	left 10px !important
	-webkit-border-radius 0 !important
	border-radius 0 !important

.simpleGeocoder .esriGeocoder
	-webkit-border-radius 0 !important
	border-radius 0 !important

.simpleGeocoder, .simpleGeocoder .esriGeocoderContainer
	box-shadow none !important
	-webkit-border-radius 0 !important
	border-radius 0 !important

#esri-geocoder-widget-story .simpleGeocoder .esriGeocoder
	-webkit-border-radius 0 !important
	border-radius 0 !important
	box-shadow none

.emailWRI {
	border: 1px solid #97bd3d;
	margin: 10px 0 0;
	color: #555555 !important;
	background: white;
	border-color: #97bd3d;
	text-transform: uppercase;
	padding: 0px 35px;
	background: #e5e5df;
	position: relative;
	display: inline-block;
	z-index: 1;
	padding: 0px 12px;
	border-radius: 40px;
	font-size: 14px;
	text-decoration: none;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: 500;
	white-space: nowrap;
	-webkit-transition: background 0.15s linear;
	-moz-transition: background 0.15s linear;
	-o-transition: background 0.15s linear;
	transition: background 0.15s linear;
	background-color: white;
	width: 100px;
}
.emailWRI:hover {
background: #f2f2f2;
}

.logo-list {
	display: flex;
	flex-flow: row wrap;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
	margin: 30px auto 0;
	text-align: center;
	list-style: none
	padding: 0;
}

.logo-list li {
	display: inline-block;
	margin: 25px 0 0;
	height: 60px;
	width: 200px;
	padding: 0;
}

.logo-list a {
    display: block;
    margin: 0 auto;
    width: 88px;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
/** CSS Copied From GFW **/
/*
	NOTE: TODO:
	
	Anytime GFW updates their logos, we have to copy theirs since we dont have access to source images 
	only their sprite sheets.  Their css uses logo-ul which works on their site but on ours collides with
	their footer breaking everything.  A way around it is to change logo-ul to logo-list in here and in the
	html that you will copy.  This is the least painful process we have at the moment.
	
	Also, they use logo-list in their css as well but do the targeting on logo-ul, if they start doing there
	targeting on logo-list we will need a new class name for our logo list
*/
.logos-sprite,
.logo-list a.wri,
.logo-list a.wri:hover,
.logo-list a.google,
.logo-list a.google:hover,
.logo-list a.esri,
.logo-list a.esri:hover,
.logo-list a.universitymaryland,
.logo-list a.universitymaryland:hover,
.logo-list a.unep,
.logo-list a.unep:hover,
.logo-list a.imazon,
.logo-list a.imazon:hover,
.logo-list a.cfgd,
.logo-list a.cfgd:hover,
.logo-list a.osfac,
.logo-list a.osfac:hover,
.logo-list a.gfwca,
.logo-list a.gfwca:hover,
.logo-list a.scanex,
.logo-list a.scanex:hover,
.logo-list a.twrus,
.logo-list a.twrus:hover,
.logo-list a.norwegian,
.logo-list a.norwegian:hover,
.logo-list a.usaid,
.logo-list a.usaid:hover,
.logo-list a.gef,
.logo-list a.gef:hover,
.logo-list a.ukaid,
.logo-list a.ukaid:hover,
.logo-list a.tilia,
.logo-list a.tilia:hover,
.logo-list a.goodall,
.logo-list a.goodall:hover,
.logo-list a.cartodb,
.logo-list a.cartodb:hover,
.logo-list a.vizzuality,
.logo-list a.vizzuality:hover,
.logo-list a.blueraster,
.logo-list a.blueraster:hover,
.logo-list a.sida,
.logo-list a.sida:hover,
.logo-list a.danida,
.logo-list a.danida:hover,
.logo-list a.cgiar,
.logo-list a.cgiar:hover,
.logo-list a.dutchforeign,
.logo-list a.dutchforeign:hover,
.logo-list a.moore,
.logo-list a.moore:hover,
.logo-list a.bnpb,
.logo-list a.bnpb:hover,
.logo-list a.redd,
.logo-list a.redd:hover,
.logo-list a.digitalglobe,
.logo-list a.digitalglobe:hover,
.logo-list a.ciat,
.logo-list a.ciat:hover,
.logo-list a.ejn,
.logo-list a.ejn:hover,
.logo-list a.ioi,
.logo-list a.ioi:hover,
.logo-list a.osinfor,
.logo-list a.osinfor:hover,
.logo-list a.resolve,
.logo-list a.resolve:hover,
.logo-list a.rfuk,
.logo-list a.rfuk:hover,
.logo-list a.rm,
.logo-list a.rm:hover,
.logo-list a.unilever,
.logo-list a.unilever:hover,
.logo-list a.zsl,
.logo-list a.zsl:hover,
.logo-list a.clua,
.logo-list a.clua:hover,
.logo-list a.mongabay,
.logo-list a.mongabay:hover,
.logo-list a.muyissi,
.logo-list a.muyissi:hover,
.logo-list a.rspo,
.logo-list a.rspo:hover,
.logo-list a.unepwcmc,
.logo-list a.unepwcmc:hover,
.logo-list a.whrc,
.logo-list a.whrc:hover,
.logo-list a.ewmi,
.logo-list a.ewmi:hover,
.logo-list a.opendevcam,
.logo-list a.opendevcam:hover,
.logo-list a.inab,
.logo-list a.inab:hover,
.logo-list a.orbital,
.logo-list a.orbital:hover,
.logo-list a.bei,
.logo-list a.bei:hover,
.logo-list a.cambridge,
.logo-list a.cambridge:hover,
.logo-list a.afc,
.logo-list a.afc:hover,
.logo-list a.airbus,
.logo-list a.airbus:hover,
.logo-list a.ministiere,
.logo-list a.ministiere:hover,
.logo-list a.zeroextinction,
.logo-list a.zeroextinction:hover,
.logo-list a.bobolink,
.logo-list a.vizzuality-big,
.logo-list a.vizzuality-big:hover {
	/** This needs to point to the new gfwSpriteSheet.png **/
	background: url(../images/gfwSpriteSheet.png) no-repeat;
}

.logo-list a.raisg, .logo-list a.raisg:hover, .logo-list a.bobo, .logo-list a.bobo:hover, .logo-list a.neth, .logo-list a.neth:hover, .logo-list a.tilia, .logo-list a.tilia:hover {
	/** This needs to point to the new gfwSpriteSheet.png **/
	background: url(../images/gfwSpriteSheetUpdated.png) no-repeat;
}

.logo-list a.bobo {
    height: 53px;
    width: 105px;
    background-position: 0 -3438px;
}
.logo-list a.bobo:hover { background-position: 0 -3438px }

.logo-list a.neth {
    height: 80px;
    width: 106px;
    background-position: 0 -5986px;
}
.logo-list a.neth:hover { background-position: 0 -5384px }

.logo-list a.tilia {
    height: 25px;
    width: 67px;
    background-position: 0 -6401px;
}
.logo-list a.tilia:hover { background-position: 0 -6376px }




.logo-list a.raisg {
	margin-top: 10px;
    height: 75px;
    width: 95px;
    background-position: 10px -2674px;
}
.logo-list a.raisg:hover { background-position: 10px -627px }

.logo-list a.wri {
    height: 32px;
    width: 95px;
    background-position: 0 -5066px;
}
.logo-list a.wri:hover { background-position: 0 -2300px }
.logo-list a.google {
    height: 29px;
    width: 85px;
    background-position: 0 -5779px;
}
.logo-list a.google:hover { background-position: 0 -1251px }
.logo-list a.esri {
    height: 33px;
    width: 87px;
    background-position: 0 -5033px;
}
.logo-list a.esri:hover { background-position: 0 -2267px }
.logo-list a.universitymaryland {
    height: 51px;
    width: 56px;
    background-position: 0 -4573px;
}
.logo-list a.universitymaryland:hover { background-position: 0 -1400px }
.logo-list a.unep {
    height: 57px;
    width: 49px;
    background-position: 0 -4277px;
}
.logo-list a.unep:hover { background-position: 0 -1740px }
.logo-list a.imazon {
    height: 24px;
    width: 79px;
    background-position: 0 -6005px;
}
.logo-list a.imazon:hover { background-position: 0 -3545px }
.logo-list a.cfgd {
    height: 40px;
    width: 84px;
    background-position: 0 -4349px;
}
.logo-list a.cfgd:hover { background-position: 0 -1797px }
.logo-list a.osfac {
    height: 56px;
    width: 44px;
    background-position: 0 -4835px;
}
.logo-list a.osfac:hover { background-position: 0 -1837px }
.logo-list a.gfwca {
    height: 44px;
    width: 42px;
    background-position: 0 -5564px;
}
.logo-list a.gfwca:hover { background-position: 0 -3899px }
.logo-list a.scanex {
    height: 20px;
    width: 110px;
    background-position: 0 -5648px;
}
.logo-list a.scanex:hover { background-position: 0 -3268px }
.logo-list a.twrus {
    height: 28px;
    width: 110px;
    background-position: 0 -5314px;
}
.logo-list a.twrus:hover { background-position: 0 -3103px }
.logo-list a.norwegian {
    height: 46px;
    width: 110px;
    background-position: 0 -4676px;
}
.logo-list a.norwegian:hover { background-position: 0 -4231px }
.logo-list a.usaid {
    height: 64px;
    width: 80px;
    background-position: 0 -3768px;
}
.logo-list a.usaid:hover { background-position: 0 -1067px }
.logo-list a.gef {
    height: 59px;
    width: 51px;
    background-position: 0 -4891px;
}
.logo-list a.gef:hover { background-position: 0 -2076px }
.logo-list a.ukaid {
    height: 47px;
    width: 43px;
    background-position: 0 -5708px;
}
.logo-list a.ukaid:hover { background-position: 0 -4184px }
// .logo-list a.tilia {
//     height: 25px;
//     width: 67px;
//     background-position: 0 -6251px;
// }
// .logo-list a.tilia:hover { background-position: 0 -6226px }
.logo-list a.goodall {
    height: 26px;
    width: 110px;
    background-position: 0 -6128px;
}
.logo-list a.goodall:hover { background-position: 0 -5098px }
.logo-list a.cartodb {
    height: 39px;
    width: 110px;
    background-position: 0 -4950px;
}
.logo-list a.cartodb:hover { background-position: 0 -2560px }
.logo-list a.vizzuality {
    height: 58px;
    width: 109px;
    background-position: 0 -3710px;
}
.logo-list a.vizzuality:hover { background-position: 0 -1009px }
.logo-list a.blueraster {
    height: 48px;
    width: 110px;
    background-position: 0 -4487px;
}
.logo-list a.blueraster:hover { background-position: 0 -2885px }
.logo-list a.sida {
    height: 55px;
    width: 110px;
    background-position: 0 -3410px;
}
.logo-list a.sida:hover { background-position: 0 -2425px }
.logo-list a.danida {
    height: 15px;
    width: 82px;
    background-position: 0 -5990px;
}
.logo-list a.danida:hover { background-position: 0 -4334px }
.logo-list a.cgiar {
    height: 43px;
    width: 124px;
    background-position: 0 -3502px;
}
.logo-list a.cgiar:hover { background-position: 0 -1151px }
.logo-list a.dutchforeign {
    height: 80px;
    width: 106px;
    background-position: 0 -5836px;
}
.logo-list a.dutchforeign:hover { background-position: 0 -5234px }
.logo-list a.moore {
    height: 37px;
    width: 96px;
    background-position: 0 -3862px;
}
.logo-list a.moore:hover { background-position: 0 -1893px }
.logo-list a.bnpb {
    height: 64px;
    width: 50px;
    background-position: 0 -5916px;
}
.logo-list a.bnpb:hover { background-position: 0 -5170px }
.logo-list a.redd {
    height: 62px;
    width: 95px;
    background-position: 0 -6164px;
}
.logo-list a.redd:hover { background-position: 0 -5342px }
.logo-list a.digitalglobe {
    height: 38px;
    width: 120px;
    background-position: 0 -4535px;
}
.logo-list a.digitalglobe:hover { background-position: 0 -3639px }
.logo-list a.ciat {
    height: 57px;
    width: 120px;
    background-position: 0 -3131px;
}
.logo-list a.ciat:hover { background-position: 0 -1194px }
.logo-list a.ejn {
    height: 64px;
    width: 80px;
    background-position: 0 -4120px;
}
.logo-list a.ejn:hover { background-position: 0 -3039px }
.logo-list a.ioi {
    height: 10px;
    width: 110px;
    background-position: 0 -6154px;
}
.logo-list a.ioi:hover { background-position: 0 -5980px }
.logo-list a.osinfor {
    height: 80px;
    width: 86px;
    background-position: 0 -3188px;
}
.logo-list a.osinfor:hover { background-position: 0 -1531px }
.logo-list a.resolve {
    height: 28px;
    width: 110px;
    background-position: 0 -5808px;
}
.logo-list a.resolve:hover { background-position: 0 -4389px }
.logo-list a.rfuk {
    height: 37px;
    width: 110px;
    background-position: 0 -3943px;
}
.logo-list a.rfuk:hover { background-position: 0 -3465px }
.logo-list a.rm {
    height: 66px;
    width: 110px;
    background-position: 0 -2010px;
}
.logo-list a.rm:hover { background-position: 0 -1611px }
.logo-list a.unilever {
    height: 80px;
    width: 88px;
    background-position: 0 -2480px;
}
.logo-list a.unilever:hover { background-position: 0 -1930px }
.logo-list a.zsl {
    height: 73px;
    width: 110px;
    background-position: 0 -2812px;
}
.logo-list a.zsl:hover { background-position: 0 -2739px }
.logo-list a.clua {
    height: 26px;
    width: 110px;
    background-position: 0 -5144px;
}
.logo-list a.clua:hover { background-position: 0 -2399px }
.logo-list a.mongabay {
    height: 40px;
    width: 110px;
    background-position: 0 -5404px;
}
.logo-list a.mongabay:hover { background-position: 0 -5668px }
.logo-list a.muyissi {
    height: 80px;
    width: 80px;
    background-position: 0 -1451px;
}
.logo-list a.muyissi:hover { background-position: 0 -368px }
.logo-list a.rspo {
    height: 33px;
    width: 110px;
    background-position: 0 -4802px;
}
.logo-list a.rspo:hover { background-position: 0 -3677px }
.logo-list a.unepwcmc {
    height: 60px;
    width: 110px;
    background-position: 0 -2599px;
}
.logo-list a.unepwcmc:hover { background-position: 0 -515px }
.logo-list a.whrc {
    height: 80px;
    width: 87px;
    background-position: 0 -2659px;
}
.logo-list a.whrc:hover { background-position: 0 -627px }
.logo-list a.ewmi {
    height: 40px;
    width: 126px;
    background-position: 0 -5608px;
}
.logo-list a.ewmi:hover { background-position: 0 -5524px }
.logo-list a.opendevcam {
    height: 70px;
    width: 70px;
    background-position: 0 -4417px;
}
.logo-list a.opendevcam:hover { background-position: 0 -4050px }
.logo-list a.inab {
    height: 80px;
    width: 106px;
    background-position: 0 -2135px;
}
.logo-list a.inab:hover { background-position: 0 -231px }
.logo-list a.orbital {
    height: 70px;
    width: 101px;
    background-position: 0 -3569px;
}
.logo-list a.orbital:hover { background-position: 0 -2933px }
.logo-list a.bei {
    height: 63px;
    width: 130px;
    background-position: 0 -1677px;
}
.logo-list a.bei:hover { background-position: 0 -1280px }
.logo-list a.cambridge {
    height: 52px;
    width: 130px;
    background-position: 0 -2215px;
}
.logo-list a.cambridge:hover { background-position: 0 -575px }
.logo-list a.afc {
    height: 69px;
    width: 80px;
    background-position: 0 -3341px;
}
.logo-list a.afc:hover { background-position: 0 -836px }
.logo-list a.airbus {
    height: 30px;
    width: 130px;
    background-position: 0 -3832px;
}
.logo-list a.airbus:hover { background-position: 0 -806px }
.logo-list a.ministiere {
    height: 67px;
    width: 70px;
    background-position: 0 -2332px;
}
.logo-list a.ministiere:hover { background-position: 0 -448px }
.logo-list a.zeroextinction {
    height: 20px;
    width: 120px;
    background-position: 0 -5124px;
}
.logo-list a.zeroextinction:hover { background-position: 0 -1131px }
.logo-list a.bobolink {
    height: 53px;
    width: 105px;
    background-position: 0 -3288px;
}
.logo-list a.vizzuality-big {
    height: 58px;
    width: 109px;
    background-position: 0 -3710px;
}
.logo-list a.vizzuality-big:hover { background-position: 0 -1009px }
/** CSS Copied From GFW **/

.coming-soon{
	padding: 20px;
}