
/* line 286 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 4 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerModes {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* line 9 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerWrapper .footerItem {
  width: 33.33%;
  float: left;
  height: 100%;
}

/* line 14 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerWrapper .footerItem .desc {
  height: 35px;
}

/* line 17 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerWrapper .receiveAlerts,
.footerWrapper .analysisAlerts,
.footerWrapper .submitStory {
  width: 100%;
  height: 100%;
}

/* line 21 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerWrapper .analysisAlerts .icon {
  background-image: url("../images/home-icons.png");
  background-position: 0px -400px;
  background-repeat: no-repeat;
  height: 92px;
  margin: 20px auto;
  width: 150px;
}

/* line 30 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerWrapper .submitStory .icon {
  background-image: url("../images/home-icons.png");
  background-position: 0px -540px;
  background-repeat: no-repeat;
  height: 92px;
  margin: 20px auto;
  width: 134px;
}

/* line 38 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerWrapper .receiveAlerts .icon {
  background-image: url("../images/home-icons.png");
  background-position: 0px -740px;
  background-repeat: no-repeat;
  height: 92px;
  margin: 20px auto;
  width: 122px;
}

/* line 46 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerModes .title {
  font-size: 29px;
  font-family: "Georgia", serif;
  margin: 0px 0px 20px;
}

/* line 52 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerModes .desc {
  font-size: 15px;
  line-height: 1.2;
  color: #666;
  margin: 0px 0px 20px;
}

/* line 58 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerModes .action {
  text-transform: uppercase;
  background: none repeat scroll 0% 0% #9bb251;
  padding: 14px 34px;
  border-radius: 2px;
  border: 1px solid #839c26;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

/* line 70 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerModesContainer {
  width: 100%;
  height: 300px;
  background-color: #222;
}

/* line 75 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerShareContainer {
  width: 100%;
  height: 350px;
}

/* line 80 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerWrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
  color: #fff;
  height: 100%;
}

/* line 87 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableWrapper {
  width: 100%;
  height: 350px;
  background-color: #464352;
  color: #fff;
  clear: both;
  bottom: 0;
}

/* line 95 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.fb-share-button {
  bottom: 3px;
  left: 10px;
}

/* line 99 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.alert-dialog-box .submit-button {
  text-align: center;
  margin: 10px 0;
}

/* line 103 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.alert-dialog-box .submit-button button {
  border-radius: 5px;
  font-size: 12px;
}

/* line 107 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes {
  height: 350px;
  max-width: 960px;
  width: 100%;
  margin: auto;
  background-color: #464352;
}

/* line 114 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes a {
  color: #fff;
  font-size: 12px;
}

/* line 119 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .container-large {
  width: 365px;
  height: 100%;
  padding: 0px;
  float: left;
}

/* line 125 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .container-large>div {
  padding: 10px;
}

/* line 128 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .container-small {
  width: 200px;
  height: 100%;
  padding: 0px;
  float: left;
}

/* line 134 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .container-small>div {
  padding: 10px;
}

/* line 138 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .about-project {
  color: #b1afb6;
  font-size: 12px;
}

/* line 142 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .title {
  font-weight: bold;
}

/* line 145 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .wri-address {
  color: #b1afb6;
  font-size: 12px;
}

/* line 149 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .wri-address .title {
  font-weight: bold;
}

/* line 152 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .wri-address .wri-logo {
  font-weight: bold;
  background: url("../images/wri.png") no-repeat scroll 0% 0% transparent;
  height: 31px;
  width: 269px;
  display: block;
  margin: 10px 0px;
}

/* line 162 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .share {
  color: #fff;
}

/* line 165 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .share .title {
  font-family: fira_sans_otmedium;
  font-weight: 200;
}

/* line 169 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .share-container {
  padding: 10px 20px;
  border-radius: 160px;
  background-color: #fff;
  margin: 10px 0px;
}

/* line 176 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .sign-up {
  margin: 10px 0px;
}

/* line 179 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .subscribe {
  margin: 0px 5px;
}

/* line 183 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .gfw-logo {
  background: url("../images/monochromatic_gfw.jpg") no-repeat scroll 0% 0% transparent;
  text-align: center;
  height: 71px;
  display: block;
  width: 122px;
  margin: 10px;
}

/* line 191 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .footer-logo {
  background: url("../images/logos-from-gfw.png") no-repeat scroll 0% 0% transparent;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 38px 38px 0px;
  width: 88px;
}

/* line 198 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .footer-logo.digital-globe {
  background: url("../images/dg-globe.png") no-repeat scroll 0% 0% transparent;
  background-position: 0px 0px;
  height: 28px;
}

/* line 203 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .footer-logo.esri {
  background-position: 0px -654px;
  height: 28px;
}

/* line 207 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .footer-logo.google {
  background-position: 0px -734px;
  height: 52px;
}

/* line 211 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/footer.styl */
.footerMovableModes .footer-logo.bpredd {
  background: url("../images/bpredd.png") no-repeat scroll 0% 0% transparent;
  background-position: 0px 0px;
  height: 57px;
}
