
/* line 286 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */

/* line 1 : /Users/Robert/Projects/github_work/GFW-Fires/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeBgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 6 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeBgContainer img {
  width: 100%;
  height: auto;
}

/* line 10 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 15 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsViewerOuter {
  width: 350px;
  height: 350px;
  z-index: 100;
  overflow-x: auto;
  overflow-y: hidden;
  margin: auto;
  margin-top: 50px;
  overflow: visible;
}

/* line 27 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
/*.homeModeOptionsViewerInner
	width 250px
	height 250px
	z-index 100
	overflow hidden*/

/* line 33 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsViewerOuter .modeGroup {
  height: 350px;
  width: 100%;
  transition: display 1.5s ease;
  cursor: pointer;
  font-size: 20px;
}

/* line 42 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsViewerOuter .modeOption {
  border-radius: 175px;
  background-color: #000;
  color: #fff;
  height: 350px;
  width: 350px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  margin: auto;
  opacity: 0.3;
  box-sizing: border-box;
}

/* line 58 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsViewerOuter .modeOptionRing {
  border-radius: 175px;
  background: none;
  height: 350px;
  box-shadow: 0px 0px 14px 0px #888;
  width: 350px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  margin: auto;
  border: 10px solid #ec1d38;
  box-sizing: border-box;
}

/* line 72 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsViewerOuter .modeGroup .modeText p {
  font-size: 72px;
  color: #ec1d38;
  margin-top: -50px;
  margin-bottom: 0px;
}

/* line 78 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsViewerOuter .modeGroup .modeText {
  font-family: "Georgia", serif;
  color: #ccc;
  position: absolute;
  left: 0px;
  top: 140px;
  right: 0px;
  vertical-align: middle;
}

/* line 87 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.alert-dialog-box {
  height: 430px !important;
}

/* line 90 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.many-subDistricts-warning {
  color: #f00;
}

/* line 93 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsViewerOuter .modeGroup .modeText span {
  font-size: 32px;
}

/* line 96 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsViewerOuter .modeGroup .modeText span.more-text {
  position: relative;
  top: -20px;
}

/* line 100 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.homeModeOptionsViewerOuter .modeGroup .modeText span.most-text {
  position: relative;
  top: -40px;
}

/* line 104 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#signUpAlertsForm {
  font-family: "Arial MT Condensed Light";
  src: url("../fonts/ArialMTStd-LightCond.otf") format("opentype");
  color: #464052;
}

/* line 109 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#signUpAlertsForm .select-container {
  background: url("../images/ico-carat-down.png") no-repeat 95% center transparent;
  width: 240px;
}

/* line 113 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#signUpAlertsForm #aoiDistrictPicker {
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 12px;
  width: 240px;
}

/* line 119 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#signUpAlertsForm #aoiProvincePicker {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  padding: 5px;
  height: 30px;
  width: 240px;
}

/* line 129 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#signUpAlertsForm #aoiSubDistrictPicker {
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 12px;
  width: 240px;
}

/* line 135 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#signUpAlertsForm input[type="email"],
#signUpAlertsForm input[type="tel"] {
  border-radius: 5px;
  font-size: 16px;
  width: 235px;
  height: 30px;
}

/* line 141 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#signUpAlertsForm #verifyEmailForAlerts {
  font-size: 12px;
  display: none;
}

/* line 145 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#alerts-submit-button {
  background: #e50036;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  border: none;
}

/* line 153 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#signUpAlertsForm td {
  padding: 2px 6px;
}

/* line 156 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
#signUpAlertsForm .error-messages {
  color: #e50036;
}

/* line 159 : /Users/Robert/Projects/github_work/GFW-Fires/www/src/app/css/home.styl */
.map-link-from-signup {
  cursor: pointer;
  color: #ec1d38;
}
