
/* line 286 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
@font-face {
  font-family: "Arial MT Condensed Bold";
  src: url("../fonts/ArialMTStd-BoldCond.otf") format("opentype");
}

/* line 5 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
@font-face {
  font-family: "Arial MT Condensed Light";
  src: url("../fonts/ArialMTStd-LightCond.otf") format("opentype");
}

/* line 10 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 16 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.report-page {
  font-family: Arial, Georgia, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 19 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.report-title {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  margin: 30px 0 50px;
}

/* line 23 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.report-title,
.section-title {
  text-align: center;
  font-size: 28px;
}

/* line 27 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.section-title,
.sub-title,
.noFiresTable {
  font-family: "Arial MT Condensed Light", Arial, Georgia, sans-serif;
  font-size: 22px;
  margin: 10px 0;
}

/* line 32 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.sub-title {
  text-align: center;
  font-size: 18px;
}

/* line 36 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.sub-title2 {
  text-align: center;
  font-size: 22px;
  font-family: Arial MT Condensed;
}

/* line 41 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.map-container {
  border: 2px solid #000;
  margin: 0 auto;
  height: 500px;
  width: 650px;
}

/* line 47 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.map-container.small {
  height: 500px;
}

/* line 50 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.map {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 55 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.legend-container {
  position: absolute;
  font-size: 12px;
  z-index: 50;
  bottom: 5px;
  left: 5px;
}

/* line 62 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.legend-swatch {
  border: 1px solid #000;
  height: 16px;
  width: 16px;
}

/* line 67 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.legend-swatch-round {
  border: 1px solid #fff;
  border-radius: 35px;
  height: 12px;
  width: 12px;
}

/* line 73 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
#high-confidence-info-report {
  cursor: pointer;
  color: #e7002f;
}

/* line 77 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.closeText {
  float: right !important;
  cursor: pointer;
}

/* line 81 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.dijitDialog {
  -webkit-box-shadow: 0 5px 10px #adadad;
}

/* line 84 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.dijitDialogPaneContent {
  padding: 10px;
}

/* line 87 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.dijitDialogTitleBar {
  padding: 5px 6px 3px 6px;
  text-align: center;
  background-color: #d0d0d0;
  font-weight: bold;
}

/* line 93 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.dijitDialogUnderlayWrapper {
  position: absolute;
  transparent: !important;
}

/* line 97 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.dijitDialogUnderlay {
  background: #eee;
  opacity: 0.5;
}

/* line 102 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.hc-fire {
  background-color: #e16e20;
}

/* line 105 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.oa-fire {
  background-color: #fba730;
}

/* line 108 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.legend-label {
  padding-left: 10px;
}

/* line 111 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.legend-title {
  max-width: 160px;
}

/* line 114 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.chart-container {
  margin: 0 auto;
  height: 380px;
  width: 450px;
}

/* line 119 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.chart {
  height: 380px;
  width: 450px;
}

/* line 123 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.chart text {
  font-size: 20px !important;
  font-weight: normal !important;
}

/* line 127 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.fire-line-chart {
  margin: 0 auto;
  height: 500px;
  width: 650px;
}

/* line 135 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.fires-table {
  font-family: "Arial MT Condensed Light", Arial, Georgia, sans-serif;
  border-collapse: collapse;
  text-align: center;
  margin: 20px auto;
}

/* line 141 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.fires-table th {
  border-bottom: 2px solid #888;
  max-width: 230px;
  min-width: 150px;
  padding: 10px;
  color: #fff;
}

/* line 148 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.fires-table th:first-child {
  background-color: #0d6b3e;
}

/* line 151 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.fires-table th:nth-child(2) {
  background-color: #82b53c;
}

/* line 154 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.fires-table th:last-child {
  background-color: #e89927;
}

/* line 157 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.fires-table td {
  border-bottom: 2px solid #888;
  max-width: 230px;
  padding: 5px;
  color: #000;
}

/* line 163 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.fires-table tr > td:first-child,
.fires-table tr > td:nth-child(2) {
  background-color: #cddfb1;
}

/* line 166 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.fires-table tr > td:last-child {
  background-color: #f8c8a9;
}

/* line 169 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.noFiresTable {
  text-align: center;
  font-size: 16px;
}

/* line 173 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
#noFiresMsg {
  color: #e7002f;
}

/* line 176 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
.loader {
  position: absolute;
  z-index: 10;
  height: 50px;
  width: 50px;
  top: 45%;
  left: 47%;
  background: url("../images/loader.gif") no-repeat center;
}

/* line 185 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
@media print {

/* line 186 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
  .page-break {
    display: block;
    page-break-before: always;
  }

/* line 189 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
  .no-break {
    page-break-inside: avoid !important;
  }

/* line 191 : /Users/lucascotner/Documents/Projects/gfw-fires-app/www/src/app/css/report.styl */
  html,
  body {
    -webkit-print-color-adjust: exact;
  }
}
