<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
    
<serverUrl url="http://landsat.arcgis.com/arcgis/rest/services/Landsat8_PanSharpened/ImageServer" 
              matchAll="true"
          username="WRI_LANDSAT_USERNAME"
          password="WRI_LANDSAT_PASSWORD"
          />

    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
