html
body
  background-color #FFF
  height 100%
  width 100%
  margin 0
  font-family $fira-sans
  -webkit-font-smoothing antialiased

body
  overflow-y scroll

a
  text-decoration none
  color inherit

ul
  padding 0px
  margin 0px
  list-style none

section
  center(1200px, 1em)

.button
  &--round
    border none
    border-radius 30px
