html
body
    background-color #FFF
    height 100%
    width 100%
    margin 0
    font-family $helvetica

a
  text-decoration none

ul
  padding 0px
  margin 0px
  list-style none

section
  center(1200px, 1em)
