@require '_variables'
@require '../../node_modules/rupture/rupture/index'

h2
  font-size 47px
  font-weight 300
  margin 0
  padding 0 0 15px
  line-height 47px

h3
  font-size 19px
  font-weight 300
  margin 0
  padding 0 0 10px
  line-height 1.25em

.content-header
  margin 2em 0em
  color #FFF

.content-container
  display flex
  flex-direction row

  +below($mq-mobile)
    flex-direction column

.content-aside
  padding 1em 0 1em 1em

  ul li
    text-align center
    color #555555
    background #f7f7f7
    position relative
    font-weight 500
    font-size 14px
    padding 21px 10px
    line-height 1.25
    border-top 1px solid #e5e5df
    border-left 1px solid #e5e5df

.content-menu
  width 270px

.content-body
  padding 2em 2em 1em 2em
  border-left 1px solid #e5e5df
  color #555555


.content-subpage
  display none

  &.active
    display block
