@require '_variables'
@require '../../node_modules/rupture/rupture/index'

h2
  font-size 3em
  font-weight 300
  margin 0
  padding 0.5em 0 0.2em
  line-height 1em

  +below($mq-mobile)
    padding: 0.8em 0 .2em;

h3
  font-size 1.2em
  font-weight 300
  margin 0
  padding 0 0 0.7em
  line-height 1.25em

.content-header
  margin 2em 0em
  color #FFF

.content-container
  display flex
  flex-direction row

  +below($mq-mobile)
    flex-direction column

.content-aside
  padding 1em 0 1em 0

  li
    text-align center
    color #555555
    background #f7f7f7
    position relative
    font-weight 500
    font-size 0.9em
    padding 1.3em 0.7em
    line-height 1.2em
    border-top 1px solid #e5e5df
    border-left 1px solid #e5e5df

    &:last-child
      border-bottom 1px solid #e5e5df

    &.active
      background #fff
      box-shadow 2px 0 0 0px #FFF

    &.active:after
      content ''
      position absolute
      display block
      bottom 0%
      left 0px
      width 100%
      height 4px
      background $gfw-red

    +below($mq-mobile)
      border-right 1px solid #e5e5df
      box-shadow none

.content-menu
  width 270px

  +below($mq-mobile)
    width 100%

.content-body
  padding 2em 2em 1em 2em
  border-left 1px solid #e5e5df
  color #555555

  +below($mq-mobile)
    border-left none

  h2
    padding 0
    font-size 2.2em

  p
    font-size 0.9em
    line-height 1.6em
    padding 0.7em 0 0
    margin 0

.content-subpage
  display none

  &.active
    display block
