// NOTE: fonts below don't seem to be used, re-enable them if necessary
//@font-face
//  font-family 'fira_sans_otregular'
//  src url(../fonts/firasansot-regular-webfont.eot)
//  src url(../fonts/firasansot-regular-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/firasansot-regular-webfont.woff) format("woff"),url(../fonts/firasansot-regular-webfont.ttf) format("truetype"),url(../fonts/firasansot-regular-webfont.svg#fira_sans_otregular) format("svg")
//  font-weight normal
//  font-style normal

//@font-face
//  font-family 'fira_sans_otmedium'
//  src url(../fonts/firasansot-medium-webfont.eot)
//  src url(../fonts/firasansot-medium-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/firasansot-medium-webfont.woff) format("woff"),url(../fonts/firasansot-medium-webfont.ttf) format("truetype"),url(../fonts/firasansot-medium-webfont.svg#fira_sans_otmedium) format("svg")
//  font-weight normal
//  font-style normal


//@font-face
//  font-family 'fira_sans_otlight'
//  src url(../fonts/firasansot-light-webfont.eot)
//  src url(../fonts/firasansot-light-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/firasansot-light-webfont.woff) format("woff"),url(../fonts/firasansot-light-webfont.ttf) format("truetype"),url(../fonts/firasansot-light-webfont.svg#fira_sans_otmedium) format("svg")
//  font-weight normal
//  font-style normal
