// font stacks
// NOTE: fonts in $fonts will generate utility classes
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = "Georgia", serif
$fonts = 'helvetica' $helvetica,
         'georgia' $georgia

// colors
// NOTE: colors in $colors will generate text-* and back-* utility classes
$charcoal = #222
$pebble = #333
$smoke = #666
$lime = #9bb251
$white = #FFF
$colors = 'charcoal' $charcoal,
          'smoke' $smoke,
          'pebble' $pebble

// media queries
$mqMobile = 850px

// z-indices
$zLogo = 500
$zNavigation = 400

// misc
$gutter = 2em
$border-radius = 5px
