$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = "Georgia", serif
$fira-sans = 'Fira Sans', sans-serif
$fonts = 'helvetica' $helvetica,
         'georgia' $georgia

// colors
// NOTE: colors in $colors will generate text-* and back-* utility classes
$charcoal = #222
$pebble = #333
$smoke = #666
$white = #FFF
$gfw-red = #E7002F
$dark-gray = #555
$colors = 'charcoal' $charcoal,
          'smoke' $smoke,
          'pebble' $pebble,
          'gfw-red' $gfw-red,
          'white' $white

// media queries
$mq-mobile = 850px

// z-indices
$z-navigation = 400
$z-logo = 500
$z-mobile-navigation = 600
$z-body = 700
$z-modal = 800

// misc
$gutter = 2em
$border-radius = 5px
$transition = all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)

