@require '../../vendor/normalize.css/normalize.css'
@require '../../vendor/ion.rangeslider/css/ion.rangeSlider.css'
@require '_variables'
@require '_modal'

label
select
button
svg
  user-select none
