
<div id="dataInner" class="inner-container">
  <div id="dataHeader" class="content-header"></div>
  <div id="dataNav" class="nav">
    <ul class="nav-list">
      <li class="nav-item selected"><a class="item selected">Title 1</a></li>
      <li class="nav-item"><a class="item">Title 2</a></li>
      <li class="nav-item"><a class="item">Title 3</a></li>
      <li class="nav-item"><a class="item">Title 4</a></li>
      <li class="nav-item"><a class="item">Title 5</a></li>
      <li class="nav-item"><a class="item">Title 6</a></li>
      <li class="nav-item"><a class="item">Title 7</a></li>
    </ul>
  </div>
  <div id="dataContent" class="content"></div>
</div>