div#dataInner(class="inner-container")
	div#dataHeader(class="content-header")
	div#dataNav(class="nav")
		ul(class="nav-list")
			li(class="nav-item selected")
				a(class="item selected") Title 1
			li(class="nav-item")
				a(class="item") Title 2
			li(class="nav-item")
				a(class="item") Title 3
			li(class="nav-item")
				a(class="item") Title 4
			li(class="nav-item")
				a(class="item") Title 5
			li(class="nav-item")
				a(class="item") Title 6
			li(class="nav-item")
				a(class="item") Title 7
	div#dataContent(class="content")
