@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

html, body
  height 100%
  width 100%
  padding 0
  margin 0

.report-page
  font-family: 'Fira Sans', Georgia, serif

//--------------
// Report Header
//--------------
.report__header-content {
  display flex
  padding-left: .75em
}

.report__header {
  height: 60px;
  background-color: #555;
  display: flex;
  position relative
}

.share-link {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 12px;
  line-height: 2rem;
  height: 2rem;
  color: #fff;
  text-decoration: none;
  background: url(images/icon-share.svg);
  background-repeat: no-repeat;
  background-position: center right .5em;
  font-size: 15px;
  opacity: 0.8;
  transition: opacity 0.3s linear;
  cursor pointer
  user-select: none;

  &:hover {
    opacity: 1;
  }
}

.share-link-input__container {
  padding: 10px 12px
  background-color #555555
  position: absolute;
  bottom: -50px;
  height: 50px;
  right: 0;
  box-sizing: border-box;

  &.hidden {
    display: none
  }
}

input.share-link-input {
  height: 30px;
  padding: 5px 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.report-title__container
  display: flex
  align-items: baseline;
  color: #fff
  padding 1.1em 0.5em 0.25em 0.5em

  .selected-country
    padding-left: 0.2em;

  .report-title
    font-weight 300
    font-size 2rem
    margin: 0

  .report-date-range__container {
    padding-left: .5em;
    font-size: 1.15em;
  }

.report-date-range__map-container {
  display: inline-block;
  font-size: .65em;
  font-weight 400;
  margin-left: 10px;
}

#aoiList {
  font-weight: normal;
  margin: .5em 0;
  padding: .5em 0;
  line-height: 1.5em
  min-height 1.5em
  font-size: 1em
}

.border-top-separator
  border-top: 1px solid #ffcecb;
  padding-top: .25em
  margin-top: .25em

.num-of-fires__container {
  margin-bottom: 1em;
  text-align center
}

.num-of-fires__content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em
  height 90px
}

//--------------
// Report body
//--------------
.report__body {
  padding: 0 .5em;
}

#totalFiresLabel {
  display flex
  align-items center
  justify-content: center;
}

#totalFireAlerts {
  font-size: 4em;
  color: #E50017;
  margin: 0 .5rem
  min-width: 100px;
}

.fire-alert__container {
  text-align: left;
  p {
    margin: 0
  }
}

.map-container
  margin 0 auto
  height 375px
  box-sizing border-box

.map-container.map-legend
  display: flex;
  position: relative

  .legend-container
    font-size 14px
    color: #000;
    font-weight: 300;
    padding 0 0.25em
    display: flex;
    align-items: flex-end;
    flex: 1 1 80px;
    box-sizing: border-box;
    justify-content: center;

.map
  background-color: #222327
  position relative
  height 100%
  width 100%

  .legend-container
    background-color: #4A4A4A
    color: #fff
    position absolute
    font-size 12px
    z-index 50
    bottom 5px
    left 5px
    padding 0.25em 0.5em

  .legend__title
    font-weight: 400
    margin: 0
    text-align: center

  .map-resources
    margin: 0.75em 0 0 0;
    text-align: center;

//--------------
// Report map section
//--------------
.map-section {
  border-top: 1px solid #FFCECB;
}

.report-section__map-container {
  display: flex;
  padding-top: 1em;
}

.report-section__content
  padding 0 1rem
  font-size: 14px
  flex 1
  display: flex;
  flex-direction: column;
  justify-content: center;

  p
    margin: 0

.report-section__content.padding-top
  padding-top 1.8rem

#district-fires-table
#subdistrict-fires-table
  min-height: 320px;

.report-section__map
  flex 2

.report-section__title
  padding .5em 0
  margin 0
  //height: 2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300

.report-section__subtitle
.fire-alert-count__subtitle
  margin: 0
  padding: 0 0.5em 0.5em 0
  font-size: 1.1rem
  font-weight: 400

.two-rows
  //height: 3.6rem;
  //white-space: nowrap;
  text-align: left;
  padding-bottom: .25em !important


.legend-swatch
//border 1px solid black
  height: 40px;
  width: 5px;
  min-width: 5px;

.legend-swatch__container
  display: flex;
  padding: .25rem 0;
  align-items: center;

.legend-swatch-round
  border 1px solid transparent
  border-radius 50%
  height 14px
  width 14px
  display inline-block
  margin-right 5px

#high-confidence-info-report, #confidence-footnote
  cursor pointer
  color #e7002f

#high-confidence-info-popup
  color #464052

#high-confidence-info-popup .dijitDialogPaneActionBar
  margin 10px 0 0
  text-align center

#high-confidence-info-popup > div.dijitDialogTitleBar
  background white
  text-align center

#disclaimer
  font-size 14px
  margin-bottom 50px
  margin-top 3em
  border 1px solid gray
  padding 0 1em 1em 1em

  a
    color #000
    font-weight: 500

.closeText
  float right !important
  cursor pointer

.dijitDialog
  -webkit-box-shadow 0 5px 10px #adadad

.dijitDialogPaneContent
  padding 10px

.dijitDialogTitleBar
  padding 5px 6px 3px 6px
  text-align center
  background-color #D0D0D0
  font-weight bold

.dijitDialogUnderlayWrapper
  position absolute
  transparent !important

.dijitDialogUnderlay
  background #eee
  opacity 0.5

.hc-fire
  background-color #a40a17

.viirs-fires-color
  background-color #a40a17

.modis-fires-color
  background-color #e16e20
  background-color #e64c00
  background-color #e44d1b

.oa-fire
  background-color #fba730

.legend-label
  text-align right
  white-space: nowrap;

#fires-legend
  .legend-label
    font-size: 0.65rem;

.legend-title
  max-width 160px

//--------------
// Section Container
//--------------
.section-title
  font-size: 1.65rem
  font-family: 'Fira Sans', Georgia, serif
  font-weight: 300
  line-height: 1.3em;
  margin-top: .5em
  margin-bottom: 0

.break-raw
  font-size: 24px;
  font-weight: 400

.table-cell-bar__container
  display: flex;
  box-sizing: border-box;
  height: 30px;
  width: 100px;
  text-align: left !important
  padding: 0 !important
  align-items: center;
  justify-content: flex-start;
  border-bottom: 0px solid !important;

.table-cell-bar__item
  line-height: 30px;
  height: 4px;
  display: inline-block;
  background-color: #D40000;
  border-bottom: 1px solid red;


//----------------------------
// Concession RSPO Container
//----------------------------
#ConcessionRspoContainer
  display: flex;
  justify-content: space-around;
  font-size: 15px;

.vertical-divider
  width: 1px;
  background: #ffcecb;
  margin: 0 1.5em;

.consession__type
  text-align: left
  min-width: 80px

//--------------
// Chart Container
//--------------
.chart-container
  display flex
  justify-content: center;

.chart-wrapper
//margin 0 auto
  height 240px
  width 560px
  position relative

.chart
  height 240px
  width 560px

.chart text
  font-size 20px !important
  font-weight normal !important

.chart-data-label__container {
  cursor: pointer;
  font-family: 'Fira Sans', Georgia, serif
  font-weight: 400
  width: 160px;
  font-size: 12px;
  display: block;
  white-space: initial;
}

#land-use-fires-chart .highcharts-data-label-color-3 .chart-data-label__container,
#peat-fires-chart .highcharts-data-label-color-1 .chart-data-label__container,
#moratorium-fires-chart .highcharts-data-label-color-1 .chart-data-label__container {
  text-align right
}

#moratorium-fires-chart .highcharts-data-label-color-0 .chart-data-label__container {
  padding-left 5px
  width: 110px
}

.pie-chart-title
  margin: 0;
  position: absolute;
  z-index: 100;
  top: 0;
  font-size: 1.1rem;
  text-align: right;
  font-weight: 400
  width: 180px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

.fire-line-chart
  margin 0 auto
  height 500px
  //width 800px

.fires-table
  border-collapse collapse
  margin 1em auto 0

.fires-table th
  border-bottom 1px solid #888
  font-weight: 400

//.fires-table th:first-child
//  background-color #0d6b3e

//.fires-table th:nth-child(2)
//  background-color #82b53c

//.fires-table th:last-child
//  background-color #e89927

.fires-table tr

.fires-table td
  border-bottom 1px solid #E7E4E4
  padding 5px 10px
  color #7A777B

.fires-table th:first-child
.fires-table td:first-child
  text-align left
  padding: 0 10px

.fires-table .number-column
  min-width 50px

//#all-concessions-fires-table .fires-table th:nth-child(3)
//  background-color #118bbb

//#all-concessions-fires-table .fires-table tr > td:nth-child(3)
//  background-color #f8c8a9

//.fires-table tr > td:first-child, .fires-table tr > td:nth-child(2)
//  background-color #cddfb1

.fires-table tr > td:last-child
//background-color #f8c8a9
  text-align center
  padding 5px 0

.noFiresTable
  padding-top 1em
  text-align center
  font-size 1.25em

.noFiresTable
#noFiresMsg
  color #e7002f

.loader
  position absolute
  z-index 10
  height 60px
  width 60px
  top calc(50% - 30px);
  left calc(50% - 30px);
  background url('images/loading.svg') no-repeat center
  background-size cover
  //background url('images/loader.gif') no-repeat center

@media print
  .page-break
    display block
    page-break-before always

  .no-break
    page-break-inside avoid !important

  html, body
    -webkit-print-color-adjust exact

//--------------
// Report Charts section
//--------------
.report-section__charts-container {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ffcecb;
//background: rgba(255, 0, 0, 0.02);
}

tspan {
  font-family: 'Fira Sans', Georgia, serif
  font-weight: 300
  color: #9B9B9B
  font-size: 12px;
}

//--------------
// Report Header + Body
//--------------
@media screen and (min-width: 961px) {
  .report__header-content
  .report__body {
    width: 960px;
    margin: 0 auto;
  }

  .map-container {
    width 610px
  }

  #district-fires-map,
  #district-fires-map .map {
    width: 530px;
  }

  .pull-right {
    justify-content: flex-end;
  }

  .pull-left {
    justify-content: flex-start;
  }

  .report-section__map-container {
    padding: 0 0 1.25em 0;
  }

  .report__header-content {
    position: relative;
  }
}

@media screen and (max-width: 960px) {
  .report-section__map-container {
    flex-direction: column;
  }

  .map-container {
    margin: 0 1em;
  }

  .report-section__content {
    padding 1.5rem 1rem
  }

  .report-section__title,
  .fire-alert-count__subtitle {
    padding: 0 0 0 .5em;
  }

  .two-rows:empty {
    display: none
  }

  #ConcessionRspoContainer {
    flex-direction column
  }

  .report-section__map {
    order: -1;
  }

  .section-title {
    padding-left: .25em
  }

  .vertical-divider {
    display none
  }

  .fire-line-chart {
    width 100%
    height: 400px;
  }
}

@media (max-width: 650px) {

  .report-page {
    position fixed
    width 100vw
    height: 100vh
    overflow-x hidden
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .report-page #disclaimer {
      width 85vw
      margin 1em auto 2em
  }

  .pie-chart-title {
    width: 100%;
    height: auto;
    justify-content center
  }

  .pie-chart-title br {
    display: none
  }

  #firesCountContainer #firesCountChart {
    width 100%
    height 350px
  }

  #firesCountContainer {
    flex-direction column
  }

  .map-container.map-legend .legend-container {
    position: absolute
    bottom 3px
    z-index 100
    color: #fff
  }

}

@media screen and (min-width: 651px) {
  .indicative-moratorium-area {
    width: 210px;
    left -30px;
  }
}

@media screen and (min-width: 501px) {
  .gfw-fires-logo__link {
    position: relative;
    top: 1em;
  }

  .gfw-fires-logo__image {
    width: 70px !important
    height: 70px !important
  }
}

@media screen and (max-width: 500px) {
  .report-title__container {
    align-items: initial;
    flex-direction: column;
    padding: 0 0.5em;
  }

  #totalFireAlerts {
    line-height: 1em;
  }

  .report-title__container .report-date-range__container {
    padding: 0 0 3px 0;
  }
}

.text-center
  text-align: center;

#firesCountContainerSection
  min-height: 500px

#firesCountContainer
  display: flex

#firesCountChart
  margin-top: 1em
  height: 400px
  width calc( 100% - 185px)

.firesCountChart__text
.firesCountChart__popup
  padding .25em
  margin 0
  font-size: 16px

.firesCountChart__popup
  color #000

#firesCountIslandsListContainer
  width 185px
  padding 0 1em

  .selected
    color: #f88900

  h3
    margin: .5em 0;
    cursor pointer
    font-size: 1rem
    font-weight normal
    padding .2em .4em

    strong
      font-size: 1.5rem
      font-weight normal

  h3:hover
    background-color rgba(204, 204, 204, 0.3)

  .fires-count__label
    margin 0

#firesCountIslandsList
  list-style-type:circle
  max-height: 320px;
  overflow: auto;
  margin 0
  padding-left: 2em;

  li
    padding .2em .5em
    margin .2em 0
    cursor pointer

  li:hover
    background-color rgba(204, 204, 204, 0.3)

#firesCountTitle
  margin: 0

  .total_firecounts
    color: #F88900
    font-size: 1.5rem;

.section-description
  display: block
  text-transform none !important
  font-size: .8rem !important

.highcharts-legend-item
  padding: .5em;
  font-family: 'Fira Sans', Georgia, serif;

  text
    font-weight: normal !important
    padding: .25em 0
    font-size: 14px !important

.fire-history__title
  font-size: 24px;
  font-weight: normal
  text-align: center
  margin .25em 0

  strong
    padding-left: 10px
    font-size: .8em

.fire-history__chart
  max-width 550px
  max-height 350px
  height 350px
  margin: auto

.history-chart-tooltip__container
  color #fff
  padding: 0 .5em
  font-family: 'Fira Sans', Georgia, serif;

.history-chart-tooltip__content
  margin 0
  font-weight: normal
  font-size: 24px

  span
    font-size: 14px

.history-chart-tooltip__year
  margin 0
  font-weight: normal
  color: #666666
  font-size: 20px


.fire-history__region
.fire-history__subtitle
.fire-history__description
  font-size: 1rem
  font-size: 24px
  margin: auto
  font-weight: normal
  text-transform uppercase

  strong
    font-size: 2rem
    text-transform none
    font-weight: normal
    padding-left: 5px

.fire-history__subtitle
  text-transform none

.table-color-switch
  display: block;
  width: 12px;
  height: 12px;
  margin: auto;
  border-radius: 50%;

.table-cell
  text-align: center;
  padding: 5px 10px;

.admin-type-1
.table-cell.regular
.table-cell.subdistrict-admin-level-1
  text-align: left;

.table-cell.subdistrict-admin-level-1
  padding-left 0

.table-cell.global
.table-cell.island
    text-align: left

// TODO: remove old tables
#pulpwood-fires-table
#palmoil-fires-table
#logging-fires-table
.sub-title.consession
#breakdown-fires-chart-container
  display: none

.align-left
  text-align: left;
  padding-left: 10px;

.concession-fires-counts__table
  border-collapse: collapse;
  margin: 20px auto 0;
  color: #7a777b;

  thead
    border-bottom: 1px solid #888;

    th
      font-weight: normal

    .consession__name
      text-align left
      padding-left 10px

    .consession__number
      padding 0 10px

  tbody
    .concession__name
    .concession__count
      padding: 0 10px

    tr
      border-bottom: 1px solid #e7e4e4

#section-four
  padding-top 1em

#section-five
#section-six
  margin-bottom: 1em

// TODO: show container after real content is is place
#section-one .report-section__content
  display none

.esriAttribution
  font-size: 9px
  line-height: 10px

.map .logo-sm
  width: 40px;
  height: 22px;
  background-repeat no-repeat

.map .esriSimpleSliderTL {
  top: 10px;
  left: auto;
  right: 10px;
}

.map .esriSimpleSlider {
  border-radius 0
}
