// @font-face
// 	font-family "Arial MT Condensed Bold"
// 	src url("../fonts/ArialMTStd-BoldCond.otf") format("opentype")
//
// @font-face
// 	font-family "Arial MT Condensed Light"
// 	src url("../fonts/ArialMTStd-LightCond.otf") format("opentype")


html, body
	height 100%
	width 100%
	padding 0
	margin 0

.report-page
	font-family: 'Fira Sans', Georgia, serif

.report-title
	margin 30px 0 50px

.report-title, .section-title
	text-align center
	font-size 28px

.section-title, .sub-title, .noFiresTable
	//font-family: "Arial MT Condensed Light", Arial, Georgia, sans-serif
	font-size 22px
	margin 10px 0

.sub-title
	text-align center
	font-size 18px

.sub-title2
	text-align center
	font-size 22px
	//font-family Arial MT Condensed

.map-container
	border 2px solid black
	margin 0 auto
	height 500px
	width 650px

.map-container.small
	height 500px

.map
	position relative
	height 100%
	width 100%

.legend-container
	position absolute
	font-size 12px
	z-index 50
	bottom 5px
	left 5px

.legend-swatch
	border 1px solid black
	height 16px
	width 16px

.legend-swatch-round
	border 1px solid white
	border-radius 35px
	height 12px
	width 12px

#high-confidence-info-report, #confidence-footnote
	cursor pointer
	color #e7002f

#high-confidence-info-popup
	color #464052

#high-confidence-info-popup .dijitDialogPaneActionBar
	margin 10px 0 0
	text-align center

#high-confidence-info-popup > div.dijitDialogTitleBar
	background white
	text-align center

#disclaimer
	width 50%
	text-align center
	margin-left 25%
	font-size 14px
	margin-bottom 50px
	margin-top 50px
	border 1px solid gray
	padding 5px

.closeText
	float right !important
	cursor pointer

.dijitDialog
	-webkit-box-shadow 0 5px 10px #adadad

.dijitDialogPaneContent
	padding 10px

.dijitDialogTitleBar
	padding 5px 6px 3px 6px
	text-align center
	background-color #D0D0D0
	font-weight bold

.dijitDialogUnderlayWrapper
	position absolute
	transparent !important

.dijitDialogUnderlay
	background #eee
	opacity 0.5


.hc-fire
	background-color #e16e20

.oa-fire
	background-color #fba730

.legend-label
	padding-left 10px

.legend-title
	max-width 160px

.chart-container
	margin 0 auto
	height 380px
	width 450px

.chart
	height 380px
	width 450px

.chart text
	font-size 20px !important
	font-weight normal !important

.fire-line-chart
	margin 0 auto
	height 500px
	width 650px

// .chart.small-legend-text .highcharts-legend-item text
// 	font-size 14px !important

.fires-table
	//font-family "Arial MT Condensed Light", Arial, Georgia, sans-serif
	border-collapse collapse
	text-align center
	margin 20px auto

.fires-table th
	border-bottom 2px solid #888
	max-width 230px
	min-width 150px
	padding 10px
	color white

.fires-table th:first-child
	background-color #0d6b3e

.fires-table th:nth-child(2)
	background-color #82b53c

.fires-table th:last-child
	background-color #e89927

.fires-table td
	border-bottom 2px solid #888
	max-width 230px
	padding 5px
	color black

#all-concessions-fires-table .fires-table th:nth-child(3)
	background-color #118bbb

#all-concessions-fires-table .fires-table tr > td:nth-child(3)
	background-color #f8c8a9

.fires-table tr > td:first-child, .fires-table tr > td:nth-child(2)
	background-color #cddfb1

.fires-table tr > td:last-child
	background-color #f8c8a9

.noFiresTable
	text-align center
	font-size 16px

#noFiresMsg
	color #e7002f

.loader
	position absolute
	z-index 10
	height 50px
	width 50px
	top 45%
	left 47%
	background url('images/loader.gif') no-repeat center

@media print
	.page-break
		display block
		page-break-before always
	.no-break
		page-break-inside avoid !important
	html, body
		-webkit-print-color-adjust exact


@media (max-width: 650px)
	.report-page
		position fixed
		width 100vw
		height: 100vh
		overflow-x hidden
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

		.map-container
			border 2px solid black
			height 42.5vh !important
			width 85vw

		#disclaimer
			width 85vw
			margin 1em auto 2em

		.chart-container
		.chart
			width 90vw

		#fire-line-chart
			height 50vh
			width 90vw
