
<form id="signUpAlertsForm" action="javascript:void(0)" class="alert-dialog-box">
  <p>Please choose an area of interest from below and then enter your email or phone number.</p>
  <table>
    <tr>
      <td><span>Choose a district: </span></td>
      <td>
        <select id="aoiDistrictPicker" data-bind="options:districtsAvailableForAlerts,optionsText:'label',optionsValue:'value'"></select>
      </td>
    </tr>
    <tr>
      <td><span>Choose a subdistrict: </span></td>
      <td>
        <select id="aoiSubDistrictPicker" data-bind="options:subDistrictsAvailableForAlerts,optionsText:'label',optionsValue:'value'" multiple="true"></select>
      </td>
    </tr>
    <tr>
      <td><span>Enter a valid email address:</span></td>
      <td>
        <input type="email" name="email" id="emailForAlerts"/>
      </td>
    </tr>
    <tr>
      <td><span>or Enter a valid phone number:</span></td>
      <td>
        <input type="tel" name="phone_number" id="phoneNumberForAlerts"/>
      </td>
    </tr>
  </table>
  <div class="submit-button">
    <button id="alerts-submit-button">Submit</button>
  </div>
</form>