form(id='signUpAlertsForm',class='alert-dialog-box',action='javascript:void(0)')
	p.signup-info Please choose an area of interest from below and then enter your email and/or phone number.
	table
		tr
			td
				span 1. Choose a district: 
			td
				div(class='select-container')
					select#aoiDistrictPicker(data-bind="options:districtsAvailableForAlerts,optionsText:'label',optionsValue:'value'")
		tr
			td
				span 2. Choose one, many, or all subdistricts: 
			td
				select#aoiSubDistrictPicker(data-bind="options:subDistrictsAvailableForAlerts,optionsText:'label',optionsValue:'value'",multiple='true')
		tr
			td
				span 3. Subscribe via email:
			td
				input(type="email",name="email",id="emailForAlerts",placeholder='Email')
				input(type="email",name="verify_email",id="verifyEmailForAlerts",placeholder='Verify Email(Leave blank if your human)')
		tr
			td
				span &nbsp;&nbsp;&nbsp;or subscribe via sms:
			td
				input(type="tel",name="phone_number",id="phoneNumberForAlerts",placeholder='Phone number')
	div(class='error-messages',data-bind='visible: showErrorMessages()')
		ul(data-bind='foreach:errorMessages')
			li(data-bind='text: $data')
	div(class='submit-button')
		button(id="alerts-submit-button") Submit