//div#homeTitle.homeTitle(data-bind="html:homeTitle")
link(rel='stylesheet', href='app/css/footer.css')
div.footerContainer
	div.footerWrapper
		div.footerModes(data-bind="foreach:footerModeOptions")
			div(data-bind="attr:{class:css},click:$root.footerSelect")
				div.icon
		//- div.blogPosts
		//- 	div.icon
		//- div.analysisAlerts
		//- 	div.icon
		//- div.submitStory
		//- 	div.icon

