
<!--div#homeTitle.homeTitle(data-bind="html:homeTitle")-->
<link rel="stylesheet" href="app/css/footer.css"/>
<div class="footerContainer">
  <div class="footerWrapper">
    <div data-bind="foreach:footerModeOptions" class="footerModes">
      <div data-bind="attr:{class:css}">
        <div class="icon"></div>
        <div data-bind="html:title" class="title"></div>
        <div data-bind="html:desc" class="desc"></div><a data-bind="html:action,click:$root.footerSelect" class="action"></a>
      </div>
    </div>
  </div>
</div>
<div class="footerContainerWrapper">
  <div class="footerMovableWrapper">
    <div class="footerMovableModes">
      <div class="container-large share">
        <div class="title">Spread the Word Share GFW-Fires</div>
        <div class="share-container"><span id="stFacebook" displayText="Facebook" class="st_facebook_large"></span><span id="stTwitter" displayText="Tweet" class="st_twitter_large"></span><span id="stGoogle" displayText="Google +" class="st_googleplus_large"></span></div>
        <div class="sign-up"><span class="title">Sign up to receive updates.</span><a title="Receive Global Forest Watch updates" href="http://www.wri.org/global-forest-watch-stay-informed"><img src="app/images/envelope-gray.png" class="subscribe"/></a><a title="Follow @globalforests" href="https://twitter.com/globalforests"><img src="app/images/twitter-gray.png" class="subscribe"/></a></div>
        <div class="links"><span><a href="#">Terms of Service</a><a href="#">Global Forest Watch System Status</a></span></div>
      </div>
      <div class="container-small about-project">
        <div class="title">GFW-Fires is a project of Global Forest Watch<a href="http://www.globalforestwatch.org/about/partners" target="_blank" class="gfw-logo"></a></div>
      </div>
      <div class="container-large wri-address">
        <div class="title">A partnership convened by</div>
        <div class="wri-logo"></div>
        <div class="address">
          10 G Street NE Suite 800, Washington, DC 20002, USA
          Phone +1 (202) 729-7600
          Fax +1 (202) 729-7610
          Email gfw@wri.org
        </div>
      </div>
    </div>
  </div>
</div>