div.footerModesContainer(data-bind="visible: (appState().v=='home')")
    div.footerWrapper
        div.footerModes(data-bind="foreach:footerModeOptions")
            div.footerItem
                div(data-bind="attr:{class:css}")
                    div.icon
                    div.title(data-bind="html:title")
                    div.desc(data-bind="html:desc")
                    div(data-bind="if: url")
                        a.action(data-bind="html:action,attr: {href: url, target: target}")
                    div(data-bind="ifnot: url")
                        a.action(data-bind="html:action,click:$root.footerSelect")

div.footerShareContainer#footerShareContainer(data-bind="visible: (appState().v!='map')")
//-     footer#footerView.layout-footer(data-bind="visible: (appState().v!='map')")
//-       .apps-footer.mobile-hide
//-           .inner
//-             ul
//-               li
//-                 a.world(href='http://www.globalforestwatch.org/map')
//-                   svg
//-                     use(xlink:href='#shape-world')
//-                   h3 GFW Interactive Map
//-               |         
//-               li
//-                 a.shape-country(href='http://www.globalforestwatch.org/countries')
//-                   svg
//-                     use(xlink:href='#shape-country')
//-                   h3 Country profiles &amp; rankings
//-               |         
//-               li
//-                 a.fire(href='http://fires.globalforestwatch.org/#v=map&x=115&y=0&l=5&lyrs=Active_Fires')
//-                   svg
//-                     use(xlink:href='#shape-fire')
//-                   h3 Fires
//-               |         
//-               li
//-                 a.commodities(href='http://commodities.globalforestwatch.org/#v=map&x=114&y=-2.58&l=5&lyrs=tcc%2Closs')
//-                   svg
//-                     use(xlink:href='#shape-commodities')
//-                   h3 Commodities
//-               |         
//-               li
//-                 a.develop(href='http://www.globalforestwatch.org/getinvolved/develop-your-own-app')
//-                   svg
//-                     use(xlink:href='#shape-develop')
//-                   h3 Develop own your app
//-               |         
//-               li
//-                 a.data(href='http://www.globalforestwatch.org/data')
//-                   svg
//-                     use(xlink:href='#shape-download')
//-                   h3 Download data
//-               |         
//-               li
//-                 a(href='http://blog.globalforestwatch.org/')
//-                   svg
//-                     use(xlink:href='#shape-blog')
//-                   h3 Blog
//-               // <li><a class="soon" href="http://www.globalforestwatch.org/explore#coming-soon"><svg><use xlink:href="#shape-soon"></use></svg><h3>Coming soon</h3></a></li>

//-         .site-map.mobile-hide
//-           #siteMap.inner
//-             #footerMenu.mobile-menu
//-               .row
//-                 //
//-                   <div class="col">
//-                   <h3><a href="http://data.gfw.opendata.arcgis.com/datasets">Download data</a></h3>
//-                   <ul>
//-                   <li><a href="http://www.globalforestwatch.org/sources">Data policy</a></li>
//-                   <li><a href="http://data.gfw.opendata.arcgis.com/">GFW on ArcGIS Online</a></li>
//-                   <li><a href="http://www.globalforestwatch.org/sources/earth_engine">GFW on Google Earth Engine</a></li>
//-                   </ul>
//-                   </div>
//-                 .col
//-                   h3
//-                     a(href='http://www.globalforestwatch.org/explore') Explore
//-                   |             
//-                   ul
//-                     li
//-                       a(href='http://www.globalforestwatch.org/map') GFW Interactive Map
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/countries') Country profiles &amp; rankings
//-                     |               
//-                     li
//-                       a(href='http://commodities.globalforestwatch.org/#v=map&x=114&y=-2.58&l=5&lyrs=tcc%2Closs') Commodities
//-                     |               
//-                     li
//-                       a(href='http://fires.globalforestwatch.org/#v=map&x=115&y=0&l=5&lyrs=Active_Fires') Fires
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/explore/applications') All applications
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/data') Download Data
//-                 |           
//-                 .col
//-                   h3
//-                     a(href='http://www.globalforestwatch.org/stayinformed') Stay informed
//-                   |             
//-                   ul
//-                     li
//-                       a(href='http://blog.globalforestwatch.org/') Blog
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/stayinformed/crowdsourced-stories') Crowdsourced stories
//-                     |               
//-                     li
//-                       a(href='http://www.wri.org/global-forest-watch-stay-informed', target='_blank') Newsletter
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/stayinformed/publications') Publications
//-                 |           
//-                 .col
//-                   h3
//-                     a(href='http://www.globalforestwatch.org/getinvolved') GET INVOLVED
//-                   |             
//-                   ul
//-                     li
//-                       a(href='http://www.globalforestwatch.org/getinvolved/develop-your-own-app') Develop your own app
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/stories/new') Submit a story
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/getinvolved/share-data') Share data
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/getinvolved/help-improve-data') Help improve data
//-                     |               
//-                     li
//-                       a(href='https://groups.google.com/forum/#!forum/globalforestwatch', target='_blank') Join the discussion
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/getinvolved/apply-to-the-small-grants-fund') Apply to the Small Grants Fund
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/getinvolved/provide-feedback', target='_blank') Provide feedback
//-                 |           
//-                 .col
//-                   h3
//-                     a(href='http://www.globalforestwatch.org/howto') How to
//-                   |             
//-                   ul.submenu
//-                     li
//-                       a(href='http://www.globalforestwatch.org/howto/view-data') View Data
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/howto/conduct-analysis-and-subscribe-to-alerts') Conduct analysis &amp; subscribe to alerts
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/howto/submit-a-story') Submit a story
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/howto/faqs') FAQs
//-                 |           
//-                 .col
//-                   h3
//-                     a(href='http://www.globalforestwatch.org/about') About
//-                   |             
//-                   ul
//-                     li
//-                       a(href='http://www.globalforestwatch.org/about/about-gfw') About GFW
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/about/the-gfw-partnership') The GFW partnership
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/about/videos') Videos
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/about/awards_and_testimonials') Awards &amp; testimonials
//-                     |               
//-                     li
//-                       a(href='http://www.globalforestwatch.org/about/contact-us') Contact us

//-         .partner-box
//-           .inner
//-             h4 A partnership convened by
//-             |       
//-             .row
//-               a.wri-logo(href='http://www.wri.org/', target='_blank')
//-               |         
//-               p.address
//-                 strong Global Forest Watch
//-                 |           
//-                 span 10 G Street NE Suite 800, Washington, DC 20002, USA 
//-                 |           
//-                 span
//-                   | Phone 
//-                   a(href='tel:+1 (202) 729-7600') +1 (202) 729-7600
//-                   |  Fax: 
//-                   a(href='tel:+1 (202) 720 7610') +1 (202) 720 7610

//-         .footer-logos-btn
//-           .inner
//-             a.btn.gray(href='/about/the-gfw-partnership') View all partners

//-         .footer-logos
//-           .inner
//-             #footer-logos
//-               div
//-                 a.footer-logo.bnpb(target='_blank', href='http://bnpb.go.id/')
//-               |         
//-               div
//-                 a.footer-logo.google(href='http://earthengine.google.org/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.esri(href='http://www.esri.com/gfw', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.universitymaryland(href='http://www.geog.umd.edu/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.unep(href='http://www.unep.org/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.imazon(href='http://www.imazon.org.br/pagina-inicial-en?set_language=en&cl=en', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.cfgd(href='http://www.cgdev.org/', target='_blank')
//-               |         
//-               div
//-                 a.digitalglobe(target='_blank', href='https://www.digitalglobe.com/')
//-               |         
//-               div
//-                 a.footer-logo.osfac(href='http://osfac.net/index.php?lang=en', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.gfwca(href='http://www.globalforestwatch.ca/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.scanex(href='http://www.scanex.ru/en/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.twrus(href='http://www.transparentworld.ru/ru/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.goodall(href='http://www.janegoodall.org/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.redd(target='_blank', href='http://www.redd-indonesia.org/')
//-               |         
//-               div
//-                 a.footer-logo.cgiar(href='http://foreststreesagroforestry.org/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.cartodb(href='http://cartodb.com/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.vizzuality(href='http://vizzuality.com/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.blueraster(href='http://blueraster.com/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.norwegian(href='https://www.regjeringen.no/en/topics/climate-and-environment/climate/klima--og-skogprosjektet/id2000712/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.usaid(href='http://www.usaid.gov/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.gef(href='http://www.thegef.org/gef/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.ukaid(href='http://www.gov.uk/government/organisations/department-for-international-development', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.moore(href='http://www.moore.org/', target='_blank')
//-               |         
//-               div
//-                 a.footer-logo.tilia(href='http://www.tiliafund.org/', target='_blank')

//-         .terms
//-           a(href='http://www.globalforestwatch.org/terms') Terms of Service
//-           |  -
//-           |     
//-           a(href='http://stats.pingdom.com/me0q72oj01nt', target='_blank') Global Forest Watch System Status
//-           |  -
//-           |     
//-           a(href='mailto:gfw@wri.org') Contact us



//-     //- div.footerMovableWrapper#footerMovableWrapper
//-     //-     div.footerMovableModes

//-     //-         div.container-large.share
//-     //-             div
//-     //-                 div.title Spread the word: share GFW Fires
//-     //-                 div.share-container
//-     //-                     a(href="https://twitter.com/share" class="twitter-share-button" data-hashtags="MelawanAsap,Indonesiafires" data-text="GFW Fires maps the latest fire alerts for Southeast Asia" data-lang="en") Tweet
//-     //-                     //-div(class="g-plus" data-action="share" data-annotation="bubble")
//-     //-                     div(class="fb-share-button" data-href="http://fires.globalforestwatch.org" data-type="button_count")
//-     //-                 div.sign-up
//-     //-                     span.title Sign up to receive updates.
//-     //-                     a(title="Receive Global Forest Watch updates" href="http://www.wri.org/global-forest-watch-stay-informed" target="_blank")
//-     //-                         img.subscribe(src="app/images/envelope-gray.png")
//-     //-                     a(title="Follow @globalforests" href="https://twitter.com/globalforests" target="_blank")
//-     //-                         img.subscribe(src="app/images/twitter-gray.png")
//-     //-                 div.links
//-     //-                     span
//-     //-                         a(target="_blank" href="http://www.globalforestwatch.org/terms") Terms of Service
//-     //-                         | &nbsp; · &nbsp;
//-     //-                         a(target="_blank" href="http://stats.pingdom.com/me0q72oj01nt") Global Forest Watch System Status
//-     //-                 div.wri-address
//-     //-                     br
//-     //-                     br
//-     //-                     div.title A partnership convened by
//-     //-                     a.wri-logo(href="http://www.wri.org" target="_blank")

//-     //-                     div.address 10 G Street NE Suite 800, Washington, DC 20002, USA
//-     //-                                 |<br> Phone +1 (202) 729-7600
//-     //-                                 |<br> Fax +1 (202) 729-7610
//-     //-                                 |<br> Email 
//-     //-                                 a(href="mailto:gfw@wri.org") gfw@wri.org

//-     //-         div.container-small.about-project
                
//-     //-         div.container-large.wri-address
//-     //-             div
//-     //-                 div.title GFW Fires is a project of Global Forest Watch
//-     //-                     a.gfw-logo(href="http://www.globalforestwatch.org/about/partners" target="_blank")
//-     //-             div
//-     //-                 div.title Core partners
//-     //-                 div
//-     //-                     br
//-     //-                 div.footer-logos
//-     //-                     a.footer-logo.digital-globe(target="_blank" href="http://www.digitalglobe.com")                 
//-     //-                     a.footer-logo.esri(target="_blank" href="http://www.esri.com/gfw")
//-     //-                     a.footer-logo.google(target="_blank" href="https://earthengine.google.org")
//-     //-                     a.footer-logo.bpredd(target="_blank" href="http://www.redd-indonesia.org/")

                
//-     //-         div

