include html/_mixins.jade
doctype.html
html
  head
    // replace title with intl config string
    block head
    include html/_meta.jade
    include html/_gfwAssetsHead.jade
    style.
      .box {
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
      }
  body
    include html/_gfwAssetsBody.jade
    include html/_ie9.html
    #headerGfw
    block content
    #footerGfw
