div#aboutInnerContainer(class="content-inner-container")
    div#aboutHeader(class="content-header")
        h1 About
        h4 Global Forest Watch-Fires (GFW-Fires) is an online platform for monitoring and responding to forest and land fires in the ASEAN region using near real-time information. GFW-Fires can empower people to better combat harmful fires before they burn out of control and hold accountable those who may have burned forests illegally.            
    div#aboutContentContainer(class="content-container")
        div#navLeft(class="navigation_left")
            ul#aboutNavList(class="navigation-list")
                li#navListTitle(class="item-title")
                    i(class='caret-down')
                div(data-bind="foreach:leftLinks")
                    li(data-bind='click:$root.linkClick')
                        a(data-bind='html:name,css:{selected:selected}')
        div#contentRight(class="content_right" data-bind="html:htmlContent")