link(rel='stylesheet', href='app/css/jquery-ui.min.css')
div#storyInnerContainer(class="content-inner-container")
    h1#storyTitle.source_category_title Share information on fires
    div#submitBox
        //-div#previewDiv(style='display:none;')
        form(name="login", action="/login", method="post")
            div.storiesInput
                h5.storyHeader TITLE
                //-h5#requiredTitle.requiredItem Required
                input(id="storyTitleInput", data-bind="value: storyTitleData", type="text", placeholder="Illegal Logging in National Park" required)
            div.storiesInput
                h5.storyHeader AFFECTED AREAS
                h5#requiredArea.requiredItem Drop a pin on the map near the affected area
                #storiesMap(data-dojo-type='dijit/layout/ContentPane', data-dojo-props="region:'center'", style='padding:0;')
                    div(id='storyBasemaps' style='position:absolute; right:835px; top:270px; z-Index:10;')
                      div(data-dojo-type='dijit/TitlePane', data-dojo-props="title:'Basemaps', closable:false, open:false")
                        div(data-dojo-type='dijit/layout/ContentPane', style='width:255px; height:220px; overflow:auto;')
                          #basemapGallery
            div.storiesInput
                h5.storyHeader LOCATION
                input(id="storyLocationInput", data-bind="value: storyLocationData", type="text", placeholder="'Katingan Peatland area, Indonesia,' 'Near Ambanja, Mozambique'")
            div.storiesInput
                h5.storyHeader DATE
                input(id="storyDateInput", type="text", placeholder="mm/dd/yyyy", data-bind="value:datePicker()")

            div.storiesInput
                h5.storyHeader DETAILS
                textarea(id="storyDetailsInput", data-bind="value: storyDetailsData", type="text", placeholder="'Selective logging with chainsaws', 'Burning peatland', 'Forest cleared for agriculture', 'Affected species'")
            div.storiesInput
                h5#videoHeader.storyHeader VIDEO
                input(id="storyVideoInput", data-bind="value: storyVideoData", type="url", placeholder="http://www.youtube.com/watch?v=ITG-0brb98I")
            div.storiesInput
                h5.storyHeader MEDIA
                div(id="storyMediaInput", data-bind="foreach:inputFilesSelector")
                    input(type="file", name="attachment", class="uploadInput" data-bind="event: {change:$root.mediaChange}")
                    div.uploadList(data-bind="click:$root.attachmentRemove, event: {mouseenter: $root.mouseoverFile, mouseleave: $root.mouseoutFile}")

            div.storiesInput
                h5.storyHeader NAME
                input(id="storyNameInput", data-bind="value: storyNameData", type="text")
            div.storiesInput
                h5.storyHeader EMAIL
                //-h5#requiredEmail.requiredItem Required
                input(id="storyEmailInput", data-bind="value: storyEmailData", type="email" required)
                input(type="email",name="verify_email",id="verifyEmailForStory",placeholder='Verify Email(Leave blank if your human)')
        div#submitStory.footerModes
                input(type="submit", value="Submit Comments", class="action", data-bind="click: uploadStory")
            p

    div#contentRightStory.footerModes
        h5.storyHeader WHY SHARE COMMENTS?
        p.desc Your participation can greatly improve understanding of what is happening with land fires in Southeast Asia.

        h5.storyHeader HOW YOUR STORIES WILL BE USED
        p.desc Your story will be immediately displayed on the GFW Fires map and will be visible to all visitors to the site. WRI is not responsible for how this information is used by these visitors, and it reserves the right to remove stories that are inappropriate or not related to forest issues. 
        p
        p.desc You can submit a story by sharing text, image, video, or web links showing how land fires are impacting people and forests in Indonesia. Submit a story to: 
            li.desc
                p confirm or refute remotely sensed data;
            li.desc
                p report illegal activities;
            li.desc
                p call attention to a threat or conflict in your area;
            li.desc
                p tell a fire response success story; or
            li.desc
                p share your local expertise.
        p#alignWithMedia.desc Drag & drop images and videos to reorder them within the carrousel. The first one will be considered as the preferred one. If you share your name, it will be visible on the GFW Fires website, but your email will not be published. 
        p#alignWithEmail.desc In some areas, fire information is considered to be highly sensitive-users are encouraged to be cautious when sharing their names. 

//-
    div#aboutContentContainer(class="content-container")
        div#navLeft(class="navigation_left")
            ul#aboutNavList(class="navigation-list")
                li#navListTitle(class="item-title")
                    i(class='caret-down')
                div(data-bind="foreach:leftLinks")
                    li(data-bind='click:$root.linkClick')
                        a(data-bind='html:name,css:{selected:selected}')
        div#contentRight(class="content_right" data-bind="html:htmlContent")