
<div id="aboutInnerContainer" class="content-inner-container">
  <div id="aboutHeader" class="content-header">
    <h1>Stories</h1>
    <h4>Global Forest Watch Fires (GFW Fires) is an online platform for monitoring and responding to forest and land fires in the ASEAN region using near real-time information. GFW Fires can empower people to better combat harmful fires before they burn out of control and hold accountable those who may have burned forests illegally.            </h4>
  </div>
  <div id="aboutContentContainer" class="content-container">
    <div id="navLeft" class="navigation_left">
      <ul id="aboutNavList" class="navigation-list">
        <li id="navListTitle" class="item-title"><i class="caret-down"></i></li>
        <div data-bind="foreach:leftLinks">
          <li data-bind="click:$root.linkClick"><a data-bind="html:name,css:{selected:selected}"></a></li>
        </div>
      </ul>
    </div>
    <div id="contentRight" data-bind="html:htmlContent" class="content_right"></div>
  </div>
</div>