extends ../_layout.jade

block head
  title #{data.meta.title}
  style
    :stylus
      @require '../css/_content'

block content
  +navigation(global.pages, 'data')

  div.back-pebble
    section
      div.content-header
        h1 #{data.title}
        p #{data.description}

  section
    ul
      li DATA
      li FIRES
      li FOREST USE
